<% include ../partials/header.ejs %>


<% include ../partials/session_search.ejs %>


<div class="row">
    <div class="col-lg-12">
        <div class="session_types ">

            <h2>
                Izberi vrsto seje
            </h2>
            <ul class="clearfix">
                <li>
                    <a href="/seje/tip/seje-dz">
                        Seje DZ
                    </a>
                </li>
                <li>
                    <a href="/seje/tip/seje-delovnih-teles">
                        Seje delovnih<br> teles
                    </a>
                </li>
                <li>
                    <a href="/seje/tip/seje-kolegija-predsednika-dz">
                        Seje kolegija <br>predsednika DZ
                    </a>
                </li>
            </ul>



        </div>
    </div>
</div>




<% include ../partials/footer.ejs %>