.funblue {
    background: #009cdd; }

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; }

h1 {
    font-weight: 500; }

.thin {
    font-weight: 100; }

body {
    background-color: #f0f0f0; }

.container {
    max-width: 520px; }

@media (min-width: 992px) {
    .container {
        max-width: 1010px; } }

a:focus, button:focus {
    outline: none; }

.nopadding {
    padding: 0 !important; }

.nomargin {
    margin: 0 !important; }

.nopadding-left {
    padding-left: 0 !important; }

.nopadding-right {
    padding-right: 0 !important; }

.nomargin-left {
    margin-left: 0 !important; }

.nomargin-right {
    margin-right: 0 !important; }

.paddingtop5px {
    padding-top: 5px; }

.card-container {
    margin-top: 20px;
    /* overriding bootstrap's padding */
    margin-left: -9px;
    margin-right: -9px;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    -khtml-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    -ms-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    -o-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.card-header {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch; }

.card-header .card-header-border {
    display: flex;
    float: none;
    margin-right: 0;
    width: 3px;
    min-width: 3px;
    height: auto;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009cdd+0,ff5e41+100 */
    background: #009cdd;
    /* Old browsers */
    background: -moz-linear-gradient(top, #009cdd 0%, #ff5e41 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #009cdd 0%, #ff5e41 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #009cdd 0%, #ff5e41 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009cdd', endColorstr='#ff5e41',GradientType=0 );
    /* IE6-9 */
    float: none;
    margin-left: 20px; }

.card-header h1 {
    margin: 0;
    font-size: 24px !important;
    line-height: 40px;
    padding-left: 13px; }

.card-content {
    width: 100%;
    padding: 0 20px 0 20px;
    margin: 0 0 10px 0; }

.col-md-6 > .card-container .card-content {
    height: 480px; }

.col-md-6 > .card-container .card-content.half {
    height: 220px; }

.card-placeholder {
    background-color: #f0f0f0;
    width: 100%;
    height: 300px; }

.card-footer {
    width: 100%;
    position: relative;
    height: 62px;
    padding: 14px 20px 14px 20px;
    /* this background thing is a hack, still work TODO */
    background-image: url("https://cdn.parlameter.si/v1/parlassets/img/shortline.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%; }

.card-circle-button {
    width: 30px;
    height: 30px;
    display: block;
    float: right;
    margin-left: 8px;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #197197;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    cursor: pointer; }

.card-info {
    font-weight: 100; }

.card-embed {
    background-image: url("https://cdn.parlameter.si/v1/parlassets/icons/embed.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%; }

.card-share {
    background-image: url("https://cdn.parlameter.si/v1/parlassets/icons/share.svg");
    background-repeat: no-repeat;
    background-position: 6px center;
    background-size: 50% 50%; }

/*

*/
.card-header-embed {
    height: 115px; }
.card-header-embed .headerimage-container {
    float: left;
    width: 80px;
    height: 80px; }
.card-header-embed .headerwords-container {
    float: left;
    margin-left: 15px; }
.card-header-embed .headerwords-container h1 {
    color: #009cdd;
    font-weight: 200;
    font-size: 20px !important;
    line-height: 20px !important; }
.card-header-embed .headerwords-container h2 {
    color: #505050;
    font-size: 18px;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 0; }
.card-header-embed .headerwords-container h2 .name {
    font-weight: 400; }

.card-embed-header-divider {
    height: 1px;
    background-image: url("https://cdn.parlameter.si/v1/parlassets/img/shortline.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -20px;
    margin-right: -20px; }

.cardhelper {
    margin: 0 0 10px;
    padding: 0; }

.card-circle-button.card-circle-open {
    background-image: none; }

.card-circle-button.card-circle-closed {
    background-image: none;
    content: "X"; }

.alt-header-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
.alt-header-container .alt-header {
    width: 100%;
    padding: 0 20px 20px 20px; }
.alt-header-container .alt-header .session-logo {
    display: block;
    float: left;
    margin-right: 15px;
    border: none; }
.alt-header-container .alt-header .session-logo b {
    font-size: 20px; }
.alt-header-container .alt-header .header-info-container {
    vertical-align: baseline;
    float: left;
    padding-top: 2px; }
.alt-header-container .alt-header .header-info-container h1 {
    font-size: 16px !important; }
.alt-header-container .alt-header .header-info-container h1, .alt-header-container .alt-header .header-info-container h2 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 18px; }
.alt-header-container .alt-header .header-info-container h2.partyinfo {
    font-weight: 300;
    font-family: 'Roboto Slab'; }
.alt-header-container .alt-header .header-info-container h2.cardname {
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    margin-top: 18px;
    color: #009cdd; }
.alt-header-container .portrait {
    border-radius: 50%;
    flex: none;
    height: 80px;
    margin: 0 18px 0 0;
    width: 80px;
    float: left; }
.alt-header-container .alt-header-border {
    height: 1px;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009cdd+0,ff5e41+100 */
    background: #009cdd;
    /* Old browsers */
    background: -moz-linear-gradient(left, #009cdd 0%, #ff5e41 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #009cdd 0%, #ff5e41 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #009cdd 0%, #ff5e41 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009cdd', endColorstr='#ff5e41',GradientType=1 );
    /* IE6-9 */ }

.card-container {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.1, 1.08);
    transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.1, 1.08);
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.1, 1.08);
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.1, 1.08), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.1, 1.08);
    -webkit-font-smoothing: antialiased;
    overflow: visible; }

.card-container.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
.card-container.flipped .front {
    pointer-events: none; }

.front {
    backface-visibility: hidden;
    overflow: hidden;
    position: relative; }

.back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background: #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    backface-visibility: hidden;
    overflow: hidden; }

.card-exit {
    background-color: #009CDD;
    background-image: none;
    font-size: 26px;
    font-weight: 300;
    line-height: 28px;
    text-align: center; }

.info-text {
    position: relative;
    margin: auto;
    max-width: 600px;
    font-weight: 300;
    margin-bottom: 1.5em; }

label {
    text-shadow: none;
    font-weight: 400; }

input.form-control, textarea.form-control {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #000000; }

.btn-parlameter {
    background-color: #009CDD;
    border: none;
    color: #ffffff;
    height: 34px;
    line-height: 30px;
    padding: 0 10px;
    margin-top: 5px; }

.btn-full-width {
    width: 100%; }

.btn-margin-left {
    margin-left: 20px; }

/* The switch - the box around the slider */
.embed-switch-container {
    width: 100%;
    height: 35px;
    overflow: hidden;
    position: relative; }

.embed-label {
    float: left;
    line-height: 30px;
    margin-right: 20px; }

.embed-switch-box {
    display: block;
    position: relative;
    margin-top: 1px;
    float: left;
    overflow: hidden;
    border-radius: 60px; }
.embed-switch-box .embed-switch {
    display: inline-block;
    height: 20px;
    margin-top: 5px;
    overflow: hidden;
    width: 57px;
    transition: all 0.5s; }
.embed-switch-box .embed-switch .embed-switches {
    width: 93px;
    height: 20px;
    position: relative;
    left: 0;
    transition: all 0.5s; }
.embed-switch-box .embed-switch .leftswitch {
    float: left;
    width: 50%;
    text-align: left;
    background-color: #009CDD;
    padding-left: 10px;
    color: #ffffff; }
.embed-switch-box .embed-switch .rightswitch {
    float: right;
    width: 50%;
    text-align: right;
    background-color: #f0f0f0;
    padding-right: 10px; }

.embed-switch-ball {
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: #197197;
    position: absolute;
    top: 3px;
    right: 10px;
    transition: all 0.5s;
    -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    -khtml-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    -ms-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    -o-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.embed-switch-box.off .embed-switches {
    left: -36.5px; }

.embed-switch-box.off + .embed-switch-ball {
    right: 47px; }

.embed-switch-big-box {
    display: block;
    overflow: hidden;
    position: relative;
    width: 80px;
    padding: 0 10px;
    height: 35px;
    cursor: pointer; }

.embed-divider {
    width: 100%;
    height: 31px;
    padding: 25px 0; }
.embed-divider::before {
    content: '';
    width: 100%;
    height: 0px;
    background-color: #000000;
    display: block;
    position: relative; }

header.header {
    padding-top: 10px;
    background: url("https://cdn.parlameter.si/v1/parlassets/img/top.png") top center no-repeat;
    /*    .navbar {
          border: none;
          margin-bottom: 20px;
          min-height: 50px;
          position: relative;
      }
  */ }
header.header .logo {
    background: url("https://cdn.parlameter.si/v1/parlassets/img/logo.png") center no-repeat;
    width: 150px;
    height: 80px; }
header.header .navbar-collapse.collapse {
    margin-top: 20px; }
header.header .navbar-default {
    background-color: transparent;
    padding-top: 10px; }
header.header .navbar {
    border-radius: 0;
    border-bottom: 1px solid #dbdbdb;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 10px;
    margin-bottom: 10px; }
header.header .navbar-nav > li > a {
    margin: 0 30px;
    font-size: 18px; }
header.header .navbar-form .form-group {
    display: none; }
header.header .search {
    border: none;
    border-radius: 0; }

html {
    position: relative;
    min-height: 100%; }

body {
    /* Margin bottom by footer height */
    margin-bottom: 120px; }

footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 120px;
    background: url("https://cdn.parlameter.si/v1/parlassets/img/bottom.png") bottom center no-repeat; }
footer.footer .cnt {
    border-top: 1px solid #dbdbdb;
    padding-top: 10px;
    margin-top: 10px; }

.me_poslanec {
    padding-bottom: 30px; }

.me_poslanec .poslanec_title {
    font-size: 18px;
    font-weight: 500; }

.me_poslanec .progress_number {
    font-size: 30px;
    line-height: 40px; }

.me_poslanec_mini {
    padding-bottom: 20px; }

.me_poslanec_mini .poslanec_title {
    font-size: 18px;
    font-weight: 100; }

.me_poslanec_mini .progress_number {
    font-size: 16px;
    font-weight: 400; }

.other_poslanec {
    padding-bottom: 30px; }

.other_poslanec .poslanec_title {
    font-size: 18px;
    font-weight: 300; }

.progress {
    border: none;
    box-shadow: none;
    background: none;
    border-radius: 0;
    margin-bottom: 0; }

.progress-bar {
    border: none;
    box-shadow: none;
    border-radius: 0; }

.progress.hugebar2 {
    height: 30px; }

.progress.hugebar {
    height: 38px; }

.progress.hugebar .red {
    background: #ff5e41; }

.progress.smallbar .funblue {
    background: #009cdd; }

.progress.smallbar .red {
    background: #ff5e41; }

.progress_number {
    display: inline-block;
    padding-left: 10px; }

.other_poslanec .progress_number {
    font-size: 20px;
    line-height: 20px; }

.avgminimg {
    float: left;
    position: relative;
    left: -5px; }

.other_poslanec .img-circle {
    width: 35px; }

.progress.avgminmin {
    height: 30px; }

.avgminmin .progress-bar {
    margin-top: 6px;
    height: 20px; }

.avgminmin .progress_number {
    padding-top: 5px; }

.hugebar .cptin {
    font-size: 18px;
    line-height: 38px; }

.progressbar-tooltip {
    position: absolute;
    text-align: center;
    border: 0px;
    pointer-events: none;
    background-color: #525252;
    border-radius: 3px;
    padding: 2px 10px;
    opacity: 0;
    color: #ffffff;
    transition: opacity 0.25s ease-out; }

.session-container {
    height: 100%;
    left: 0;
    margin-left: -9px;
    margin-right: -9px;
    margin-top: 20px;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    top: 0; }
.session-container .header {
    margin-bottom: 20px; }
.session-container h1 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 300; }
.session-container h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 300; }
.session-container font,
.session-container font.date {
    font-weight: 300; }

.session_types {
    margin: 0 auto 20px auto;
    width: 560px;
    text-align: center;
    padding: 0; }
.session_types ul {
    padding: 0; }
.session_types ul li {
    display: table;
    overflow: hidden;
    float: left;
    text-align: center;
    list-style: none;
    margin-right: 10px; }
.session_types ul li a {
    display: table-cell;
    vertical-align: middle;
    line-height: 18px;
    height: 50px;
    width: 160px;
    color: #505050;
    border: 1px solid #dbdbdb;
    padding: 5px 20px;
    text-transform: uppercase; }
.session_types ul li a.active,
.session_types ul li a:hover {
    color: #ffffff;
    background: #009cdd;
    text-decoration: none; }
.session_types h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase; }
.session_types .form-control {
    border-radius: 0;
    border-right: medium none;
    font-size: 20px;
    height: 50px; }
.session_types button.btn {
    border-radius: 0;
    height: 50px; }

.session_type {
    background: #009cdd none repeat scroll 0 0;
    color: #ffffff;
    height: 150px;
    margin-right: 1%;
    padding: 0;
    text-align: center;
    width: 24.2%;
    margin-bottom: 20px;
    display: table;
    overflow: hidden;
    float: left;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }
.session_type span {
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 30px; }
.session_type span font {
    color: #505050; }
.session_type a span {
    color: #ffffff; }

.session_type.col-sm-3:nth-child(4n) {
    margin-right: 0; }

.session_type:hover,
.session_type.active {
    position: relative;
    background: #009cdd;
    cursor: pointer; }

.session_type:hover:after,
.session_type.active:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 156, 221, 0);
    border-top-color: #009cdd;
    border-width: 10px;
    margin-left: -10px; }

.session-container .paneltab {
    padding-top: 15px;
    padding-bottom: 15px; }
.session-container .paneltab .member, .session-container .paneltab #votingCard .member, #votingCard .session-container .paneltab .member {
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 0;
    position: relative; }
.session-container .paneltab .member h3, .session-container .paneltab #votingCard .member h3, #votingCard .session-container .paneltab .member h3 {
    font-size: 18px;
    font-weight: 300;
    margin: 12px 0 0 0; }
.session-container .paneltab .member h4, .session-container .paneltab #votingCard .member h4, #votingCard .session-container .paneltab .member h4 {
    font-size: 14px;
    font-weight: 300; }
.session-container .paneltab .session_other_members img {
    width: 15.67%;
    float: left;
    margin-right: 1%; }

.session-container .paneltab.border-right {
    border-right: 1px solid #f0f0f0; }

.sessionsGetSessionByDate .tab-pane {
    padding: 10px 0; }
.sessionsGetSessionByDate .tab-pane ul {
    padding-left: 0; }
.sessionsGetSessionByDate .tab-pane ul li {
    list-style: none;
    margin-bottom: 15px; }
.sessionsGetSessionByDate .tab-pane ul li p {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 10px;
    padding: 0 20px 10px 20px; }
.sessionsGetSessionByDate .tab-pane .date {
    font-size: 16px;
    font-weight: 400; }

.sessionsGetSessionByDate .nav-tabs {
    border: medium none;
    text-align: center; }
.sessionsGetSessionByDate .nav-tabs li {
    display: inline-block;
    float: none;
    margin: 0;
    text-align: center; }
.sessionsGetSessionByDate .nav-tabs li a {
    border: medium none;
    border-radius: 0;
    color: #009cdd;
    font-size: 40px;
    line-height: 20px;
    padding: 0;
    margin: 0; }
.sessionsGetSessionByDate .nav-tabs li.active a {
    color: #ff5e41; }

.session-logo {
    background: #ff5e41;
    color: #ffffff;
    text-align: center;
    width: 75px;
    height: 75px;
    margin-bottom: 20px;
    border: 2px solid red;
    display: inline-block; }
.session-logo b {
    display: inline-block;
    line-height: 75px;
    font-size: 24px; }

.session_transcript_menu ul {
    padding: 0; }
.session_transcript_menu ul li {
    display: table;
    overflow: hidden;
    float: left;
    text-align: center;
    list-style: none;
    margin-right: 10px; }
.session_transcript_menu ul li a {
    display: table-cell;
    vertical-align: middle;
    line-height: 30px;
    color: #505050;
    border: 1px solid #dbdbdb;
    padding: 0 20px;
    text-transform: uppercase; }
.session_transcript_menu ul li a.active,
.session_transcript_menu ul li a:hover {
    color: #ffffff;
    background: #009cdd;
    text-decoration: none; }

.session_transcript .panel {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px; }

.session_transcript .panel-group .panel {
    border-radius: 4px;
    margin-bottom: 0; }

.session_transcript .panel-default {
    border-color: #ddd; }

.session_transcript .panel-default > .panel-heading {
    background-color: #ffffff;
    border-color: #ddd;
    color: #333; }

.session_transcript .panel-group .panel-heading {
    border-bottom: 0 none; }

.session_transcript .panel-heading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 10px 15px; }

.session_transcript .panel-title {
    color: inherit;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0; }
.session_transcript .panel-title img {
    width: 50px;
    float: left;
    margin-right: 1%; }
.session_transcript .panel-title a .status {
    background: url("https://cdn.parlameter.si/v1/parlassets/img/arrup.png") top center no-repeat;
    width: 40px;
    height: 40px;
    display: inline-block;
    float: right; }
.session_transcript .panel-title a.collapsed .status {
    background: url("https://cdn.parlameter.si/v1/parlassets/img/arrdown.png") top center no-repeat;
    width: 40px;
    height: 40px; }

.session_transcript .panel-collapse.collapsed .status {
    text-align: center;
    background: rgba(240, 240, 240, 0.4);
    cursor: pointer;
    margin-top: -60px;
    padding: 15px 0; }

.session_transcript .panel-collapse .status {
    margin-top: 0px;
    cursor: pointer;
    text-align: center;
    background: rgba(240, 240, 240, 0.4);
    cursor: pointer;
    margin-top: -60px;
    padding: 15px 0;
    z-index: 10;
    position: relative; }

.session_transcript .panel-collapse .status a {
    background: url("https://cdn.parlameter.si/v1/parlassets/img/arrup.png") top center no-repeat;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-decoration: none; }

.session_transcript .panel-collapse .status a:hover {
    text-decoration: none; }

.session_transcript .panel-collapse.collapsed .status a {
    background: url("https://cdn.parlameter.si/v1/parlassets/img/arrdown.png") top center no-repeat;
    width: 40px;
    height: 40px;
    display: inline-block; }

.session_transcript .panel-collapse.collapsed .status .fadeover {
    height: 20px;
    margin-top: -20px;
    position: absolute;
    width: 98.7%;
    display: block;
    background: rgba(240, 240, 240, 0.4); }

.session_transcript .panel-collapse .status .fadeover {
    display: none; }

.session_transcript .panel-collapse.collapsed .alltrans {
    height: 100px;
    overflow: hidden; }

.session_transcript .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top: none; }

.session_transcript .panel-body {
    padding-left: 150px;
    padding-right: 150px;
    font-weight: 300;
    font-size: 18px; }

.session_voting {
    padding: 20px;
    font-size: 18px;
    font-weight: 400; }
.session_voting .single_voting {
    background: #f0f0f0;
    margin-bottom: 20px; }
.session_voting .session_title {
    margin: 15px 0; }
.session_voting .border-left {
    border-left: 2px solid #dbdbdb; }
.session_voting .accepted {
    text-align: center;
    line-height: 100px;
    font-size: 24px; }
.session_voting .accepted.aye {
    color: #009cdd; }
.session_voting .accepted.nay {
    color: #ff5e41; }
.session_voting .session_votes {
    text-align: center;
    font-size: 35px;
    line-height: 40px;
    margin: 15px 0; }
.session_voting .session_votes .type {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase; }
.session_voting .session_votes .indicator {
    width: 30px;
    height: 3px;
    display: block;
    line-height: 3px;
    font-size: 3px;
    margin: 0 auto; }
.session_voting .session_votes .indicator.aye {
    background: #00628c; }
.session_voting .session_votes .indicator.ney {
    background: #009cdd; }
.session_voting .session_votes .indicator.abstention {
    background: #003B54; }
.session_voting .session_votes .indicator.not {
    background: #99E1FF; }
.session_voting a {
    color: inherit; }
.session_voting a:hover {
    color: #009cdd; }

.session_report {
    background: #f0f0f0;
    padding: 10px 20px; }
.session_report .type {
    float: left;
    padding-right: 30px; }
.session_report .type .indicator {
    display: block;
    float: left;
    line-height: 50px;
    width: 12px; }
.session_report .type .number {
    display: block;
    float: left;
    font-size: 30px;
    line-height: 25px;
    padding-left: 5px; }
.session_report .type font {
    font-size: 21px;
    line-height: 18px;
    text-transform: uppercase; }
.session_report .type .status0,
.session_report .type .status1 {
    line-height: 50px;
    font-size: 18px;
    color: #505050; }
.session_report .type .status0 b,
.session_report .type .status1 b {
    font-weight: bold;
    text-transform: uppercase; }

.pspris {
    background: #f0f0f0;
    float: left;
    width: 11.1%;
    margin-right: 10px;
    text-align: center; }
.pspris span {
    font-size: 34px;
    font-weight: 400; }
.pspris font {
    text-transform: uppercase;
    color: black;
    font-size: 22px;
    line-height: 36px;
    display: block; }
.pspris div {
    height: 5px;
    font-size: 5px;
    line-height: 5px;
    margin-top: 10px; }
.pspris div .border {
    background: red;
    width: 56%; }

@media (max-width: 950px) {
    .session_type span {
        padding: 10px; }
    .pspris {
        width: 22.7%; } }

@media (max-width: 950px) {
    .session_types {
        width: 420px; }
    .session_types li {
        width: 125px; }
    .session_transcript .panel-body {
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 300;
        font-size: 18px; } }

@media (max-width: 500px) {
    .session_types {
        width: 100%; }
    .session_types li {
        width: 100%;
        padding: 0;
        margin: 0; } }

@media (max-width: 480px) {
    .session_voting .session_votes {
        font-size: 30px;
        line-height: 40px;
        margin: 15px 0; }
    .session_voting .session_votes .type {
        font-size: 14px;
        line-height: 30px;
        text-transform: uppercase; } }

.member-container {
    height: 100%;
    left: 0;
    margin-left: -9px;
    margin-right: -9px;
    margin-top: 20px;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    top: 0; }
.member-container .header {
    margin-bottom: 20px; }
.member-container h1 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 22px; }
.member-container h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 300; }
.member-container font,
.member-container font.date {
    font-weight: 300;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 10px; }

.member-container-menu ul {
    padding: 0;
    margin: 0 auto;
    display: table; }
.member-container-menu ul li {
    display: table;
    overflow: hidden;
    float: left;
    text-align: center;
    list-style: none;
    margin-right: 20px; }
.member-container-menu ul li a {
    vertical-align: middle;
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    padding: 10px 40px;
    color: #505050;
    border: 1px solid #dbdbdb;
    text-transform: uppercase; }
.member-container-menu ul li a.active,
.member-container-menu ul li a:hover {
    color: #ffffff;
    background: #009cdd;
    text-decoration: none; }

.poslanec {
    padding: 10px 0;
    position: relative; }
.poslanec h3 {
    font-size: 18px;
    font-weight: 300;
    margin: 12px 0 0 0; }
.poslanec h4 {
    font-size: 14px;
    font-weight: 300; }

@media (max-width: 956px) {
    .member-container-menu ul {
        padding: 0;
        margin: 0 auto; }
    .member-container-menu ul li {
        margin-right: 2px; }
    .member-container-menu ul li a {
        font-size: 14px;
        padding: 10px 10px; } }

/* added by muki */
.member, #votingCard .member {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 0; }
.member .image, #votingCard .member .image {
    max-width: 75px;
    max-height: 75px;
    display: flex;
    flex-shrink: 0; }
.member p, #votingCard .member p {
    margin: 0;
    display: flex;
    flex-shrink: 1;
    padding-left: 5px;
    padding-right: 10px;
    justify-content: flex-start; }
.member span, #votingCard .member span {
    margin: 0;
    display: flex;
    flex-grow: 2;
    flex-shrink: 0;
    justify-content: flex-end;
    color: #525252;
    font-weight: 500; }

.member.lastel, #votingCard .lastel.member {
    border: none;
    padding-bottom: 10px; }

/* end of added by muki */
.member-list-generator .analyses, .member-list-generator .parties, .member-list-generator .districts {
    display: flex;
    list-style: none;
    padding: 0; }

.member-list-generator .parties-districts {
    display: flex; }

.member-list-generator .analyses {
    margin: 14px 0; }
.member-list-generator .analyses li {
    align-items: center;
    border: 1px solid #c8c8c8;
    box-sizing: border-box;
    color: #525252;
    cursor: pointer;
    display: flex;
    font-size: 12px;
    height: 61px;
    line-height: 16px;
    margin-right: 3px;
    padding: 0 12px;
    text-transform: uppercase; }
.member-list-generator .analyses li.selected {
    background-color: #009cdd;
    color: #ffffff;
    cursor: default; }
.member-list-generator .analyses li:last-child {
    margin-right: 0; }

.member-list-generator .parties {
    width: 58.33%; }
.member-list-generator .parties li {
    margin-right: 3px; }
.member-list-generator .parties li:last-child {
    margin-right: 0; }

.member-list-generator .districts {
    border: 1px solid #c8c8c8;
    height: 51px;
    margin-left: 15px;
    padding: 12px 14px;
    position: relative;
    width: 41.67%; }
.member-list-generator .districts li {
    background-color: #197197;
    color: #ffffff;
    font-weight: 300;
    line-height: 24px;
    padding: 0 6px; }
.member-list-generator .districts li .cross {
    font-size: 20px;
    font-weight: 400;
    vertical-align: bottom; }
.member-list-generator .districts::after {
    border-color: #197197 transparent transparent transparent;
    border-style: solid;
    border-width: 11px 9px 0 9px;
    content: '';
    height: 0;
    position: absolute;
    right: 19px;
    top: 20px;
    width: 0; }

.person-list .headers, .person-list .person {
    align-items: center;
    display: flex; }
.person-list .headers .column, .person-list .person .column {
    flex: 1;
    margin: 0 8px;
    text-align: center; }
.person-list .headers .column.wider, .person-list .person .column.wider {
    flex: 2; }

.party-button {
    border-top: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
    border-bottom: 7px solid;
    cursor: pointer;
    flex: 1;
    font-size: 13px;
    font-weight: 300;
    height: 51px;
    line-height: 32px;
    text-align: center; }
.party-button.selected {
    border-bottom: 1px solid #c8c8c8;
    color: #ffffff; }
.party-button.smc {
    border-bottom-color: #8fcfee; }
.party-button.smc.selected {
    background-color: #8fcfee; }
.party-button.sds {
    border-bottom-color: #22a2e0; }
.party-button.sds.selected {
    background-color: #22a2e0; }
.party-button.desus {
    border-bottom-color: #5388aa; }
.party-button.desus.selected {
    background-color: #5388aa; }
.party-button.sd {
    border-bottom-color: #4f6379; }
.party-button.sd.selected {
    background-color: #4f6379; }
.party-button.zl {
    border-bottom-color: #857799; }
.party-button.zl.selected {
    background-color: #857799; }
.party-button.nsi {
    border-bottom-color: #b7888a; }
.party-button.nsi.selected {
    background-color: #b7888a; }
.party-button.ps_np {
    border-bottom-color: #d9776b; }
.party-button.ps_np.selected {
    background-color: #d9776b; }
.party-button.imns {
    border-bottom-color: #ba594c; }
.party-button.imns.selected {
    background-color: #ba594c; }
.party-button.nep {
    border-bottom-color: #853f36; }
.party-button.nep.selected {
    background-color: #853f36; }

.person-list {
    margin: 0;
    padding: 0; }
.person-list .headers {
    margin-left: 98px; }
.person-list .headers .column {
    color: #525252;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase; }
.person-list .headers .column.sort::after {
    border-style: solid;
    border-width: 9px 7.5px 0 7.5px;
    border-color: #009cdd transparent transparent transparent;
    content: '';
    display: inline-block;
    margin-left: 8px;
    transform: rotate(180deg); }
.person-list .headers .column.sort.reverse::after {
    transform: none; }
.person-list .person {
    border-bottom: 1px solid #f0f0f0;
    padding: 8px 0; }
.person-list .person:last-child {
    border: none; }
.person-list .person .column {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 300; }
.person-list .person .column.portrait {
    flex: none;
    margin: 0 18px 0 0; }
.person-list .person .column.portrait img {
    border-radius: 50%;
    height: 80px;
    width: 80px; }
.person-list .person .column.name {
    text-align: left; }

@media (max-width: 767px) {
    .person-list .person .column {
        font-size: 16px; }
    .person-list .person .column.portrait {
        margin: 0 10px 0 0; }
    .person-list .person .column.portrait img {
        height: 60px;
        width: 60px; }
    .person-list .headers {
        margin-left: 70px; } }

.group-container {
    height: 100%;
    left: 0;
    margin-left: -9px;
    margin-right: -9px;
    margin-top: 20px;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    top: 0; }
.group-container .header {
    margin-bottom: 20px; }
.group-container h1 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 22px; }
.group-container h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 300; }
.group-container font,
.group-container font.date {
    font-weight: 300;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 10px; }
.group-container .me_group {
    padding-bottom: 30px; }
.group-container .me_group .progress-bar {
    background: #009cdd; }
.group-container .me_group .col150 {
    width: 20%; }
.group-container .me_group .col280 {
    width: 80%; }
.group-container .me_group .group_data_title {
    font-size: 18px;
    font-weight: 500; }
.group-container .me_group .group_data_title a {
    color: inherit; }

.group-container-menu ul {
    padding: 0;
    margin: 0 auto;
    display: table; }
.group-container-menu ul li {
    display: table;
    overflow: hidden;
    float: left;
    text-align: center;
    list-style: none;
    margin-right: 20px; }
.group-container-menu ul li a {
    vertical-align: middle;
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    padding: 10px 40px;
    color: #505050;
    border: 1px solid #dbdbdb;
    text-transform: uppercase; }
.group-container-menu ul li a.active,
.group-container-menu ul li a:hover {
    color: #ffffff;
    background: #009cdd;
    text-decoration: none; }

.group-container-menu.group_data ul li a {
    background: #197197;
    color: #ffffff; }

.group-container-menu.group_data ul li a.active,
.group-container-menu.group_data ul li a:hover {
    color: #ffffff;
    background: #009cdd;
    text-decoration: none; }

@media (max-width: 956px) {
    .group-container-menu ul {
        padding: 0;
        margin: 0 auto; }
    .group-container-menu ul li {
        margin-right: 2px; }
    .group-container-menu ul li a {
        font-size: 14px;
        padding: 10px 10px; } }

.group_voting ul {
    padding: 0; }
.group_voting ul li {
    width: 10%;
    background: #f0f0f0;
    list-style: none;
    margin-right: 1%;
    float: left;
    padding: 10px 5px 5px 5px;
    text-align: center; }
.group_voting ul li b {
    font-size: 18px;
    text-align: justify; }
.group_voting ul li font {
    font-size: 14px;
    text-transform: uppercase; }

.parlaicon {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }

.parlaicon-clanstva {
    background-image: url("https://cdn.parlameter.si/v1/parlassets/icons/clanstva.svg"); }

.parlaicon-skupina {
    background-image: url("https://cdn.parlameter.si/v1/parlassets/icons/skupina.svg"); }

.parlaicon-delaza {
    background-image: url("https://cdn.parlameter.si/v1/parlassets/icons/delaza.svg"); }

.parlaicon-mandat {
    background-image: url("https://cdn.parlameter.si/v1/parlassets/icons/mandat.svg"); }

.parlaicon-status {
    background-image: url("https://cdn.parlameter.si/v1/parlassets/icons/status.svg"); }

.parlaicon-izobrazba {
    background-image: url("https://cdn.parlameter.si/v1/parlassets/icons/izobrazba.svg"); }

.parlaicon-starost {
    background-image: url("https://cdn.parlameter.si/v1/parlassets/icons/starost.svg"); }

.parlaicon-za {
    background-image: url("https://cdn.parlameter.si/v1/parlassets/icons/za.svg"); }

.parlaicon-ni {
    background-image: url("https://cdn.parlameter.si/v1/parlassets/icons/ni.svg"); }

.parlaicon-proti {
    background-image: url("https://cdn.parlameter.si/v1/parlassets/icons/proti.svg"); }

.parlaicon-govor {
    background-image: url("https://cdn.parlameter.si/v1/parlassets/icons/govor.svg"); }

.parlaicon-facebook {
    width: 22px;
    height: 22px;
    line-height: 22px;
    position: relative;
    bottom: -5px;
    background-image: url("https://cdn.parlameter.si/v1/parlassets/icons/facebook.svg"); }

.parlaicon-twitter {
    width: 22px;
    height: 22px;
    line-height: 22px;
    position: relative;
    bottom: -5px;
    background-image: url("https://cdn.parlameter.si/v1/parlassets/icons/twitter.svg"); }

.parlaicon-linkedin {
    width: 22px;
    height: 22px;
    line-height: 22px;
    position: relative;
    bottom: -5px;
    background-image: url("https://cdn.parlameter.si/v1/parlassets/icons/linkedin.svg"); }

.parlaicon-omrezja {
    width: 22px;
    height: 22px;
    line-height: 22px;
    position: relative;
    bottom: -5px;
    background-image: url("https://cdn.parlameter.si/v1/parlassets/icons/omrezja.svg"); }

/* perfect-scrollbar v0.6.10 */
.ps-container {
    -ms-touch-action: none;
    touch-action: none;
    overflow: hidden !important;
    -ms-overflow-style: none; }

@supports (-ms-overflow-style: none) {
    .ps-container {
        overflow: auto !important; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ps-container {
        overflow: auto !important; } }

.ps-container.ps-active-x > .ps-scrollbar-x-rail,
.ps-container.ps-active-y > .ps-scrollbar-y-rail {
    display: block;
    background-color: transparent; }

.ps-container.ps-in-scrolling {
    pointer-events: none; }

.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
    background-color: #eee;
    opacity: 0.9; }

.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
    background-color: #197197; }

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
    background-color: #eee;
    opacity: 0.9; }

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    background-color: #197197; }

.ps-container > .ps-scrollbar-x-rail {
    display: none;
    position: absolute;
    /* please don't change 'position' */
    /*
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      */
    opacity: 0;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    bottom: 3px;
    /* there must be 'bottom' for ps-scrollbar-x-rail */
    height: 8px; }

.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
    position: absolute;
    /* please don't change 'position' */
    background-color: #197197;
    /*-webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        */
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    bottom: 0;
    /* there must be 'bottom' for ps-scrollbar-x */
    height: 8px; }

.ps-container > .ps-scrollbar-y-rail {
    display: none;
    position: absolute;
    /* please don't change 'position' */
    /*-webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      */
    opacity: 0;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    right: 3px;
    /* there must be 'right' for ps-scrollbar-y-rail */
    width: 4px; }

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    position: absolute;
    /* please don't change 'position' */
    background-color: #197197;
    /*-webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        */
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    right: 0;
    /* there must be 'right' for ps-scrollbar-y */
    width: 4px; }

.ps-container:hover.ps-in-scrolling {
    pointer-events: none; }

.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
    background-color: #eee;
    opacity: 0.9; }

.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
    background-color: #197197; }

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
    background-color: #eee;
    opacity: 0.9; }

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    background-color: #197197; }

.ps-container:hover > .ps-scrollbar-x-rail,
.ps-container:hover > .ps-scrollbar-y-rail {
    opacity: 0.6; }

.ps-container:hover > .ps-scrollbar-x-rail:hover {
    background-color: #eee;
    opacity: 0.9; }

.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
    background-color: #197197; }

.ps-container:hover > .ps-scrollbar-y-rail:hover {
    background-color: #eee;
    opacity: 0.9; }

.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
    background-color: #197197; }

#votingCardHorizontal {
    color: #505050;
    margin-right: 4px;
    overflow: hidden; }
#votingCardHorizontal #scrollbar-voting-card-horizontal {
    position: relative; }
#votingCardHorizontal .slider {
    width: 787px;
    float: left;
    overflow: hidden;
    padding: 0 4px; }
#votingCardHorizontal .slider .slider-content {
    width: 5000px;
    position: relative; }
#votingCardHorizontal .slider div.member {
    margin: 0 16px; }
#votingCardHorizontal .navigate-left, #votingCardHorizontal .navigate-right {
    width: 50px;
    font-size: 26px;
    margin: 75px 0 0 0;
    cursor: pointer; }
#votingCardHorizontal .navigate-left {
    float: left; }
#votingCardHorizontal .navigate-right {
    float: right; }
#votingCardHorizontal div.member {
    padding: 10px 0 0 0;
    position: relative;
    width: 130px;
    text-align: center;
    float: left; }
#votingCardHorizontal div.member .image {
    width: 75px;
    height: 75px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-position: center center;
    background-size: 150px;
    margin: 0 auto; }
#votingCardHorizontal div.member p {
    font-size: 18px;
    font-weight: 300;
    margin: 15px 0 0 0; }
#votingCardHorizontal div.member span {
    font-size: 36px;
    font-weight: 400; }

@media (max-width: 991px) {
    #votingCardHorizontal #scrollbar-voting-card-horizontal {
        position: relative; }
    #votingCardHorizontal .slider {
        width: 291px;
        padding: 0 1px; }
    #votingCardHorizontal .slider div.member {
        margin: 0 14px; } }

@media (max-width: 500px) {
    #votingCardHorizontal .slider {
        width: 100%;
        padding: 0;
        float: none;
        overflow: auto;
        padding-bottom: 20px; }
    #votingCardHorizontal .navigate-left, #votingCardHorizontal .navigate-right {
        display: none; } }

.clearfix {
    clear: both; }

.member, #votingCard .member {
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 15px 10px 0;
    position: relative; }
.member .image, #votingCard .member .image {
    width: 75px;
    height: 75px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-position: center center;
    background-size: 150px;
    float: left; }
.member p, #votingCard .member p {
    margin: 12px 0 0 30px;
    float: left;
    font-size: 18px;
    font-weight: 300; }
.member span, #votingCard .member span {
    float: right;
    font-size: 36px;
    font-weight: 400;
    margin: 13px 0 0 0; }

#votingCard {
    color: #505050; }
#votingCard #scrollbar-voting-card {
    position: relative;
    width: 100%;
    height: 100%; }
#votingCard .no-border {
    border-bottom: 0 !important; }

@media (max-width: 500px) {
    #votingCard #scrollbar-voting-card {
        position: relative;
        width: 100%;
        height: 100%; }
    #votingCard div.member p {
        width: 100px; }
    #votingCard div.member span {
        font-size: 30px;
        margin: 14px 0 0 0; } }

.recent-activity {
    color: #505050; }
.recent-activity #scrollbar-recent-activity {
    position: relative;
    width: 100%;
    height: 100%; }
.recent-activity section {
    clear: both;
    position: relative; }
.recent-activity section span.date {
    width: 50px;
    font-size: 16px;
    font-weight: 400;
    float: left;
    margin: 20px 0 0 0; }
.recent-activity section ul {
    margin: 0 20px 0 0;
    list-style-type: none;
    float: left;
    border-top: 1px solid #f0f0f0;
    padding: 0 15px 0 0;
    width: calc(100% - 70px); }
.recent-activity section ul li:first-child {
    margin: 20px 0 30px 0; }
.recent-activity section ul li:last-child {
    margin: 30px 0 20px 0; }
.recent-activity section ul li {
    margin: 30px 0 30px 0;
    position: relative; }
.recent-activity section ul li span {
    margin: 0;
    width: 50px;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 2px;
    font-size: 25px; }
.recent-activity section ul li p {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 0 65px; }
.recent-activity section ul li p a {
    font-weight: 400; }

.col50 {
    /*width: 50px;*/
    width: 11.6%;
    float: left; }

.col150 {
    /*width: 150px;*/
    width: 34.9%;
    float: left; }

.col100 {
    /*width: 100px;*/
    width: 23.2%;
    float: left; }

.col180 {
    /*width: 170px;*/
    width: 41.8%;
    float: left; }

.col280 {
    /*width: 280px;*/
    width: 65.1%;
    float: left; }

.col300 {
    /*width: 300px;*/
    width: 69.7%;
    float: left; }

.nopadding {
    padding: 0; }

.bgwhite {
    background: #ffffff; }

.me_poslanec {
    padding-bottom: 30px; }

.me_poslanec .poslanec_title {
    font-size: 18px;
    font-weight: 500; }

.other_poslanec {
    padding-bottom: 30px; }

.other_poslanec .poslanec_title {
    font-size: 18px;
    font-weight: 300; }

.progress {
    border: none;
    box-shadow: none;
    background: none;
    border-radius: 0;
    margin-bottom: 0; }

.progress-bar {
    border: none;
    box-shadow: none;
    border-radius: 0; }

.progress.hugebar {
    height: 40px; }

.progress.hugebar .red {
    background: #ff5e41; }

.progress.smallbar .funblue {
    background: #009cdd; }

.me_poslanec .progress_number {
    font-size: 30px;
    line-height: 30px; }

.other_poslanec .progress_number {
    font-size: 20px;
    line-height: 20px; }

.avgminimg {
    float: left;
    position: relative;
    left: -5px; }

.other_poslanec .img-circle {
    width: 30px; }

.progress.avgminmin {
    height: 32px; }

.avgminmin .progress-bar {
    margin-top: 6px;
    height: 20px; }

.avgminmin .progress_number {
    padding-top: 5px; }

.progress_number {
    display: inline-block;
    padding-left: 10px; }

.poslanec .nav-tabs {
    border-bottom: none;
    padding-bottom: 40px;
    display: flex; }

.poslanec .nav-tabs > li {
    flex: 1;
    text-align: center;
    margin-left: 3px; }
.poslanec .nav-tabs > li:first-child {
    margin-left: 0; }

.poslanec .nav > li > a {
    padding: 10px 7px;
    margin: 0 1px 0 0;
    border: none; }

.poslanec .nav > li > a:hover {
    border: none; }

.poslanec .nav-tabs > li > a {
    border-radius: 0;
    border: none;
    color: #505050;
    background: #f0f0f0; }

.poslanec .nav-tabs > li.active > a {
    color: #ffffff;
    background: #009cdd;
    border: none; }

.poslanec .tab-content .poslanec_title {
    font-size: 16px; }

.poslanec .tab-content .me_poslanec {
    padding-bottom: 40px; }

.poslanec .tab-content .other_poslanec {
    padding-bottom: 40px; }

.poslanec .bordertop {
    border-top: 1px solid #f0f0f0; }

.poslanec .key {
    display: inline-block;
    font-size: 16px;
    padding: 10px 0;
    color: #505050;
    width: 88%; }

.poslanec a {
    color: #197197; }

.noborder {
    border: none; }

.poslanec .getListFriendlyBodies {
    font-size: 16px; }

.poslanec .getListFriendlyBodies .tab-pane {
    padding: 10px 0;
    text-align: center; }

.poslanec .getListFriendlyBodies .nav-tabs {
    border: none;
    text-align: center; }

.poslanec .getListFriendlyBodies .nav-tabs li {
    display: inline-block;
    float: none;
    margin: 0;
    text-align: center; }

.poslanec .getListFriendlyBodies .nav-tabs li a {
    border: medium none;
    border-radius: 0;
    padding: 5px;
    color: #009cdd;
    font-size: 40px;
    line-height: 20px; }

.poslanec .getListFriendlyBodies .nav-tabs li.active a {
    color: #ff5e41; }

.me_poslanec_mini {
    padding-bottom: 20px; }

.me_poslanec_mini .poslanec_title {
    font-size: 18px;
    font-weight: 100; }

.me_poslanec_mini .progress_number {
    font-size: 16px;
    font-weight: 400; }

.progress.hugebar2 {
    height: 30px; }

.progress.smallbar .red,
.indicator.red {
    background: #ff5e41; }

.progress.smallbar .sadblue-light,
.indicator.sadblue-light {
    background: #8cb8cb; }

.progress.smallbar .ignoreblue,
.indicator.ignoreblue {
    background: #003B54; }

.progress.smallbar .funblue,
.indicator.funblue {
    background: #009cdd; }

.progress.smallbar .noblue,
.indicator.noblue {
    background: #99E1FF; }

.progress.smallbar .fontblue,
.indicator.fontblue {
    background: #00628c; }

.progress.smallbar .funblue-light,
.indicator.funblue-light {
    background: #d9e7ed; }

.nmbr {
    float: left;
    width: 30px;
    font-size: 40px;
    color: grey;
    font-family: megafont; }

.indexsessionpart .link {
    text-transform: uppercase; }

.well {
    padding: 35px 0;
    text-align: center;
    background: none;
    border: none; }
.well a {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    line-height: 58px;
    margin: 5px;
    padding: 10px 10px;
    background: #009cdd; }
.well a .more {
    font-size: 18px;
    text-transform: uppercase;
    font-style: italic;
    text-decoration: underline;
    font-weight: bold; }

.indexsessionpart .link {
    border-top: 1px solid #f0f0f0;
    color: #00628c;
    margin-top: 10px;
    padding: 10px 0 20px;
    text-transform: uppercase; }

.seja_transkript .me_poslanec .poslanec_title {
    font-weight: 100;
    line-height: 34px; }

.seja_transkript .me_poslanec .nmbr {
    float: left;
    width: 25px;
    font-size: 34px;
    line-height: 34px;
    color: #f0f0f0;
    font-family: megafont; }

.iconshowtype {
    display: inline-block;
    padding: 6px;
    color: #505050;
    font-size: 24px; }

.iconshowtype:hover,
.iconshowtype.active {
    color: #009cdd;
    text-decoration: none; }

#poslanci_search .group-container-menu.group_data ul {
    width: 100%; }
#poslanci_search .group-container-menu.group_data ul li {
    margin: 0;
    width: 10.8%; }
#poslanci_search .group-container-menu.group_data ul li a {
    background: #197197;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    line-height: 20px; }
#poslanci_search .group-container-menu.group_data ul li a.active,
#poslanci_search .group-container-menu.group_data ul li a:hover {
    color: #ffffff;
    background: #009cdd;
    text-decoration: none; }

#poslanci_search .poslanci_search.nav {
    text-transform: uppercase;
    padding: 20px 0 0 0;
    height: 48px;
    overflow: hidden; }
#poslanci_search .poslanci_search.nav a {
    line-height: 28px;
    color: #505050;
    text-align: center;
    display: inline-block;
    cursor: pointer; }
#poslanci_search .poslanci_search.nav a .icon {
    display: inline-block;
    width: 14px;
    line-height: 10px;
    margin-left: 20px;
    vertical-align: middle;
    color: #197197; }
#poslanci_search .poslanci_search.nav a .icon a.icon.up {
    color: #197197; }
#poslanci_search .poslanci_search.nav a .icon a.icon.down {
    color: #197197; }
#poslanci_search .poslanci_search.nav a:hover {
    color: #009cdd;
    text-decoration: none; }
#poslanci_search .poslanci_search.nav a:hover .icon .up {
    color: #197197; }
#poslanci_search .poslanci_search.nav a:hover .icon .down {
    color: #197197; }
#poslanci_search .poslanci_search.nav a:hover .icon .up.active {
    color: #009cdd; }
#poslanci_search .poslanci_search.nav a:hover .icon .down.active {
    color: #009cdd; }

#poslanci_search .form-control {
    border-radius: 0;
    border-right: medium none;
    box-shadow: none;
    font-size: 20px;
    height: 40px;
    background: none; }

#poslanci_search .form-control:focus {
    border: 1px solid #dbdbdb; }

#poslanci_search .input-group-btn:hover {
    border: none;
    outline: none; }

#poslanci_search .input-group-btn button.btn {
    border-radius: 0;
    border-left: medium none;
    height: 40px;
    background: none;
    box-shadow: none;
    color: #009cdd; }

#poslanci_search .member {
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 0; }
#poslanci_search .member .image {
    background-position: center center;
    background-size: 150px auto;
    border-radius: 50px;
    height: 80px;
    width: 80px; }
#poslanci_search .member .image img {
    border-radius: 50px;
    width: 100%; }
#poslanci_search .member p {
    font-size: 18px;
    font-weight: 300; }

.scroller {
    height: 100%;
    position: relative;
    width: 100%; }

.searchnastopi .row .border {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 10px;
    padding-bottom: 10px; }

.searchnastopi .row .member, .searchnastopi .row #votingCard .member, #votingCard .searchnastopi .row .member {
    padding: 10px 0; }
.searchnastopi .row .member .image, .searchnastopi .row #votingCard .member .image, #votingCard .searchnastopi .row .member .image {
    width: 75px;
    height: 75px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-position: center center;
    background-size: 150px;
    float: left; }
.searchnastopi .row .member p, .searchnastopi .row #votingCard .member p, #votingCard .searchnastopi .row .member p {
    margin: 12px 0 0 40px;
    float: left;
    font-size: 18px;
    font-weight: 300; }
.searchnastopi .row .member span, .searchnastopi .row #votingCard .member span, #votingCard .searchnastopi .row .member span {
    float: right;
    font-size: 16px;
    font-weight: 300;
    margin: 12px 0 0 0; }

.searchnastopi .row .desc {
    font-size: 16px;
    font-weight: 300; }

.getPager .pagination {
    text-align: center;
    width: 280px;
    margin: 0 auto;
    display: block; }
.getPager .pagination li a {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #dbdbdb;
    color: #505050;
    font-size: 14px;
    padding: 5px 10px;
    margin-right: 10px;
    border: none; }
.getPager .pagination li a span {
    color: #505050; }
.getPager .pagination li.active a {
    background: #009cdd;
    color: #ffffff; }

.nav-tabs > li.width50p {
    width: 50%; }

.nav-tabs > li.width33p {
    width: 33%; }

.izracunana_prisotnost .tab-content .me_poslanec {
    padding-bottom: 10px; }
.izracunana_prisotnost .tab-content .me_poslanec .hugebar {
    height: 20px; }
.izracunana_prisotnost .tab-content .me_poslanec .progress_number {
    font-size: 25px;
    line-height: 20px; }

.izracunana_prisotnost .tab-content .other_poslanec {
    padding-bottom: 10px; }

.clanstva .tab-content .tab-pane {
    text-align: center; }

.pagination {
    margin: 13px 0 -4px 0; }
.pagination-container {
    text-align: center; }
.pagination li a:focus,
.pagination li a:hover,
.pagination li span:focus,
.pagination li span:hover {
    color: #6d6d6d; }
.pagination li.active > a,
.pagination li.active > a:focus,
.pagination li.active > a:hover,
.pagination li.active > span,
.pagination li.active > span:focus,
.pagination li.active > span:hover {
    background-color: #009cdd; }
.pagination li a {
    background: #f0f0f0;
    border: none;
    border-radius: 50%;
    box-sizing: border-box;
    color: #6d6d6d;
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    margin: 0 1px;
    padding: 0;
    width: 18px; }
.pagination li:first-child a, .pagination li:last-child a {
    background: no-repeat center center url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="5.879" height="11" viewBox="0 0 5.878153 11"><path d="M5.878 5.5L.388 0l-.39.39L5.1 5.5l-5.1 5.11.39.39 5.49-5.5z" fill="#337ab7"/></svg>');
    color: #337ab7;
    font-size: 36px;
    font-weight: 100;
    line-height: 18px;
    margin: 0; }
.pagination li:first-child a {
    transform: scaleX(-1); }