<div id="empty_state">
    <div class="lead-container">
        <img src="https://cdn.parlameter.si/v1/parlassets/img/icons/icon-empty-state.png"/>
        <br>
        <br>
        <br>
        <%- i18n('general.state_one') %>
    </div>
</div>
