<div id="empty_state">
    <div class="lead-container">
        <img src="<%- config.urls.cdn %>/img/icons/icon-empty-state.png"/>
        <br>
        <br>
        <br>
        <%- i18n('general.state_one_dz') %>
    </div>
</div>
