<div id="empty_state">
    <div class="lead-container">
        <img src="https://cdn.parlameter.si/v1/parlassets/img/icons/icon-empty-state.png"/>
        <br/>
        <br/>
        <br/>
        Državni zbor RS ne objavlja podatkov o glasovanjih na delovnih telesih. <a href="mailto:soj@dz-rs.si">Povej jim</a>, da morajo to spremeniti.
    </div>
</div>