<div id="empty_state">
    <div class="lead-container">
        <img src="https://cdn.parlameter.si/v1/parlassets/img/icons/icon-empty-state.png"/>
        <br/>
        <br/>
        <br/>
        Ti šment ... state 555555
    </div>
</div>