<div id="empty_state">
    <div class="lead-container">
        <img src="https://cdn.parlameter.si/v1/parlassets/img/icons/icon-empty-state.png"/>
        <br>
        <br>
        <br>
        Transkripta govorov izbrane seje žal še ni na spletu.
    </div>
</div>
