<% include ../partials/header.ejs %>


<script src="https://unpkg.com/vue@2.0.5/dist/vue.min.js"></script>



<div id="member-list-generator-container">
    <div class="container member-list-generator">
        <div class="row">
            <div class="col-md-12">
                <ul class="analyses">
                    <li v-for="analysis in analyses"
                        :class="{ selected: analysis.id === currentAnalysis }"
                        @click="selectAnalysis(analysis.id)">
                        <span>{{ analysis.label }}</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card-container card-halfling card-seznam-poslanskih-skupin">
                    <div class="card-header">
                        <div class="card-header-border"></div>
                        <h1>Seznam poslancev {{ currentAnalysisData.titleSuffix }}</h1>
                    </div>
                    <div class="card-content">
                        <ul class="party-list">
                            <li v-for="party in processedPartyData" class="party">
                                <div class="column name">
                                    <a :href="'/ps/id/' + party.party.id">{{ party.party.acronym }}</a>
                                </div>
                                <div class="column chart">
                                    <div class="progress hugebar">
                                        <div class="progress-bar funblue" role="progressbar" :style="{ width: party.chartWidth }">
                                            <span class="sr-only">{{ party.displayValue }}</span>
                                        </div>
                                        <div class="progress_number">{{ party.displayValue }}</div>
                                    </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="card-circle-button card-share"></div>
                        <div class="card-circle-button card-embed"></div>
                        <div class="card-circle-button card-info">i</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Generated url</h2>
                <p class="generated-url">{{ generatedCardUrl }}</p>
            </div>
        </div>
    </div>
</div>

<script>
    new Vue({
        el: '#member-list-generator-container',
        data: {
            partyData: [],
            currentAnalysis: 'presence_sessions',
            analyses: [
                { id: 'seat_count',           label: 'Število sedežev',                  titleSuffix: 'po številu sedežev' },
                { id: 'presence_sessions',    label: 'Prisotnost na sejah DZ',           titleSuffix: 'po prisotnosti na sejah DZ',           unit: 'percent' },
                { id: 'presence_votes',       label: 'Prisotnost na glasovanjih sej DZ', titleSuffix: 'po prisotnosti na glasovanjih sej DZ', unit: 'percent' },
                { id: 'vocabulary_size',      label: 'Besedni zaklad',                   titleSuffix: 'po besednem zakladu' },
                { id: 'spoken_words',         label: 'Št. izgovorjenih besed',           titleSuffix: 'po št. izgovorjenih besed' },
                { id: 'speeches_per_session', label: 'Št. govorov na sejo',              titleSuffix: 'po št. govorov na sejo' },
                { id: 'privzdignjeno',        label: 'Privzdignjeno besedje',            titleSuffix: 'po pogostosti rabe privzdignjenega besedja' },
                { id: 'preprosto',            label: 'Preprosto besedje',                titleSuffix: 'po pogostosti rabe preprostega besedja' },
                { id: 'problematicno',        label: 'Problematično besedje',            titleSuffix: 'po pogostosti rabe ekscesnega besedja' },
            ]
        },
        computed: {
            currentAnalysisData: function() {
                var that = this,
                        currentAnalysis

                this.analyses.forEach(function(analysis) {
                    if (analysis.id === that.currentAnalysis) {
                        currentAnalysis = analysis
                    }
                })

                return currentAnalysis
            },
            processedPartyData: function() {
                var that = this

                var sortedParties = this.partyData.sort(function(partyA, partyB) {
                    var a = partyA.results[that.currentAnalysis]
                    var b = partyB.results[that.currentAnalysis]
                    return a < b ? 1 : (a > b ? -1 : 0)
                })

                if (sortedParties.length > 0) {
                    var maxValue = sortedParties[0].results[this.currentAnalysis]
                }

                return sortedParties.map(function(party) {
                    var rawValue = party.results[that.currentAnalysis]
                    party.displayValue = that.round(rawValue, 1) + (that.currentAnalysisData.unit === 'percent' ? '%' : '')
                    party.chartWidth = rawValue === 0 ? '1px' : rawValue / maxValue * 80 + '%'
                    return party
                })
            },
            generatedCardUrl: function() {
                var params = {}
                if (this.currentAnalysis !== 'seat_count') {
                    params.analysis = this.currentAnalysis
                }

                return 'https://glej.parlameter.si/p/seznam-poslancev/' +
                        '?customUrl=' + encodeURIComponent('https://analize.parlameter.si/v1/pg/getListOfPGs') +
                        (Object.keys(params).length > 0 ? '&status=' + encodeURIComponent(JSON.stringify(params)) : '')
            }
        },
        created: function() {
            var that = this
            $.getJSON('https://analize.parlameter.si/v1/pg/getListOfPGs/', function(response) {
                that.partyData = response.data
            })
        },
        methods: {
            selectAnalysis: function(analysisId) {
                this.currentAnalysis = analysisId
            },
            round: function(value, precision) {
                var multiplier = Math.pow(10, precision || 0);
                return Math.round(value * multiplier) / multiplier;
            }
        }
    })
</script>



<% include ../partials/footer.ejs %>