apiVersion: apps/v1
kind: Deployment
metadata:
  name: parlacards-lendava-deployment
  labels:
    app: parlacards-lendava
spec:
  replicas: 1
  selector:
    matchLabels:
      app: parlacards-lendava
  template:
    metadata:
      labels:
        app: parlacards-lendava
    spec:
      containers:
        - name: parlacards-lendava
          image: parlacards-lendava
          ports:
            - containerPort: 3000
          env:
            - name: VITE_PARLASSETS_URL
              value: https://parlassets-lendava.lb.djnd.si
            - name: VITE_PARLADATA_URL
              value: https://parladata-lendava.lb.djnd.si/v3
            - name: VITE_PARLACARDS_URL
              value: https://parlacards-lendava.lb.djnd.si
            - name: VITE_PARLASITE_URL
              value: https://parlasite-lendava.lb.djnd.si
            - name: VITE_METAIMAGES_URL
              value: https://meta-image-generator.lb.djnd.si/parlameter
