apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-ua
resources:
  - parlacards/deployment.yaml
  - parlacards/ingress.yaml
  - parlacards/service.yaml
  - parlasite/deployment.yaml
  - parlasite/ingress.yaml
  - parlasite/service.yaml
  - parlassets/deployment.yaml
  - parlassets/ingress.yaml
  - parlassets/service.yaml
images:
  - name: parlacards-ua
    newName: rg.fr-par.scw.cloud/djnd/parlacards-ua
    newTag: 'c624c62b34e3f3857973c22bedafbb8a6d5c8987'
  - name: parlasite-ua
    newName: rg.fr-par.scw.cloud/djnd/parlasite-ua
    newTag: 'c624c62b34e3f3857973c22bedafbb8a6d5c8987'
  - name: parlassets-ua
    newName: rg.fr-par.scw.cloud/djnd/parlassets-ua
    newTag: 'c624c62b34e3f3857973c22bedafbb8a6d5c8987'
