apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-hrvaska
resources:
  - parlacards/deployment.yaml
  - parlacards/ingress.yaml
  - parlacards/service.yaml
  - parlasite/deployment.yaml
  - parlasite/ingress.yaml
  - parlasite/service.yaml
  - parlassets/deployment.yaml
  - parlassets/ingress.yaml
  - parlassets/service.yaml
images:
  - name: parlacards-hrvaska
    newName: rg.fr-par.scw.cloud/djnd/parlacards-hrvaska
    newTag: '1905af57bb6ab3643144929df6dede15f47d8e34'
  - name: parlasite-hrvaska
    newName: rg.fr-par.scw.cloud/djnd/parlasite-hrvaska
    newTag: '1905af57bb6ab3643144929df6dede15f47d8e34'
  - name: parlassets-hrvaska
    newName: rg.fr-par.scw.cloud/djnd/parlassets-hrvaska
    newTag: '1905af57bb6ab3643144929df6dede15f47d8e34'
