apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-trbovlje
resources:
  - parlacards/deployment.yaml
  - parlacards/ingress.yaml
  - parlacards/service.yaml
  - parlasite/deployment.yaml
  - parlasite/ingress.yaml
  - parlasite/service.yaml
  - parlassets/deployment.yaml
  - parlassets/ingress.yaml
  - parlassets/service.yaml
images:
  - name: parlacards-trbovlje
    newName: rg.fr-par.scw.cloud/djnd/parlacards-trbovlje
    newTag: 'latest'
  - name: parlasite-trbovlje
    newName: rg.fr-par.scw.cloud/djnd/parlasite-trbovlje
    newTag: 'latest'
  - name: parlassets-trbovlje
    newName: rg.fr-par.scw.cloud/djnd/parlassets-trbovlje
    newTag: 'latest'
