apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-ua
resources:
  - parlacards/deployment.yaml
  - parlacards/ingress.yaml
  - parlacards/service.yaml
  - parlasite/deployment.yaml
  - parlasite/ingress.yaml
  - parlasite/service.yaml
  - parlassets/deployment.yaml
  - parlassets/ingress.yaml
  - parlassets/service.yaml
images:
  - name: parlacards-ua
    newName: rg.fr-par.scw.cloud/djnd/parlacards-ua
    newTag: '36c11e8b1dd5a09d0165b3347fbf6b618534e362'
  - name: parlasite-ua
    newName: rg.fr-par.scw.cloud/djnd/parlasite-ua
    newTag: '36c11e8b1dd5a09d0165b3347fbf6b618534e362'
  - name: parlassets-ua
    newName: rg.fr-par.scw.cloud/djnd/parlassets-ua
    newTag: '36c11e8b1dd5a09d0165b3347fbf6b618534e362'
