apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-bosna
resources:
  - parlacards/deployment.yaml
  - parlacards/ingress.yaml
  - parlacards/service.yaml
  - parlasite/deployment.yaml
  - parlasite/ingress.yaml
  - parlasite/service.yaml
  - parlassets/deployment.yaml
  - parlassets/ingress.yaml
  - parlassets/service.yaml
images:
  - name: parlacards-bosna
    newName: rg.fr-par.scw.cloud/djnd/parlacards-bosna
    newTag: '786ba47c827c649ab14703e0f90ce374e78c782b'
  - name: parlasite-bosna
    newName: rg.fr-par.scw.cloud/djnd/parlasite-bosna
    newTag: '786ba47c827c649ab14703e0f90ce374e78c782b'
  - name: parlassets-bosna
    newName: rg.fr-par.scw.cloud/djnd/parlassets-bosna
    newTag: '786ba47c827c649ab14703e0f90ce374e78c782b'
