apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-hrastnik
resources:
  - parlacards/deployment.yaml
  - parlacards/ingress.yaml
  - parlacards/service.yaml
  - parlasite/deployment.yaml
  - parlasite/ingress.yaml
  - parlasite/service.yaml
  - parlassets/deployment.yaml
  - parlassets/ingress.yaml
  - parlassets/service.yaml
images:
  - name: parlacards-hrastnik
    newName: rg.fr-par.scw.cloud/djnd/parlacards-hrastnik
    newTag: '4c90f25d3729eb6e0c03e788aa0310d35506ca02'
  - name: parlasite-hrastnik
    newName: rg.fr-par.scw.cloud/djnd/parlasite-hrastnik
    newTag: '4c90f25d3729eb6e0c03e788aa0310d35506ca02'
  - name: parlassets-hrastnik
    newName: rg.fr-par.scw.cloud/djnd/parlassets-hrastnik
    newTag: '4c90f25d3729eb6e0c03e788aa0310d35506ca02'
