apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-bosna
resources:
  - parlacards/deployment.yaml
  - parlacards/ingress.yaml
  - parlacards/service.yaml
  - parlasite/deployment.yaml
  - parlasite/ingress.yaml
  - parlasite/service.yaml
  - parlassets/deployment.yaml
  - parlassets/ingress.yaml
  - parlassets/service.yaml
images:
  - name: parlacards-bosna
    newName: rg.fr-par.scw.cloud/djnd/parlacards-bosna
    newTag: '91199a720e526a4387793b0fe97df53ce17ce199'
  - name: parlasite-bosna
    newName: rg.fr-par.scw.cloud/djnd/parlasite-bosna
    newTag: '91199a720e526a4387793b0fe97df53ce17ce199'
  - name: parlassets-bosna
    newName: rg.fr-par.scw.cloud/djnd/parlassets-bosna
    newTag: '91199a720e526a4387793b0fe97df53ce17ce199'
