apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-lendava
resources:
  - parlacards/deployment.yaml
  - parlacards/ingress.yaml
  - parlacards/service.yaml
  - parlasite/deployment.yaml
  - parlasite/ingress.yaml
  - parlasite/service.yaml
  - parlassets/deployment.yaml
  - parlassets/ingress.yaml
  - parlassets/service.yaml
images:
  - name: parlacards-lendava
    newName: rg.fr-par.scw.cloud/djnd/parlacards-lendava
    newTag: '02f73fc8aa0f38b778d37ee5a486aab0c3f318a2'
  - name: parlasite-lendava
    newName: rg.fr-par.scw.cloud/djnd/parlasite-lendava
    newTag: '02f73fc8aa0f38b778d37ee5a486aab0c3f318a2'
  - name: parlassets-lendava
    newName: rg.fr-par.scw.cloud/djnd/parlassets-lendava
    newTag: '02f73fc8aa0f38b778d37ee5a486aab0c3f318a2'
