apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-ua
resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
images:
  - name: parlacards-ua
    newName: rg.fr-par.scw.cloud/djnd/parlacards-ua
    newTag: '486f29e3ebfcc873f85cfaea093c52d1fe2bfa30'
