apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-slovenija
resources:
  - parlacards/deployment.yaml
  - parlacards/ingress.yaml
  - parlacards/service.yaml
  - parlasite/deployment.yaml
  - parlasite/ingress.yaml
  - parlasite/service.yaml
  - parlasite-viii/deployment.yaml
  - parlasite-viii/ingress.yaml
  - parlasite-viii/service.yaml
  - parlasite-vii/deployment.yaml
  - parlasite-vii/ingress.yaml
  - parlasite-vii/service.yaml
  - parlassets/deployment.yaml
  - parlassets/ingress.yaml
  - parlassets/service.yaml
images:
  - name: parlacards-slovenija
    newName: rg.fr-par.scw.cloud/djnd/parlacards-slovenija
    newTag: '1d2790a0e623b130fe460b8ccff1e5eb53747f1f'
  - name: parlasite-slovenija
    newName: rg.fr-par.scw.cloud/djnd/parlasite-slovenija
    newTag: '1d2790a0e623b130fe460b8ccff1e5eb53747f1f'
  - name: parlassets-slovenija
    newName: rg.fr-par.scw.cloud/djnd/parlassets-slovenija
    newTag: '1d2790a0e623b130fe460b8ccff1e5eb53747f1f'
