apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-medvode
resources:
  - parlacards/deployment.yaml
  - parlacards/ingress.yaml
  - parlacards/service.yaml
  - parlasite/deployment.yaml
  - parlasite/ingress.yaml
  - parlasite/service.yaml
  - parlassets/deployment.yaml
  - parlassets/ingress.yaml
  - parlassets/service.yaml
images:
  - name: parlacards-medvode
    newName: rg.fr-par.scw.cloud/djnd/parlacards-medvode
    newTag: '696d84a7faf9657066606a8b965cb3275ce117d4'
  - name: parlasite-medvode
    newName: rg.fr-par.scw.cloud/djnd/parlasite-medvode
    newTag: '696d84a7faf9657066606a8b965cb3275ce117d4'
  - name: parlassets-medvode
    newName: rg.fr-par.scw.cloud/djnd/parlassets-medvode
    newTag: '696d84a7faf9657066606a8b965cb3275ce117d4'
