apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-hrvaska
resources:
  - parlacards/deployment.yaml
  - parlacards/ingress.yaml
  - parlacards/service.yaml
  - parlasite/deployment.yaml
  - parlasite/ingress.yaml
  - parlasite/service.yaml
  - parlasite-ix/deployment.yaml
  - parlasite-ix/ingress.yaml
  - parlasite-ix/service.yaml
  - parlassets/deployment.yaml
  - parlassets/ingress.yaml
  - parlassets/service.yaml
images:
  - name: parlacards-hrvaska
    newName: rg.fr-par.scw.cloud/djnd/parlacards-hrvaska
    newTag: '524c8deca46bce92a663d2873cbeeea933222c9d'
  - name: parlasite-hrvaska
    newName: rg.fr-par.scw.cloud/djnd/parlasite-hrvaska
    newTag: '524c8deca46bce92a663d2873cbeeea933222c9d'
  - name: parlassets-hrvaska
    newName: rg.fr-par.scw.cloud/djnd/parlassets-hrvaska
    newTag: '524c8deca46bce92a663d2873cbeeea933222c9d'
