apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-lendava
resources:
  - parlacards/deployment.yaml
  - parlacards/ingress.yaml
  - parlacards/service.yaml
  - parlasite/deployment.yaml
  - parlasite/ingress.yaml
  - parlasite/service.yaml
  - parlassets/deployment.yaml
  - parlassets/ingress.yaml
  - parlassets/service.yaml
images:
  - name: parlacards-lendava
    newName: rg.fr-par.scw.cloud/djnd/parlacards-lendava
    newTag: 'afbaebc089d15d0f729894526d17ca3ee46a9aae'
  - name: parlasite-lendava
    newName: rg.fr-par.scw.cloud/djnd/parlasite-lendava
    newTag: 'afbaebc089d15d0f729894526d17ca3ee46a9aae'
  - name: parlassets-lendava
    newName: rg.fr-par.scw.cloud/djnd/parlassets-lendava
    newTag: 'afbaebc089d15d0f729894526d17ca3ee46a9aae'
