apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-bosna
resources:
  - parlacards/deployment.yaml
  - parlacards/ingress.yaml
  - parlacards/service.yaml
  - parlasite/deployment.yaml
  - parlasite/ingress.yaml
  - parlasite/service.yaml
  - parlasite-9/deployment.yaml
  - parlasite-9/ingress.yaml
  - parlasite-9/service.yaml
  - parlassets/deployment.yaml
  - parlassets/ingress.yaml
  - parlassets/service.yaml
images:
  - name: parlacards-bosna
    newName: rg.fr-par.scw.cloud/djnd/parlacards-bosna
    newTag: '374821819e3dad3a2eb35bead1c7d64caf69010e'
  - name: parlasite-bosna
    newName: rg.fr-par.scw.cloud/djnd/parlasite-bosna
    newTag: '374821819e3dad3a2eb35bead1c7d64caf69010e'
  - name: parlassets-bosna
    newName: rg.fr-par.scw.cloud/djnd/parlassets-bosna
    newTag: '374821819e3dad3a2eb35bead1c7d64caf69010e'
