apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter
resources:
  - parlacards/deployment.yaml
  - parlacards/ingress.yaml
  - parlacards/service.yaml
  - parlasite/deployment.yaml
  - parlasite/ingress.yaml
  - parlasite/service.yaml
  - parlasite-2022/deployment.yaml
  - parlasite-2022/ingress.yaml
  - parlasite-2022/service.yaml
  - parlassets/deployment.yaml
  - parlassets/ingress.yaml
  - parlassets/service.yaml
images:
  - name: parlacards-ljubljana
    newName: rg.fr-par.scw.cloud/djnd/parlacards-ljubljana
    newTag: '3b61990974547d181de1793195db99ef8375b219'
  - name: parlasite-ljubljana
    newName: rg.fr-par.scw.cloud/djnd/parlasite-ljubljana
    newTag: '3b61990974547d181de1793195db99ef8375b219'
  - name: parlassets-ljubljana
    newName: rg.fr-par.scw.cloud/djnd/parlassets-ljubljana
    newTag: '3b61990974547d181de1793195db99ef8375b219'
