apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-ajdovscina
resources:
  - parlacards/deployment.yaml
  - parlacards/ingress.yaml
  - parlacards/service.yaml
  - parlasite/deployment.yaml
  - parlasite/ingress.yaml
  - parlasite/service.yaml
  - parlasite-2022/deployment.yaml
  - parlasite-2022/ingress.yaml
  - parlasite-2022/service.yaml
  - parlassets/deployment.yaml
  - parlassets/ingress.yaml
  - parlassets/service.yaml
images:
  - name: parlacards-ajdovscina
    newName: rg.fr-par.scw.cloud/djnd/parlacards-ajdovscina
    newTag: 'e32597a29d6b6ae2bc60ae03f383503aa4f35395'
  - name: parlasite-ajdovscina
    newName: rg.fr-par.scw.cloud/djnd/parlasite-ajdovscina
    newTag: 'e32597a29d6b6ae2bc60ae03f383503aa4f35395'
  - name: parlassets-ajdovscina
    newName: rg.fr-par.scw.cloud/djnd/parlassets-ajdovscina
    newTag: 'e32597a29d6b6ae2bc60ae03f383503aa4f35395'
