apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-lendava
resources:
  - parlacards/deployment.yaml
  - parlacards/ingress.yaml
  - parlacards/service.yaml
  - parlassets/deployment.yaml
  - parlassets/ingress.yaml
  - parlassets/service.yaml
images:
  - name: parlacards-lendava
    newName: rg.fr-par.scw.cloud/djnd/parlacards-lendava
    newTag: '27633578ef8f6b625600fff18c66e6885c224701'
  - name: parlassets-lendava
    newName: rg.fr-par.scw.cloud/djnd/parlassets-lendava
    newTag: '27633578ef8f6b625600fff18c66e6885c224701'
