apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-ua
resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
images:
  - name: parlacards-ua
    newName: rg.fr-par.scw.cloud/djnd/parlacards-ua
    newTag: '232e11ca14bad87a25ef6b0002776f5dd0274e03'
