apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-ua
resources:
  - parlacards/deployment.yaml
  - parlacards/ingress.yaml
  - parlacards/service.yaml
  - parlassets/deployment.yaml
  - parlassets/ingress.yaml
  - parlassets/service.yaml
images:
  - name: parlacards-ua
    newName: rg.fr-par.scw.cloud/djnd/parlacards-ua
    newTag: '13c3cbfb90ecd6ad317bd441cda4c986a5be473c'
  - name: parlassets-ua
    newName: rg.fr-par.scw.cloud/djnd/parlassets-ua
    newTag: '13c3cbfb90ecd6ad317bd441cda4c986a5be473c'
