apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-hrvaska
resources:
  - parlacards/deployment.yaml
  - parlacards/ingress.yaml
  - parlacards/service.yaml
  - parlasite/deployment.yaml
  - parlasite/ingress.yaml
  - parlasite/service.yaml
  - parlassets/deployment.yaml
  - parlassets/ingress.yaml
  - parlassets/service.yaml
images:
  - name: parlacards-hrvaska
    newName: rg.fr-par.scw.cloud/djnd/parlacards-hrvaska
    newTag: 'd5b7ca68a353e4cb5fbd7efd81abc541039c715e'
  - name: parlasite-hrvaska
    newName: rg.fr-par.scw.cloud/djnd/parlasite-hrvaska
    newTag: 'd5b7ca68a353e4cb5fbd7efd81abc541039c715e'
  - name: parlassets-hrvaska
    newName: rg.fr-par.scw.cloud/djnd/parlassets-hrvaska
    newTag: 'd5b7ca68a353e4cb5fbd7efd81abc541039c715e'
