apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-ua
resources:
  - parlacards/deployment.yaml
  - parlacards/ingress.yaml
  - parlacards/service.yaml
  - parlasite/deployment.yaml
  - parlasite/ingress.yaml
  - parlasite/service.yaml
  - parlassets/deployment.yaml
  - parlassets/ingress.yaml
  - parlassets/service.yaml
images:
  - name: parlacards-ua
    newName: rg.fr-par.scw.cloud/djnd/parlacards-ua
    newTag: '720b31ca51b22d7c26c224311fe88686f3598d8d'
  - name: parlasite-ua
    newName: rg.fr-par.scw.cloud/djnd/parlasite-ua
    newTag: '720b31ca51b22d7c26c224311fe88686f3598d8d'
  - name: parlassets-ua
    newName: rg.fr-par.scw.cloud/djnd/parlassets-ua
    newTag: '720b31ca51b22d7c26c224311fe88686f3598d8d'
