apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-lendava
resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
images:
  - name: parlacards-lendava
    newName: rg.fr-par.scw.cloud/djnd/parlacards-lendava
    newTag: 'b9e451af9cf9b9cb5849d2d19c4ea2dc3194dd36'
