apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-TODO-BRANCH-NAME-HERE
resources:
  - parlacards/deployment.yaml
  - parlacards/ingress.yaml
  - parlacards/service.yaml
  - parlassets/deployment.yaml
  - parlassets/ingress.yaml
  - parlassets/service.yaml
images:
  - name: parlacards-TODO-BRANCH-NAME-HERE
    newName: rg.fr-par.scw.cloud/djnd/parlacards-TODO-BRANCH-NAME-HERE
    newTag: 'latest'
images:
  - name: parlassets-TODO-BRANCH-NAME-HERE
    newName: rg.fr-par.scw.cloud/djnd/parlacards-TODO-BRANCH-NAME-HERE
    newTag: 'latest'
