# garbage
**/.DS_Store
**/*.log
**/README.md

# docker
**/.dockerignore
**/Dockerfile

# git
**/.git
**/.gitignore
**/.gitmodules

# dev only stuff
**/.idea
**/.vscode
**/node_modules/

parlacards/.env*
parlacards/.eslintrc.cjs
parlacards/.eslintignore
parlacards/.prettierrc.json
parlacards/jsconfig.json
parlacards/dist/
