# NOTE: This file needs to be in the root folder!
#       All docker builds are run from the root folder context.

# garbage
**/.DS_Store
**/*.log
**/README.md
**/LICENSE

# docker
**/.dockerignore
**/Dockerfile

# git
**/.git
**/.gitignore
**/.gitmodules

# dev only stuff
**/.idea
**/.vscode
**/node_modules/

# parlacards
parlacards/.env*
parlacards/.eslintrc.cjs
parlacards/.eslintignore
parlacards/.prettierrc.json
parlacards/jsconfig.json
parlacards/dist/

# parlassets
parlassets/scss/style.css

# parlasite
parlasite/.eslintrc.js
parlasite/.eslintignore
parlasite/.prettierrc.json
parlasite/jsconfig.json
