version: '3'

services:
  parlacards:
    build:
      context: .
      dockerfile: dockerfiles/dev.parlacards.Dockerfile
    ports:
      - 3000:3000
    environment:
      - VITE_PARLASSETS_URL=http://localhost:8080
      - VITE_PARLADATA_URL=http://localhost:8000/v3
      - VITE_PARLACARDS_URL=http://localhost:3000
      - VITE_PARLASITE_URL=http://localhost:3066
      - VITE_METAIMAGES_URL=https://meta-image-generator.lb.djnd.si/parlameter
    volumes:
      - ./parlacards/build/:/app/build
      - ./parlacards/cards/:/app/cards
      - ./parlacards/.eslintignore:/app/.eslintignore
      - ./parlacards/.eslintrc.cjs:/app/.eslintrc.cjs
      - ./parlacards/.prettierrc.json:/app/.prettierrc.json
      - ./parlassets/:/parlassets

  parlassets:
    build:
      context: .
      dockerfile: dockerfiles/dev.parlassets.Dockerfile
    ports:
      - 8080:8080
    volumes:
      - ./parlassets/build/:/app/build
      - ./parlassets/public/:/app/public
      - ./parlassets/src/:/app/src

  parlasite:
    build:
      context: .
      dockerfile: dockerfiles/dev.parlasite.Dockerfile
    ports:
      - 3066:3066
    environment:
      - PARLASITE_LEADER_ID=1
      - PARLASITE_ROOT_ORG_ID=1
      - PARLASITE_ROOT_ORG_ID2=1
      - PARLASITE_MANDATE_ID=1
      - PARLASITE_DEFAULT_CARD_DATE=
      - PARLASITE_NEWSLETTER_SEGMENT_ID=
    volumes:
      - ./parlasite/config/:/app/config
      - ./parlasite/i18n/:/app/i18n
      - ./parlasite/server/:/app/server
      - ./parlasite/views/:/app/views
      - ./parlasite/.eslintignore:/app/.eslintignore
      - ./parlasite/.eslintrc.js:/app/.eslintrc.js
      - ./parlasite/.prettierrc.json:/app/.prettierrc.json
