<% include ../_partials/header.ejs %>

<% include ./_header.ejs %>

<div class="col-md-12">
  <%- 'views.govori' %>
</div>
<div class="col-md-6">
  <%- 'views.besedeKiJihDelajoPosebne' %>
</div>
<div class="col-md-6">
  <%- 'views.besedniZaklad' %>
</div>
<div class="col-md-6">
  <%- 'views.stilneAnalize' %>
</div>

<% include ../_partials/footer.ejs %>
