<% include ../_partials/header.ejs %>

<h1>poslanske skupine</h1>


<a href="/poslanska-skupina/pregled/ps-stranka-modernega-centra">PS Stranka modernega centra</a><br>
<a href="/poslanska-skupina/pregled/ps-zaveznistvo-alenke-bratusek">PS Zavezništvo Alenke Bratušek</a><br>
<a href="/poslanska-skupina/pregled/ps-slovenska-demokratska-stranka">PS Slovenska Demokratska Stranka</a><br>

<a href="/poslanska-skupina/pregled/ps-nova-slovenija">PS Nova Slovenija</a><br>
<a href="/poslanska-skupina/pregled/ps-socialni-demokrati">PS Socialni Demokrati</a><br>
<a href="/poslanska-skupina/pregled/ps-demokratska-stranka-upokojencev-slovenije">PS Demokratska Stranka Upokojencev Slovenije</a><br>
<a href="/poslanska-skupina/pregled/ps-italijanske-in-madzarske-narodne-skupnosti">PS italijanske in madžarske narodne skupnosti</a><br>
<a href="/poslanska-skupina/pregled/ps-zdruzena-levica">PS Združena Levica</a><br>



<% include ../_partials/footer.ejs %>
