# garbage
.DS_Store
*.log
README.md

# docker
.dockerignore
Dockerfile

# git
.git
.gitignore
.gitmodules

# dev only stuff
.idea
.vscode
.env.local
.env.*.local
.eslintrc.cjs
.eslintignore
.prettierrc.json
jsconfig.json
node_modules/
dist/
