<div class="main-sidebar">
    <!-- Inner sidebar -->
    <div class="sidebar">

        <div class="user-panel-container">
            <p>Welcome</p>
            <div class="text-link" ng-click="logOutClick()">Log out</div>
        </div>

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">Menu</li>
            <!-- Optionally, you can add icons to the links -->
            <li ui-sref-active="active" ui-sref="app.cards"><a href="#"><span>Cards</span></a></li>


        </ul><!-- /.sidebar-menu -->

    </div><!-- /.sidebar -->
</div><!-- /.main-sidebar -->
