<div class="alt-header">
    <img src="https://cdn.parlameter.si/v1/parlassets/img/people/square/<%= data.person.gov_id %>.png" class="portrait column">
    <div class="header-info-container">
        <h1><%= data.person.name %></h1>
        <h2 class="partyinfo"><%= data.person.party.acronym %> | <% if (data.person.party.is_coalition === -1) { %>opozicija<%} else { %>koalicija<% } %></h2>
        <h2 class="cardname"><%= data.cardData.name %></h2>
    </div>
</div>
<div class="alt-header-border-bottom"></div>
