<!DOCTYPE html> <!-- removeme -->
<html> <!-- removeme -->

<head> <!-- removeme -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- removeme -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> <!-- removeme -->

    <!-- build:remove -->
    <!-- these script files are removed on build -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/typeahead.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@2.2.6/dist/vue.min.js"></script>
    <script src="https://cdn.ravenjs.com/3.10.0/vue/raven.min.js"></script>
    <script>Raven.config('https://b615fce983b843c8958aedcd3a9c9d60@sentry.ilol.si/70').install()</script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/components.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/script.js"></script>
    <!-- endbuild -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" data-remove="false" data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/scss/style.css" data-remove="false" data-concat="false"> <!-- removeme -->

    <script src="https://cdn.parlameter.si/v1/parlassets/js/iframeResizer.contentWindow.min.js"></script>

    <base href="https://parlameter.si/" />
    <base target="_blank" />
    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(["setDomains", ["*.parlameter.si"]]);
        _paq.push(["disableCookies"]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        _paq.push(['enableHeartBeatTimer']);
        (function() {
            var u="//zy.si/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '13']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <noscript><p><img src="//zy.si/piwik.php?idsite=13" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
</head>
<body>

    <%
        var bigcards = [
            'Parlamentarni kompas',
            'Nastopi, v katerih je bil iskalni niz izrečen',
            'GOVOR',
            'Govor',
            'Delovno telo',
            'Izpostavljena seja',
            'Seznam poslancev',
            'Seznam poslanskih skupin',
            'Seznam sej',
            'Glasovanja - seja',
            'Besede, ki so zaznamovale sejo',
            'Prisotnost po poslanskih skupinah',
            'Raznolikost besedišča poslank in poslancev',
            'Glasovanja, v katerih se pojavi iskalni niz',
            'Glasovanje',
            'Raba skozi čas',
            'Iskalnik',
            'Prisotnost skozi čas',
            'Glasovanja - poslanec',
            'Glasovanja - poslanska skupina',
            'Poslanska vprašanja in pobude']
    %>


    <style>
        #card-container {
            padding: 10px;
            margin: auto;
            <% if (bigcards.indexOf(cardData.name) !== -1) { %>
                max-width: 968px;
            <% } else { %>
                max-width: 478px;
            <% } %>
        }
        .card-container {
            margin: 10px;
        }
        body {
            margin-bottom: 0;
            background: none transparent;
        }
        .card-content{
            max-height: 518px;
            overflow-y: auto;
        }
    </style>

    <div id="card-container"></div>
</body>
</html>
