apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter
resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
images:
  - name: parlassets-hrastnik
    newName: rg.fr-par.scw.cloud/djnd/parlassets-hrastnik
    newTag: 'a9e9df1fff58a47c9fbb16517ecadfd024d99c25'
