<% include ../../../partials/header.ejs %>
<% include ../../../partials/session_search_filters.ejs %>

<div id="session_search_results_filter">
    <div class="col-md-12 ">
        <div class="getmedata" id="nastopi-v-katerih-je-bil-iskalni-niz-izrecen"></div>
    </div>
    <div class="col-md-12 ">
        <div class="getmedata" id="raba-skozi-cas"></div>
    </div>
    <div class="col-md-6 ">
        <div class="getmedata" id="najveckrat-so-pojem-uporabili"></div>
    </div>
    <div class="col-md-6 ">
        <div class="getmedata" id="raba-po-strankah"></div>
    </div>
    <div class="col-md-12 ">
        <div class="getmedata-voting" id="glasovanja-search"></div>
    </div>
</div>
<%
/*
 raba-skozi-cas
 raba-po-strankah
 najveckrat-so-pojem-uporabili
 nastopi-v-katerih-je-bil-iskalni-niz-izrecen
 */
%>

<% include ../../../partials/footer.ejs %>