#about.card-container {
    padding-bottom: 45px;
    padding-top: 20px;
}

#about.card-container::before {
    display: none;
}

#about .lead-text-container {
    font-family: "Roboto Slab", sans-serif;
    color: #fff;
    font-style: italic;
    font-size: 24px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
}

#about .lead-text-container span {
    background-color: #009cdd;
    padding: 5px 0;
    line-height: 2;
    /* fix inline multiline text padding */
    box-shadow: 10px 0 0 #009cdd, -10px 0 0 #009cdd;
}

#about .lead-text a {
    color: #fff;
    font-variant: small-caps;
    font-weight: 700;
}

#about .video-container {
    margin-top: 45px;
    margin-bottom: 45px;
}

#about .padded-text {
    font-size: 16px;
    padding: 25px 15px;
    line-height: 1.6;
}

#about .public-col {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

#about .public-col p {
    text-align: center;
    padding: 0 15px;
}

#about .gradient-title {
    font-family: "Roboto Slab", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #009cdd;
}

@supports ( -webkit-background-clip: text ) {
    #about .gradient-title {
        background: -moz-linear-gradient(left, #009cdd 0%, #ff5e41 100%);    /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #009cdd 0%, #ff5e41 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #009cdd 0%, #ff5e41 100%);     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

#about .title-container {
    margin-top: 45px;
    margin-bottom: 45px;
}

#about .post-entry {
    background: #f0f0f0;
    padding: 20px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 300;
    font-size: 12px;
    display: flex;
    margin-bottom: 10px;
}

#about .post-entry .post-info {
    flex-grow: 2;
    color: #505050;
}

#about .post-entry .post-title {
    font-size: 18px;
}

#about .thumbnail .caption-icon,
#about .post-entry .post-download {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

#about .post-entry .post-download i {
    vertical-align: middle;
}

#about .thumbnail {
    background: #f0f0f0;
    border: none;
    border-radius: 0;
    font-style: italic;
}

#about .thumbnail .caption {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    margin-bottom: -4px;
    color: #505050;
}

#about .thumbnail .caption-text {
    flex-grow: 2;
}

#about .thumbnail .caption-icon i {
    font-size: 24px;
    line-height: 20px;
    vertical-align: bottom;
}