$breakpoint: 768px;

$breakpoints: (
  limbo: "(min-width: #{$breakpoint}) and (max-width: #{991px})",
  mobile: "(max-width: #{$breakpoint - 1px})",
  desktop: "(min-width: #{$breakpoint})"
);

@mixin respond-to($breakpoint) {
  $mediaQuery: map-get($breakpoints, $breakpoint);
  @media #{$mediaQuery} {
    @content;
  }
}

@mixin show-for($breakpoint, $displayType: block) {
  display: none;
  @include respond-to($breakpoint) {
    display: $displayType;
  }
}
