.card-container {
    margin-top: 20px;
    /* overriding bootstrap's padding */
    margin-left: -9px;
    margin-right: -9px;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 0 20px;
    overflow: hidden;
    background-color: #ffffff;
    @include card(1);
}
.card-header {
    width: 100%;
    height: 80px;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}
.card-header .card-header-border {
    height: 40px;
    width: 3px;
    background-image: url($cdn_home_img + 'cardheaderborder.png');
    margin-right: 13px;
    float: left;
}
.card-header h1 {
    margin: 0;
    font-size: 24px!important;
    line-height: 40px;
}
.card-content {
    width: 100%;
    padding: 0;
    margin: 0 0 10px 0;
}
.col-md-6 > .card-container .card-content {
    height: 480px;
}
.col-md-6 > .card-container .card-content.half {
    height: 220px;
}
.card-placeholder {
    background-color: $grey;
    width: 100%;
    height: 300px;
}
.card-footer {
    @extend .card-header;
    height: 62px;
    padding-top: 14px;
    padding-bottom: 14px;
    /* this background thing is a hack, still work TODO */
    background-image: url($cdn_home_img + 'shortline.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
}
.card-circle-button {
    width: 30px;
    height: 30px;
    display: block;
    float: right;
    margin-left: 8px;
    @include border-radius(50%);
    background-color: $sadblue;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: $white;
    cursor: pointer;
}
.card-info {
    font-weight: 100;
}
.card-embed {
    background-image: url($cdn_home_icon + 'embed.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
}
.card-share {
    background-image: url($cdn_home_icon + 'share.svg');
    background-repeat: no-repeat;
    background-position: 6px center;
    background-size: 50% 50%;
}

/*

*/
.card-header-embed {

    height: 115px;

    .headerimage-container {
        float: left;
        width: 80px;
        height: 80px;
    }

    .headerwords-container {
        float: left;
        margin-left: 15px;

        h1 {
            color: $funblue;
            font-weight: 200;
            font-size: 20px !important;
            line-height: 20px !important;
        }

        h2 {
            color: $black;
            font-size: 18px;
            font-weight: 200;

            margin-top: 20px;
            margin-bottom: 0;

            .name {
                font-weight: 400;
            }
        }
    }
}
.card-embed-header-divider {
    height: 1px;

    background-image: url($cdn_home_img + 'shortline.png');
    background-repeat: no-repeat;
    background-size: cover;

    margin-left: -20px;
    margin-right: -20px;
}
