/////////////////////////////
/////// GLOBAL COLORS ///////
/////////////////////////////

// gradient
$first: #ff0000;
$second: #caebf2;
$third: #258498;

// tabs
$tab-active: $first;
$tab-hover: #ff8888;
$tab-passive: #ff5555;

// links
$link: $third;
$link-hover-background: #f3fafc;

// card footer buttons
$card-footer-button-passive-background: #ff5555;
$card-footer-button-hover-background: $first;

// scroller
$scroller: #caebf2;
$element: #258498;

// barcharts
$barchart-this: $first;
$barchart-other: $third;
$barchart-default: $third;

// icons
$icon-accepted: #4fbdd4;
$icon-rejected: $first;
$icon-session: $second;
$icon-transcript: #258498;
$icon-transcript-hover-background: #ceadf2;


// buttons
$button-for: #4fbdd4;
$button-against: #1b606f;
$button-abstained: #afe1eb;
$button-absent: #0b252b;

// dropdown
$dropdown-arrow: $first;
$dropdown-selected-element: #ff8888;

// other
$light-background: #fdf8f8;
$light-background-link: #900900;
$tools-arrow: $first;
$cta-passive-background: #ff5555;
$cta-hover-background: $first;

// common
$white: #ffffff;
$font-default: #333333;
$font-placeholder: #c8c8c8;
$background: #f0f0f0;
$tools-border: #c8c8c8;
$tools-background-hover: #dddbdb;

// logo
$logo-first: $first; // TODO
$logo-second: $second; // TODO
$logo-third: $font-default; // TODO


/////////////////////////////
//////// OLD COLORS /////////
/////////////////////////////

$party-colors: (
  'hds__hsls__hdssb': #258498,
  'nhr': #4095a7,
  'hns': #5ca6b6,
  'bm_365__reformisti__nezavisni': #77b7c5,
  'sdss': #93c8d4,
  'sdp': #aed9e3,
  'hdz': #caebf2,
  'glas__hsu': #d1c9cf,
  'živi_zid__snaga': #d9a7ac,
  'manjina': #e0868a,
  'hss': #e86467,
  'ids__pgs__ri': #ef4345,
  'most': #f72122
);


$vote-colors: (
  'for': $button-for,
  'against': $button-against,
  'absent': $button-absent,
  'abstain': $button-abstained,
);

$proper-vote-colors: (
  'for': $button-for,
  'against': $button-against,
  'absent': $button-absent,
  'abstain': $button-abstained
);

$option-colors: (
  'for': $button-for,
  'against': $button-against,
  'absent': $button-absent,
  'abstain': $button-abstained
);

// hover colors TODO
$white-hover: rgba($white, 0.7);
$second-hover: rgba($second, 0.7);
$link-hover-background-hover: $link-hover-background;
$link-hover: rgba($link, 0.7);
$button-for-hover: rgba($button-for, 0.7);
$button-against-hover: rgba($button-against, 0.7);
$button-absent-hover: rgba($button-absent, 0.7);
$button-abstained-hover: rgba($button-abstained, 0.7);
$first-light-hover: #feefec;

$party-colors-hover: ();
@each $party, $color in $party-colors {
  $party-colors-hover: map-merge($party-colors-hover, (#{$party}: rgba($color, 0.7)));
}

$option-colors-hover: (
  'for': $button-for-hover,
  'against': $button-against-hover,
  'absent': $button-absent-hover,
  'abstain': $button-abstained-hover
);

$proper-vote-colors-hover: (
  'for': $button-for-hover,
  'against': $button-against-hover,
  'absent': $button-absent-hover,
  'abstain': $button-abstained-hover
);

$binary-vote-colors: (
  'binary-for': $icon-accepted,
  'binary-against': $icon-rejected
);
