/////////////////////////////
/////// GLOBAL COLORS ///////
/////////////////////////////

// gradient
$first: #197197;
$second: #009cdd;
$third: #ff5e41;

// tabs
$tab-active: #009cdd;
$tab-hover: #86B3DF;
$tab-passive: #197197;

// links
$link: #197197;
$link-hover-background: #d9e7ed;

// card footer buttons
$card-footer-button-passive-background: #197197;
$card-footer-button-hover-background: #009cdd;

// scroller
$scroller: #F1F5F7;
$element: #197197;

// barcharts
$barchart-this: #ff5e41;
$barchart-other: #009cdd;
$barchart-default: #009cdd;

// icons
$icon-accepted: #009cdd;
$icon-rejected: #ff5e41;
$icon-session: #ff5e41;
$icon-transcript: #197197;
$icon-transcript-hover-background: #F1F5F7;


// buttons
$button-for: #009cdd;
$button-against: #197197;
$button-abstained: #88dcff;
$button-absent: #003c55;

// dropdown
$dropdown-arrow: #197197;
$dropdown-selected-element: #efefef;

// other
$light-background: #F1F5F7;
$tools-arrow: #009cdd;
$cta-passive-background: #009cdd;
$cta-hover-background: #197197;

// common
$white: #ffffff;
$font-default: #333333;
$font-placeholder: #c8c8c8;
$background: #f0f0f0;

// logo
$logo-first: $first; // TODO
$logo-second: $second; // TODO
$logo-third: $font-default; // TODO


/////////////////////////////
//////// OLD COLORS /////////
/////////////////////////////
$grey: $background;
$grey-medium: $font-placeholder;
$grey-dark: $font-default;
$darkgrey: $font-placeholder; // TODO THIS SHOULD BE REMOVED
$black: $font-placeholder; // TODO to je pri govorih
$sadblue: $first;
$sadblue-light: $link;
$funblue: $second;
$funblue-light: $link-hover-background;
$fontblue: $link;
$ignoreblue: $button-absent;
$noblue: $button-abstained;
$red: $third;

$party-colors: (
  'hds___hsls___hdssb': #258498,
  'nhr': #4095a7,
  'hns': #5ca6b6,
  'bm_365___reformisti___nezavisni': #77b7c5,
  'sdss': #93c8d4,
  'sdp': #aed9e3,
  'hdz': #caebf2,
  'glas___hsu': #d1c9cf,
  'živi_zid___snaga': #d9a7ac,
  'manjina': #e0868a,
  'hss': #e86467,
  'ids___pgs___ri': #ef4345,
  'most': #f72122
);


$vote-colors: (
  'votes_for': $fontblue,
  'against': $funblue,
  'abstain': $ignoreblue,
  'not_present': $noblue
);

$proper-vote-colors: (
  'for': $fontblue,
  'against': $funblue,
  'abstain': $ignoreblue,
  'not_present': $noblue
);

$option-colors: (
  'for': $fontblue,
  'against': $funblue,
  'kvorum': $ignoreblue,
  'ni': $noblue
);

// hover colors TODO
$white-hover: rgba($white, 0.7);
$funblue-hover: rgba($funblue, 0.7);
$funblue-light-hover: #e1f6ff;
$fontblue-hover: rgba($fontblue, 0.7);
$ignoreblue-hover: rgba($noblue, 0.7);
$noblue-hover: rgba($noblue, 0.7);
$red-light-hover: #feefec;

$party-colors-hover: ();
@each $party, $color in $party-colors {
  $party-colors-hover: map-merge($party-colors-hover, (#{$party}: rgba($color, 0.7)));
}

$option-colors-hover: (
  'for': $fontblue-hover,
  'against': $funblue-hover,
  'kvorum': $ignoreblue-hover,
  'ni': $noblue-hover
);

$proper-vote-colors-hover: (
  'for': $fontblue-hover,
  'against': $funblue-hover,
  'abstain': $ignoreblue-hover,
  'not_present': $noblue-hover
);

$binary-vote-colors: (
  'binary-for': $funblue,
  'binary-against': $red
);
