@each $party, $color in $party-colors {
  .#{$party}-background { background: $color; }
  .#{$party}-fill { fill: $color; }
  .#{$party}-stroke { stroke: $color; }
  .#{$party}-border { border: 2px solid $color; }

  .#{$party}-hover:hover {
    background: $color;
    color: $white;
  }
}

@each $option, $color in $option-colors {
  .#{$option}-fill { fill: $color; }
}

@mixin link-hover {
  transition: background 0.2s;

  &:hover {
    background: #e1f6ff;
    text-decoration: none;
  }
}

.funblue-light-hover {
  @include link-hover;
}

.inactive { filter: grayscale(100%); }
