@import url(//fonts.googleapis.com/css?family=Roboto:400,100,500&subset=latin,latin-ext);
@import url(//fonts.googleapis.com/css?family=Roboto+Slab:300,700&subset=latin,latin-ext);

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
    font-weight: 500;
}

.thin {
    font-weight: 100;
}
