.group-container {
  height: 100%;
  left: 0;
  margin-left: -9px;
  margin-right: -9px;
  margin-top: 20px;
  overflow: hidden;
  padding: 0 20px;
  position: relative;
  top: 0;
  .header {
    margin-bottom: 20px;
  }
  @extend %group-member-header-headings;
  h2 {
    margin-bottom: 40px;
  }
  h3 {
    margin-bottom: 68px;
  }

  .me_group {
    padding-bottom: 30px;
    .progress-bar {
      background: $barchart-default;
    }
    .col150 {
      width: 20%;
    }
    .col280 {
      width: 80%;
    }
    .group_data_title {
      font-size: 18px;
      font-weight: 500;
    }
    .group_data_title a {
      color: inherit;
    }
  }
}
.group-container-menu {
  ul {
    padding: 0;
    margin: 0 auto;
    display: inline-block;

    li {
      overflow: hidden;
      float: left;
      text-align: center;
      list-style: none;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      @include respond-to(small-mobile) {
        width: 100%;
        margin-top: 6px;
      }

      a {
        display: block;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        padding: 10px 30px;
        color: $white;
        border: none;
        // text-transform: uppercase;
        background-color: $tab-passive;

        &:hover {
          color: $white;
          background-color: $tab-hover;
          text-decoration: none;
        }

        &.active {
          color: $white;
          background-color: $tab-active;
          text-decoration: none;
        }

        @include respond-to(mobile) {
          font-size: 14px;
          padding: 6px 16px;
        }
      }

      .nav-icon {
        background-size: 24px 100%;
        background-repeat: no-repeat;
        background-position: 24px center;
        padding-left: 60px;

        @include respond-to(mobile) {
          padding-left: 40px;
          background-size: 18px 100%;
          background-position: 14px center !important;
        }
      }

      .nav-icon-overview {
        background-image: url('#{get-parlassets-url()}/icons/navigation/overview.svg');
      }

      .nav-icon-votings {
        background-image: url('#{get-parlassets-url()}/icons/navigation/votings.svg');
        background-position: 22px center;
      }

      .nav-icon-speeches {
        background-image: url('#{get-parlassets-url()}/icons/navigation/speeches.svg');
        background-position: 25px center;
      }

      .nav-icon-legislation {
        background-image: url('#{get-parlassets-url()}/icons/navigation/legislation.svg');
      }

      .nav-icon-transcripts {
        background-image: url('#{get-parlassets-url()}/icons/navigation/transcripts.svg');
        background-size: 29px 100%;
        background-position: 21px center;

        @include respond-to(mobile) {
          background-size: 22px 100%;
        }
      }
    }
  }
}
.group-container-menu.group_data {
  ul {
    li {
      a {
        background: $link;
        color: $white;
      }
      a.active,
      a:hover {
        color: $white;
        background: $link-hover-background;
        text-decoration: none;
      }
    }
  }
}

// @media (max-width: 444px) {
//     .group-container-menu {
//         ul {
//            li {
//                width: 100%;
//                 a {
//
//
//                 }
//             }
//         }
//     }
// }
