.group-container {
    height: 100%;
    left: 0;
    margin-left: -9px;
    margin-right: -9px;
    margin-top: 20px;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    top: 0;
    .header {
        margin-bottom: 20px;
    }
    h1 {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 22px;
    }
    h2 {
        margin-top: 20px;
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 300;
    }
    font,
    font.date {
        font-weight: 300;
        font-size: 14px;
        display: inline-block;
        margin-bottom: 70px;
    }
    font.partyiscoa{
        font-size: 14px;
        display: inline-block;
        margin-bottom: 70px;
    }

    .me_group {
        padding-bottom: 30px;
        .progress-bar {
            background: $funblue;
        }
        .col150 {
            width: 20%;
        }
        .col280 {
            width: 80%;
        }
        .group_data_title {
            font-size: 18px;
            font-weight: 500;
        }
        .group_data_title a {
            color: inherit;
        }
    }
}
.group-container-menu {
    ul {
        padding: 0;
        margin: 0 auto;
        display: table;

        li {
            display: table;
            overflow: hidden;
            float: left;
            text-align: center;
            list-style: none;
            margin-right: 20px;
            a {

                vertical-align: middle;
                display: block;
                font-size: 16px;
                font-weight: 300;
                line-height: 30px;
                padding: 10px 40px;
                color: $black;
                border: 1px solid $darkgrey;
                text-transform: uppercase;
            }
            a.active,
            a:hover {
                color: $white;
                background: $funblue;
                text-decoration: none;
            }
        }
    }
}
.group-container-menu.group_data {
    ul {
        li {
            a {
                background: $sadblue;
                color: $white;
            }
            a.active,
            a:hover {
                color: $white;
                background: $funblue;
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 956px) {
    .group-container-menu {
        ul {
            padding: 0;
            margin: 0 auto;


            li {
                margin-right: 2px;
                a {
                    font-size: 14px;
                    padding: 10px 10px;
                }
            }
        }
    }

}