header.header {
    .logo {
        width: 110px;
        height: 70px;
        padding: 0;
    }
    .logo .cls-1 {
        fill: #227497;
    }
    .logo .cls-2 {
        fill: #009cd9;
    }
    .logo .cls-3 {
        fill: #003143;
    }

    .navbar-default {
        background-color: transparent;
        padding-top: 10px;
    }
    .navbar-collapse {
        border-top: none;
    }
    .navbar {
        border-radius: 0;
        border-bottom: 1px solid $darkgrey;
        border-top: none;
        border-left: none;
        border-right: none;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .navbar-nav > li > a {
        font-size: 18px;
        color: $black;
        padding: 20px 30px;
        margin: 0;
    }

    .search {
        margin-top: 10px;
    }

    .btn-default {
        background: transparent;
    }

    .search {
        border: none;
        border-radius: 0;
    }

    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
        color: $funblue;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        color: $funblue;
        background: $grey;
    }

    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
        background: $grey;
    }


            @media (min-width: 768px) {
        .navbar .navbar-nav {
            display: inline-block;
            float: none;
            vertical-align: top;
        }

        .navbar .navbar-collapse {
            text-align: center;
        }
    }

    #topheadersearch{
        border:none;
        margin: 0;
        position: absolute;
        right: 0;
    }

    @media (min-width: 992px) {
        .navbar .navbar-nav {
            margin-left: -110px;
        }
    }


    @media (max-width: 992px) {
        .navbar-collapse{
            margin-left: -15px;
            margin-right: -15px;
        }

        .navbar-nav {
            margin: 0 auto;
            display: table;
            table-layout: auto;
            float: none;
            width: 100%;
            text-align: center;
        }

        .navbar-nav > li {
            padding-left: 0;
            padding-right: 0;
            float: none;
            margin: 0 auto;
            text-align: center;
            width: 140px;
            display: inline-block;
        }
        .navbar-nav > li > a {
            padding: 20px 0px 20px 0px;
            font-size: 16px;
        }

        .navbar-nav > li:first-child {
            padding-left: 0;
            float: left;
            margin: 0;
            /*width: 100px;*/
            width: auto;
        }
        .navbar-nav > li:first-child > a {
            padding-left: 0;
            text-align: left;
        }

        .navbar-nav > li:last-child {
            padding-right: 0;
            float: right;
            text-align: right;
            margin: 0;
            /*width: 100px;*/
            width: auto;
        }
        .navbar-nav > li:last-child > a {
            padding-right: 0;
            text-align: right;
        }
    }
    .parlaicon-search {
        width: 22px;
        height: 22px;
        line-height: 22px;
        position: relative;
        bottom: -5px;
        background-image: url("https://cdn.parlameter.si/v1/parlassets/icons/search.svg");
    }

    .header-searchhide {
        display: none;
        position: relative;
        top: 17px;
    }

    .header-search {

    }

    .search-input-header {
        background: none;
    }
    .twitter-typeahead .search-input-header,
    .twitter-typeahead .search-input-header:focus {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border: 0;
        background: none;
    }

    .search-input-header-prepend,
    .search-input-header-append{
        background: none;
        display: inline-block;
        height: 34px;
    }

    .search-input-header-prepend .glyphicon.glyphicon-search,
    .search-input-header-append .glyphicon.glyphicon-remove {
        position: relative;
        top:4px;
    }
    .search-input-header-append.xclose{
        cursor: pointer;
    }
    .header-search-find {

    }
    .searchiconbuttton{
        width: 30px;
        height: 30px;
        display: inline-block;
        margin-top: 8px;
        cursor: pointer;
    }

    @media (max-width: 992px) {
        #topheadersearch{
            position: relative;
            padding: 10px 0;
        }
        .search-input-header {
            background: none;
            width: 98%;
        }
        .header-searchhide{
            top:0;
        }
        .navbar-form .form-group{
            width:100%;
        }
        .twitter-typeahead{
            width:90%;
        }
        .navbar-header{
            width:100%;
        }
    }



    .header-search .tt-menu {
        max-height: 300px;
        overflow-y: auto;
        width: 200px;

        @include card(1);

    }

    .header-search .tt-dataset {
        padding: 0;
        background-color: $white;
        width: 200px;

    }
    .header-search .tt-dataset .searchheader {
        display: block;
        position: relative;
        width: 200px;
        height: 16px;
        line-height: 16px;
        font-size: 12px;
        background-color: #ededed;

        top: 0;
        left: 0;

        padding-left: 5px;
        z-index: 10;
    }


    .header-search .searchperson-container {
        border-bottom: 1px solid #ededed;
        height: 60px;
        padding: 10px;
        line-height: 40px;
        background-color: $white;
    }

    .header-search .tt-cursor {
        background-color: #ededed;
    }

    .session-ac-search {
        background: #e8f1f4;
        padding: 10px 5px;
        color: $funblue;
        cursor: pointer;
    }
    .session-ac-search .glyphicon-search {
        color: $funblue;
        font-size:16px;
    }

}

.session_transcript_menu {
    margin: 80px auto 0 auto;
    display: table;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height + 50px space */
    margin-bottom: 260px;
}
footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 210px;
    .cnt {
        border-top: 1px solid $darkgrey;
        padding-top: 10px;
        margin-top: 10px;
    }

    .border_top{
        border-top: 1px solid $darkgrey;
        padding-top: 40px;
        margin-top: 10px;
    }

    .border_tope{
        border-top: 1px dashed $darkgrey;
        padding-top: 10px;
        margin-top: 10px;
    }

    .colorBlack{
        color: $black;
    }

    .parlaicon-twitter-parlameter {
        width: 35px;
        height: 35px;
        line-height: 35px;
        position: relative;
        color: $funblue;
        margin: 0 0px 0 30px;
    }
    .parlaicon-facebook-parlameter {
        width: 35px;
        height: 35px;
        line-height: 35px;
        position: relative;
        color: $funblue;
        margin: 0 0px 0 20px;
        text-decoration: none;
    }
    .parlaicon-facebook-parlameter .blue,
    .parlaicon-twitter-parlameter .blue {
        fill: $funblue;
        stroke: $funblue;
    }
    .parlaicon-facebook-parlameter:hover .blue,
    .parlaicon-twitter-parlameter:hover .blue {
        fill: $sadblue;
        stroke: $sadblue;
        text-decoration: none;
    }
    .parlaicon-social-align{

    }
    .doniraj{
        border: 1px solid $black;
        background: none;
        text-transform: uppercase;
        border-radius: 0;
    }
    .parlaicon-doniraj {
        width: 17px;
        height: 20px;
        line-height: 22px;
        position: relative;
        bottom: -5px;
        right: -5px;
        margin-right: 5px;

        color: $funblue;
    }
    .parlaicon-doniraj .red {
        fill: $red;
        stroke: $red;
    }

    .parlaicon-doniraj {
        display: inline-block;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    }

    .doniraj:hover .parlaicon-doniraj {
        -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }


    input.form-control.newslettersubscribe{
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $black;
        background: none;
        padding-left: 0;
    }
    input.form-control.newslettersubscribe:focus {
        outline: none;
    }

    .newslettersubscribeButton{
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $black;
        background: none;
        padding: 7px 12px 6px 12px;
        color: #337ab7;
        padding-right: 0;
        text-transform: uppercase;
    }
    .newslettersubscribeButton:hover {
        background: none;
        border-bottom: 1px solid $black;
        color: #337ab7;
        padding-right: 0;
    }

}
@media (max-width: 992px) {
/*
    body{
        margin-bottom: 600px;
    }
    footer.footer {
        height: 600px;
    }
*/
    .parlaicon-social-align{
        text-align: right;
    }
}



.stripeeltop {
    position: relative;
    height: 40px;
    width: 100%;
    overflow: hidden;
    @include gradient('horizontal', 'blue');
}

.stripeeltop:before {
    content: '';
    position: absolute;
    left: -5%;
    width: 110%;
    height: 200%;
    background: $grey;
    top: 15px;
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    transform: rotate(1deg);
}

.stripeelbottom {
    position: absolute;
    height: 30px;
    width: 100%;
    overflow: hidden;
    background: $grey;
    /*bottom: 0;*/
}

.stripeelbottom:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 200%;
    @include gradient('horizontal', 'blue');
    top: 15px;
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    transform: rotate(1deg);
}
