// Computes a top-shadow for a card effect.
// @param {Number} $depth - depth level
// @return {List}
@function top-shadow($depth) {
    $primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
    $blur: nth(1.5 3 10 14 19, $depth) * 4px;
    $color: rgba(black, nth(.12 .16 .19 .25 .30, $depth));

    @return 0 $primary-offset $blur $color;
}

// Computes a bottom-shadow for a card effect.
// @param {Number} $depth - depth level
// @return {List}
@function bottom-shadow($depth) {
    $primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
    $blur: nth(1 3 3 5 6, $depth) * 4px;
    $color: rgba(black, nth(.24 .23 .23 .22 .22, $depth));

    @return 0 $primary-offset $blur $color;
}

// Gives a card depth effect.
// @param {Number} $depth - depth level (between 1 and 5)
// @link http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality Google Design
// @requires {function} top-shadow
// @requires {function} bottom-shadow
@mixin card($depth) {
    @if $depth < 1 {
        box-shadow: none;
    } @else if $depth > 5 {
        @warn "Invalid $depth `#{$depth}` for mixin `card`.";
    } @else {
        box-shadow: #{bottom-shadow($depth) + ', ' + top-shadow($depth)};
    }
}

@mixin box-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0, 0, 0, .4)) {
    box-shadow: $x $y $blur $color;
}

@mixin border-radius($radius: 5px) {
    border-radius: $radius;
}

body {
    background-color: $grey;
}

.container {
  max-width: 500px;
  @include respond-to(desktop) { max-width: 1010px; }
}

a:focus, button:focus{
    outline: none;
}

$cdn_home_img: 'https://cdn.parlameter.si/v1/parlassets/img/';
$cdn_home_icon: 'https://cdn.parlameter.si/v1/parlassets/icons/';

.nopadding {
  padding: 0 !important;
}

.nomargin {
  margin: 0 !important;
}

.nopadding-left {
  padding-left: 0 !important;
}

.nopadding-right {
  padding-right: 0 !important;
}

.nomargin-left {
  margin-left: 0 !important;
}

.nomargin-right {
  margin-right: 0 !important;
}

.paddingtop5px{
  padding-top: 5px;
}


// GRADIENT
@mixin gradient($direction: 'vertical', $first_color: 'blue') {
    @if $direction == 'vertical' {
        // TOP TO BOTTOM
        @if $first_color == 'blue' {
            // BLUE TO RED
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009cdd+0,ff5e41+100 */
            background: #009cdd; /* Old browsers */
            background: -moz-linear-gradient(top,  #009cdd 0%, #ff5e41 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  #009cdd 0%,#ff5e41 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  #009cdd 0%,#ff5e41 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009cdd', endColorstr='#ff5e41',GradientType=0 ); /* IE6-9 */
        } @else {
            // RED TO BLUE
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5e41+0,009cdd+100 */
            background: #ff5e41; /* Old browsers */
            background: -moz-linear-gradient(top,  #ff5e41 0%, #009cdd 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  #ff5e41 0%,#009cdd 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  #ff5e41 0%,#009cdd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5e41', endColorstr='#009cdd',GradientType=0 ); /* IE6-9 */
        }
    } @else {
        // LEFT TO RIGHT
        @if $first_color == 'blue' {
            // BLUE TO RED
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009cdd+0,ff5e41+100 */
            background: #009cdd; /* Old browsers */
            background: -moz-linear-gradient(left,  #009cdd 0%, #ff5e41 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left,  #009cdd 0%,#ff5e41 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right,  #009cdd 0%,#ff5e41 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009cdd', endColorstr='#ff5e41',GradientType=1 ); /* IE6-9 */
        } @else {
            // RED TO BLUE
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5e41+0,009cdd+100 */
            background: #ff5e41; /* Old browsers */
            background: -moz-linear-gradient(left,  #ff5e41 0%, #009cdd 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left,  #ff5e41 0%,#009cdd 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right,  #ff5e41 0%,#009cdd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5e41', endColorstr='#009cdd',GradientType=1 ); /* IE6-9 */
        }
    }
}

@mixin arrow($width, $height, $top, $right) {
  &::after {
    border-color: $sadblue transparent transparent transparent;
    border-style: solid;
    border-width: $height $width/2 0 $width/2;
    content: '';
    height: 0;
    pointer-events: none;
    position: absolute;
    right: $right;
    top: $top;
    width: 0;
  }
}

%flex {
  align-items: center;
  display: flex;
  .column {
    flex: 1;
    margin: 0 8px;
    text-align: center;
    &.wider { flex: 2; }
  }
}

.nalagalnik{
  background: url($cdn_home_img + 'loader.gif') no-repeat center center;
  height: 100px;
  width: 100%;
}

/* Pulse */
@keyframes pulse {
  25% { transform: scale(1.1); }
  75% { transform: scale(0.9); }
}

.empty50{
  height: 50px;
  display: block;
  width: 100%;
}
.simplebox,
.simplebox:active,
.simplebox:focus,
.simplebox:hover{
  outline: none;
  box-shadow: none !important;
}

%group-member-header-headings {
  h1 {
      font-size: 22px;
      margin-bottom: 5px;
      margin-top: 0;
  }
  h2 {
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 8px;
      margin-top: 0;
  }
  h3 {
      font-family: Roboto Slab, serif;
      font-size: 14px;
      font-weight: 300;
      margin: 0;
  }
}

[v-cloak] { display: none; }

.no-results {
  font-size: 16px;
  font-style: italic;
  $width: 200px;
  width: $width;
  text-align: center;
  $height: 20px;
  line-height: $height;
  position: absolute;
  top: calc(50% - #{$height / 2});
  left: calc(50% - #{$width / 2});
}

input.required.error,
footer.footer input.required.error{
  border:1px solid $red;
}

.narrow-inner-container {
  margin: 0 auto 40px auto;
  max-width: 560px;
  position: relative;
  text-align: center;
}
