// Computes a top-shadow for a card effect.
// @param {Number} $depth - depth level
// @return {List}
@function top-shadow($depth) {
    $primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
    $blur: nth(1.5 3 10 14 19, $depth) * 4px;
    $color: rgba(black, nth(.12 .16 .19 .25 .30, $depth));

    @return 0 $primary-offset $blur $color;
}

// Computes a bottom-shadow for a card effect.
// @param {Number} $depth - depth level
// @return {List}
@function bottom-shadow($depth) {
    $primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
    $blur: nth(1 3 3 5 6, $depth) * 4px;
    $color: rgba(black, nth(.24 .23 .23 .22 .22, $depth));

    @return 0 $primary-offset $blur $color;
}

// Gives a card depth effect.
// @param {Number} $depth - depth level (between 1 and 5)
// @link http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality Google Design
// @requires {function} top-shadow
// @requires {function} bottom-shadow
@mixin card($depth) {
    @if $depth < 1 {
        box-shadow: none;
    } @else if $depth > 5 {
        @warn "Invalid $depth `#{$depth}` for mixin `card`.";
    } @else {
        box-shadow: #{bottom-shadow($depth) + ', ' + top-shadow($depth)};
    }
}

@mixin box-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0, 0, 0, .4)) {
    box-shadow: $x $y $blur $color;
}

@mixin border-radius($radius: 5px) {
    border-radius: $radius;
}

body {
    background-color: $background;
}

.container {
  max-width: 500px;
  @include respond-to(desktop) { max-width: 1010px; }
}

a:focus, button:focus{
    outline: none;
}

$cdn_home_img: get-parlassets-url() + '/img/';
$cdn_home_icon: get-parlassets-url() + '/icons/';

.nopadding {
  padding: 0 !important;
}

.nomargin {
  margin: 0 !important;
}

.nopadding-left {
  padding-left: 0 !important;
}

.nopadding-right {
  padding-right: 0 !important;
}

.nomargin-left {
  margin-left: 0 !important;
}

.nomargin-right {
  margin-right: 0 !important;
}

.paddingtop5px{
  padding-top: 5px;
}


// GRADIENT
@mixin gradient($direction: 'vertical', $reverse: false) {
  $color1: $gradient-first;
  $color2: $gradient-second;
  $color3: $gradient-third;
  @if $reverse == true {
    $color1: $gradient-third;
    $color2: $gradient-second;
    $color3: $gradient-first;
  }
  @if $direction == 'vertical' {
    // TOP TO BOTTOM
    /* Created with: http://colorzilla.com/gradient-editor/ */
    background: $color3; /* Old browsers */
    background: -moz-linear-gradient(top, $color3 0%, $color2 50%, $color1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $color3 0%, $color2 50%, $color1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $color3 0%, $color2 50%, $color1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color3', endColorstr='$color1', GradientType=0); /* IE6-9 */
  } @else {
    // LEFT TO RIGHT
    /* Created with: http://colorzilla.com/gradient-editor/*/
    background: $color1; /* Old browsers */
    background: -moz-linear-gradient(left, $color1 0%, $color2 50%, $color3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, $color1 0%, $color2 50%, $color3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, $color1 0%, $color2 50%, $color3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color3', GradientType=1); /* IE6-9 */
  }
}

@mixin arrow($width, $height, $top, $right) {
  &::after {
    border-color: $dropdown-arrow transparent transparent transparent;
    border-style: solid;
    border-width: $height $width/2 0 $width/2;
    content: '';
    height: 0;
    pointer-events: none;
    position: absolute;
    right: $right;
    top: $top;
    width: 0;
  }
}

%flex {
  align-items: center;
  display: flex;
  .column {
    flex: 1;
    margin: 0 8px;
    text-align: center;
    &.wider { flex: 2; }
  }
}

.nalagalnik{
  background: url($cdn_home_img + 'loader.gif') no-repeat center center;
  background-size: 38px;
  height: 100px;
  width: 100%;
}

/* Pulse */
@keyframes pulse {
  25% { transform: scale(1.1); }
  75% { transform: scale(0.9); }
}

.empty50{
  height: 50px;
  display: block;
  width: 100%;
}
.simplebox,
.simplebox:active,
.simplebox:focus,
.simplebox:hover{
  outline: none;
  box-shadow: none !important;
}

%group-member-header-headings {
  h1,
  h2,
  h3 {
      margin: 0 auto;
      font-size: 24px;
      line-height: 1.4;
      font-weight: 500;
      max-width: 80%;

      @include respond-to(mobile) {
          max-width: 100%;
      }
  }
  h2 {
      font-size: 18px;
      font-weight: 300;
  }
  h3 {
      font-family: Roboto Slab, serif;
      font-size: 14px;
      font-weight: 300;
  }
}

[v-cloak] { display: none !important; }

.no-results {
  font-size: 16px;
  font-style: italic;
  $width: 200px;
  width: $width;
  text-align: center;
  $height: 20px;
  line-height: $height;
  position: absolute;
  top: calc(50% - #{$height / 2});
  left: calc(50% - #{$width / 2});
}

input.required.error,
footer.footer input.form-control.newslettersubscribe.error,
#donation-amount.error {
  border:1px solid #f00;
}

.narrow-inner-container {
  margin: 0 auto 40px auto;
  max-width: 560px;
  position: relative;
  text-align: center;
}

.divider hr {
  border-color: $divider;
  margin-top: 50px;
  margin-bottom: 50px;
}
