.parlaicon {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.parlaicon-clanstva {
    background-image: url($cdn_home_icon + 'clanstva.svg');
}
.parlaicon-skupina {
    background-image: url($cdn_home_icon + 'skupina.svg');
}
.parlaicon-funkcija {
    background-image: url($cdn_home_icon + 'funkcija.svg');
}
.parlaicon-delaza {
    background-image: url($cdn_home_icon + 'delaza.svg');
}
.parlaicon-mandat {
    background-image: url($cdn_home_icon + 'mandat.svg');
}
.parlaicon-status {
    background-image: url($cdn_home_icon + 'status.svg');
}
.parlaicon-izobrazba {
    background-image: url($cdn_home_icon + 'izobrazba.svg');
}
.parlaicon-starost {
    background-image: url($cdn_home_icon + 'starost.svg');
}

.parlaicon-za {
    background-image: url($cdn_home_icon + 'za.svg');
}
.parlaicon-ni {
    background-image: url($cdn_home_icon + 'ni.svg');
}
.parlaicon-proti {
    background-image: url($cdn_home_icon + 'proti.svg');
}
.parlaicon-kvorum {
    background-image: url($cdn_home_icon + 'vzdrzan.svg');
}
.parlaicon-govor {
    background-image: url($cdn_home_icon + 'govor.svg');
}


.parlaicon-facebook {
    width: 22px;
    height: 22px;
    line-height: 22px;
    position: relative;
    bottom: -5px;
    background-image: url($cdn_home_icon + 'facebook.svg');
}
.parlaicon-twitter {
    width: 22px;
    height: 22px;
    line-height: 22px;
    position: relative;
    bottom: -5px;
    background-image: url($cdn_home_icon + 'twitter.svg');
}
.parlaicon-linkedin {
    width: 22px;
    height: 22px;
    line-height: 22px;
    position: relative;
    bottom: -5px;
    background-image: url($cdn_home_icon + 'linkedin.svg');
}
.parlaicon-omrezja {
    width: 22px;
    height: 22px;
    line-height: 22px;
    position: relative;
    bottom: -5px;
    background-image: url($cdn_home_icon + 'omrezja.svg');
}
