.member-container {
    height: 100%;
    left: 0;
    margin-left: -9px;
    margin-right: -9px;
    margin-top: 20px;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    top: 0;
    .header {
        margin-bottom: 20px;
    }
    @extend %group-member-header-headings;
    h3 { margin-bottom: 41px; }
}
.member-container-menu {
    ul {
        padding: 0;
        margin: 0 auto;
        display: table;

        li {
            display: table;
            overflow: hidden;
            float: left;
            text-align: center;
            list-style: none;
            margin-right: 20px;

            &:last-child {
              margin-right: 0;
            }
            a {
                vertical-align: middle;
                display: block;
                font-size: 16px;
                font-weight: 300;
                line-height: 30px;
                padding: 10px 40px;
                color: $white;
                border: 1px solid $darkgrey;
                text-transform: uppercase;
                background-color: #227497;
            }
            a.active {
                color: $white;
                background: $funblue;
                text-decoration: none;
            }
            a:hover {
                color: $white;
                background: $funblue-hover;
                text-decoration: none;
            }
        }
    }
}

.poslanec {
    // border-bottom: 1px solid #f0f0f0;
    padding: 11px 0;
    position: relative;
    .image {}
    .member_data {}
    h3 {
        font-size: 18px;
        font-weight: 300;
        margin: 12px 0 0 0;
    }
    h4 {
        font-size: 14px;
        font-weight: 300;
    }
}

@media (max-width: 990px) {
  .member-container-menu {
    ul {
      li {
        a {
          padding: 10px 20px;
        }
      }
    }
  }
}
@media (max-width: 956px) {
    .member-container-menu {
        ul {
            padding: 0;
            margin: 0 auto;

            li {
                margin-right: 2px;
                a {
                    font-size: 14px;
                    padding: 10px 10px;
                }
            }
        }
    }

}
@media (max-width: 440px) {
  .member-container-menu {
    ul {
      li {
        a {
          font-size: 12px;
          padding: 5px 5px;
        }
      }
    }
  }
}

/* added by muki */
.member {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 0;

  .image {
    max-width: 75px;
    max-height: 75px;
    display: flex;
    flex-shrink: 0;
  }

  p {
    margin: 0;
    display: flex;
    flex-shrink: 1;

    padding-left: 5px;
    padding-right: 10px;

    justify-content: flex-start;
  }

  span {
    margin: 0;
    display: flex;
    flex-grow: 2;
    flex-shrink: 0;

    justify-content: flex-end;

    color: #525252;
    font-weight:500;
  }
}
.member.lastel {
  border: none;
  padding-bottom: 10px;
}
/* end of added by muki */
