.member-container {
    height: 100%;
    left: 0;
    margin-left: -9px;
    margin-right: -9px;
    margin-top: 20px;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    top: 0;
    .header {
        margin-bottom: 20px;
    }
    h1 {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 22px;

    }
    h2 {
        margin-top: 20px;
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 300;
    }
    font,
    font.date {
        font-weight: 300;
        font-size: 18px;
    }
}
.member-container-menu {
    ul {
        padding: 0;
        li {
            display: table;
            overflow: hidden;
            float: left;
            text-align: center;
            list-style: none;
            margin-right: 10px;
            a {
                display: table-cell;
                vertical-align: middle;
                line-height: 30px;
                //                width: 160px;
                color: $black;
                border: 1px solid $darkgrey;
                padding: 0 20px;
                text-transform: uppercase;
            }
            a.active,
            a:hover {
                color: $white;
                background: $funblue;
                text-decoration: none;
            }
        }
    }
}


.poslanec {
    // border-bottom: 1px solid #f0f0f0;
    padding: 10px 0;
    position: relative;
    .image {}
    .member_data {}
    h3 {
        font-size: 18px;
        font-weight: 300;
        margin: 12px 0 0 0;
    }
    h4 {
        font-size: 14px;
        font-weight: 300;
    }
}
