.member-list-generator {
  %list-flex {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .parties-districts { display: flex; }

  .analyses {
    @extend %list-flex;
    @include show-for(tablet-up, flex);
    margin: 14px 0;

    li {
      align-items: center;
      border: 1px solid #c8c8c8;
      box-sizing: border-box;
      color: #525252;
      cursor: pointer;
      display: flex;
      font-size: 12px;
      height: 61px;
      line-height: 16px;
      margin-right: 3px;
      padding: 0 12px;
      text-transform: uppercase;
      &.selected {
        background-color: #009cdd;
        color: #ffffff;
        cursor: default;
      }
      &:last-child { margin-right: 0; }
      &:hover {
        background-color: #009cdd;
        color: #ffffff;
      }
    }
  }

  .mobile-analyses {
    @include show-for(mobile, block);

    label {
      font-size: 11px;
      width: 100%;
    }
    .select {
      width: 100%;
      select { width: 100%; }
    }
  }

  .parties {
    @extend %list-flex;
    flex: 2;
    @include respond-to(mobile) {
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 7px;
    }
    li {
      box-sizing: border-box;
      margin-right: 3px;
      &:last-child { margin-right: 0; }
      @include respond-to(mobile) {
        $width: 20%;
        flex: none;
        margin: 3px 0 0 0;
        width: calc(#{$width} - 1.6px);
        &:last-child { margin-right: $width; }
      }
    }
  }

  .districts {
    @include show-for(tablet-up, flex);

    flex: 1;
    margin-left: 15px;
  }

  .exclude-presiding {
    @include show-for(tablet-up, flex);

    align-items: center;
    justify-content: flex-end;
    width: 142px;
  }

  .generated-url {
    font-family: monospace;
    word-wrap: break-word;
  }
}
