.member-list-generator {
  %list-flex {
    display: flex;
    list-style: none;
    padding: 0;
  }

  .parties-districts { display: flex; }

  .analyses {
    @extend %list-flex;
    margin: 14px 0;

    li {
      align-items: center;
      border: 1px solid #c8c8c8;
      box-sizing: border-box;
      color: #525252;
      cursor: pointer;
      display: flex;
      font-size: 12px;
      height: 61px;
      line-height: 16px;
      margin-right: 3px;
      padding: 0 12px;
      text-transform: uppercase;
      &.selected {
        background-color: #009cdd;
        color: #ffffff;
        cursor: default;
      }
      &:last-child { margin-right: 0; }
    }
  }

  .parties {
    @extend %list-flex;
    width: 58.33%;
    li {
      margin-right: 3px;
      &:last-child { margin-right: 0; }
    }
  }

  .districts {
    @extend %list-flex;
    border: 1px solid #c8c8c8;
    height: 51px;
    margin-left: 15px;
    padding: 12px 14px;
    position: relative;
    width: 41.67%;
    li {
      background-color: #197197;
      color: #ffffff;
      font-weight: 300;
      line-height: 24px;
      padding: 0 6px;
      .cross {
        font-size: 20px;
        font-weight: 400;
        vertical-align: bottom;
      }
    }
    &::after {
      border-color: #197197 transparent transparent transparent;
      border-style: solid;
      border-width: 11px 9px 0 9px;
      content: '';
      height: 0;
      position: absolute;
      right: 19px;
      top: 20px;
      width: 0;
    }
  }
}

%flex {
  align-items: center;
  display: flex;
  .column {
    flex: 1;
    margin: 0 8px;
    text-align: center;
    &.wider { flex: 2; }
  }
}
