.tool-arrow {
  background: url($cdn_home_icon + 'arrow_right_hr.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.card-header .alt-header .media-object.img-circle.session-logo {
  overflow: hidden;

  b {
    font-size: 0px;
    opacity: 0;
  }
}

#s_seznam-sej .session-list {
  .item .column,
  .headers .column {
    flex: 1 !important;

    &:not(:first-child) {
      text-align: center;
    }
  }
}
