.card-header .alt-header .media-object.img-circle.session-logo {
  overflow: hidden;

  b {
    font-size: 0px;
    opacity: 0;
  }
}

[id^="s_seznam-sej"] .session-list {
  .item .column,
  .headers .column {
    flex: 1 !important;

    &:not(:first-child) {
      text-align: center;
    }
  }
}

[id^="s_zakonodaja-iskanje"],
[id^="c_zakonodaja"] {
  .legislation-list a {
    color: $third;
  }
}
