.party-button {
  border-top: 1px solid #c8c8c8;
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
  border-bottom: 7px solid;
  cursor: pointer;
  flex: 1;
  font-size: 13px;
  font-weight: 300;
  height: 51px;
  line-height: 16px;
  padding: 8px 5px 0;
  text-align: center;

  &.selected,
  &:hover {
    border-bottom: 1px solid #c8c8c8 !important;
    color: #fff;
  }

  @each $name, $color in map-merge($party-colors, $option-colors) {
    &.#{$name} {
      border-bottom-color: $color;

      &.selected,
      &:hover { background-color: $color; }
      &.selected:hover { background-color: darken($color, 10%); }
    }
  }
}
