.party-list {
  margin: 0 0 3px 0;
  padding: 0;
  list-style: none;
  .party {
    @extend %flex;
    line-height: 40px;
    padding: 5px 0;
    .column {
      font-family: Roboto, sans-serif;
      font-size: 18px;
      font-weight: 300;
      margin: 0;
      text-align: left;
      &.name {
        flex: none;
        width: 136px;
      }
    }
  }
}

@media (max-width: 767px) {
  .party-list {
    .party {
      .column {
        font-size: 16px;
        &.name { width: 60px; }
      }
    }
  }
}
