.person-list {
  $image-size: 80px;
  $image-margin: 18px;

  list-style: none;
  margin: 0;
  padding: 0;
  .loader {
    padding: 10px 0;
    text-align: center;
  }
  .column.district { @include show-for(tablet-up); }
  .headers {
    @extend %flex;
    margin-left: $image-size + $image-margin;
    .column {
      color: #525252;
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      white-space: nowrap;
      &.sort::after {
        border-style: solid;
        border-width: 9px 7.5px 0 7.5px;
        border-color: #009cdd transparent transparent transparent;
        content: '';
        display: inline-block;
        margin-left: 8px;
        transform: rotate(180deg);
      }
      &.sort.reverse::after { transform: none; }
    }
  }
  .person {
    @extend %flex;
    border-bottom: 1px solid #f0f0f0;
    padding: 8px 0;
    &:last-child { border: none; }
    .column {
      font-family: Roboto, sans-serif;
      font-size: 18px;
      font-weight: 300;
      &.portrait {
        flex: none;
        margin: 0 $image-margin 0 0;
        img {
          border-radius: 50%;
          height: $image-size;
          width: $image-size;
        }
      }
      &.name { text-align: left; }
    }
  }
  @include respond-to(mobile) {
    $image-size: 41px;
    $image-margin: 4px;

    .person {
      padding: 6px 0;
      .column {
        font-size: 14px;
        &.portrait {
          margin: 0 $image-margin 0 0;
          img {
            height: $image-size;
            width: $image-size;
          }
        }
      }
    }

    .headers { margin-left: $image-size + $image-margin; }
  }
}
