.me_poslanec {
    padding-bottom: 30px;
}

.me_poslanec .poslanec_title {
    font-size: 18px;
    font-weight: 300;
}

.me_poslanec .progress_number {
    font-size: 20px;
    line-height: 20px;
}

.me_poslanec_mini {
    padding-bottom: 20px;
}
.me_poslanec_mini .poslanec_title{
    font-size: 18px;
    font-weight: 100;
}
.me_poslanec_mini .progress_number{
    font-size: 16px;
    font-weight: 400;
}




.other_poslanec {
    padding-bottom: 30px;
}

.other_poslanec .poslanec_title {
    font-size: 18px;
    font-weight: 300;
}

.progress {
    border: none;
    box-shadow: none;
    background: none;
    border-radius: 0;
    margin-bottom: 0;
}

.progress-bar {
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.progress.hugebar2 {
    height: 30px;
}
.progress.hugebar {
    height: 38px;
}

.progress.hugebar .red {
    background: $red;
}
.progress.smallbar .funblue {
    background: $funblue;
}

.progress.smallbar .red {
    background: $red;
}

.progress_number {
    display: inline-block;
    padding-left: 10px;
    font-weight: 500;
}


.other_poslanec .avgmin {}

.other_poslanec .progress_number {
    font-size: 20px;
    line-height: 20px;
}

.other_poslanec .img-circle {
    width: 35px;
}

//
//.poslanec .nav-tabs{
//    border-bottom: none;
//    padding-bottom: 40px;
//}
//.poslanec .nav-tabs > li{
//    margin-right: 10px;
//}
//.poslanec .nav > li > a{
//    padding: 10px 0 2px 0;
//}
//.poslanec .nav > li > a:hover{
//    background: none;
//}
//.poslanec .nav-tabs > li > a{
//    border-radius: 0;
//    border: none;
//    color: $black;
//    background: $grey;
//}
//.poslanec .nav-tabs > li.active > a{
//    font-weight: 500;
//
//    color: $white;
//    background: $funblue;
//}
//.poslanec .tab-content .poslanec_title{
//    font-size: 16px;
//}
//
//.poslanec .tab-content .me_poslanec{
//    padding-bottom: 40px;
//}
//.poslanec .tab-content .other_poslanec{
//    padding-bottom: 40px;
//}

.hugebar {
    .cptin {
        font-size: 18px;
        line-height: 38px;
    }
}

.progressbar-tooltip {
    position: absolute;
    text-align: center;
    border: 0px;
    pointer-events: none;
    background-color: #525252;
    border-radius: 3px;
    padding: 2px 10px;
    opacity: 0;

    color: #ffffff;

    transition: opacity 0.25s ease-out;

    z-index: 10;
}

.smallbar {
    height: 30px;
}


.avgminimg {
    float: left;
    position: relative;
    left: -12px;

    width: 30px;
    height: 30px;

    background-position: center;
    background-size: cover;

    border: 2px solid #ffffff;
}