.me_poslanec {
    padding-bottom: 25px;
}

.me_poslanec .poslanec_title {
    font-size: 18px;
    font-weight: 300;
    @include respond-to(mobile) { font-size: 14px; }
}

.me_poslanec .progress_number {
    font-size: 20px;
    line-height: 20px;
}

.me_poslanec_mini {
    padding-bottom: 20px;
}
.me_poslanec_mini .poslanec_title{
    font-size: 18px;
    font-weight: 300;
    @include respond-to(mobile) { font-size: 14px; }
}
.me_poslanec_mini .progress_number{
    font-size: 16px;
    font-weight: 400;
}


.other_poslanec {
    padding-bottom: 25px;
    .poslanec_title { @extend %list-text }
}

.progress {
    border: none;
    box-shadow: none;
    background: none;
    border-radius: 0;
    margin-bottom: 0;
    &.hugebar {
      height: 30px;

      .this {
          background: $barchart-this;
      }
    }
    &.smallbar {

      .this {
          background: $barchart-this;
      }
      .other {
          background: $barchart-other;
      }
    }
}

.progress-bar {
    border: none;
    box-shadow: none;
    border-radius: 0;
    background-color: $barchart-default;

    .this {
        background: $barchart-this;
    }
    .other {
        background: $barchart-other;
    }
}

.progress_number {
    display: inline-block;
    padding-left: 10px;
    font-weight: 500;
}

.other_poslanec .avgmin {
    .progress_number {
        padding-left: 20px;
    }
}

.other_poslanec .progress_number {
    font-size: 20px;
    line-height: 30px;
}

.other_poslanec .img-circle {
    width: 35px;
}


.hugebar {
    .cptin {
        font-size: 18px;
        line-height: 30px;
    }
}

.progressbar-tooltip {
    position: absolute;
    text-align: center;
    border: 0px;
    pointer-events: none;
    background-color: $font-placeholder;
    border-radius: 3px;
    padding: 2px 10px;
    opacity: 0;

    color: $white;

    transition: opacity 0.25s ease-out;

    z-index: 10;
}

.smallbar {
    height: 30px;
}


.avgminimg {
    float: right;
    position: relative;
    left: 15px;

    width: 30px;
    height: 30px;

    background-position: center;
    background-size: cover;

    border: 2px solid $white;

    &[data-name="PS Levica"], &.levica-background {
        font-size: 8px;
    }
}

// MUKI NEW STUFF FOR SMALL CARDS

.progress_flex {
    @extend %flex;
    justify-content: flex-start;

    .column {
        text-align: left;
        margin: 0;
    }

    .progress_title {
        flex: 2.5;
        .poslanec_title {
            @extend %list-text;
            line-height: 1.1em;
        }
    }
    .progress_bar {
        flex: 5;

        .progress.smallbar {
            @extend %flex;
            .progress_number {
                @extend %progress-text;
            }
        }
    }
}

// END OF MUKI NEW STUFF FOR SMALL CARDS
