.searchfilter-container {
  background-color: #d8e2e6;
  padding: 15px;
}

#seje .searchfilter-label {
  margin-bottom: 9px;
}

.searchfilter-label {
  font-size: 14px;
  padding-bottom: 4px;
  font-weight: 300;
}

.searchfilter-checkbox:last-child {
  height: 60px;
}

.searchfilter-checkbox .checkbox+label {
  width: 100%;
  font-size: 16px;
  line-height: 40px;
  margin-bottom: 10px;
  padding-left: 40px;
}

.searchfilter-checkbox .checkbox+label:before {
  margin-top: 5px;
  width: 30px;
  height: 30px;
  background-color: #f0f0f0;
}

.searchfilter-checkbox .checkbox.with-input+label:before {
  margin-top: 10px;
  width: 30px;
  height: 30px;
}

.searchfilter-checkbox .checkbox:checked+label:before {
  background-position: 7px 9px;
}

.searchfilter-checkbox .checkbox[disabled]+label {
  opacity: 0.5;
}

.parlabutton-filter {
  margin: auto;
  position: relative;
  width: 250px;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  background-color: #197197;
  cursor: pointer;
  display: block;
  margin-top: 20px;
}

.parlabutton-filter:hover {
  background-color: #009cdd;
  color: #ffffff;
  text-decoration: none;
}

.checkbox-searchfilter {
  position: relative;
  top: -52px;
  margin-left: 40px;
}

.searchfilter-master-container {
  position: relative;
}

.search-loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
}

.search-loader .nalagalnik {
  position: relative;
  top: 50%;
  margin-top: -50px;
}

// search info button
.searchinfo {
    background-color: #ffffff;
    border-radius: 50%;
    color: #00628c;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    height: 20px;
    position: absolute;
    right: -25px;
    top: 54px;
    width: 20px;

    @include card(1);
}
// end of search info button
