.searchfilter-container {
  background-color: $link-hover-background;
  padding: 15px;
}

#seje .searchfilter-label {
  margin-bottom: 9px;
}

.searchfilter-label {
  font-size: 14px;
  padding-bottom: 4px;
  font-weight: 300;
}

.searchfilter-checkbox:last-child {
  height: 60px;
}

.searchfilter-checkbox .checkbox+label {
  width: 100%;
  font-size: 16px;
  line-height: 40px;
  margin-bottom: 10px;
  padding-left: 40px;
}

.searchfilter-checkbox .checkbox+label:before {
  margin-top: 5px;
  width: 30px;
  height: 30px;
  background-color: $background;
}

.searchfilter-checkbox .checkbox.with-input+label:before {
  margin-top: 10px;
  width: 30px;
  height: 30px;
}

.searchfilter-checkbox .checkbox:checked+label:before {
  background-position: 7px 9px;
}

.searchfilter-checkbox .checkbox[disabled]+label {
  opacity: 0.5;
}

.parlabutton-filter {
  margin: auto;
  position: relative;
  width: 250px;
  text-align: center;
  color: $white;
  padding: 10px;
  background-color: $first;
  cursor: pointer;
  display: block;
  margin-top: 20px;
}

.parlabutton-filter:hover {
  background-color: $second;
  color: $white;
  text-decoration: none;
}

.checkbox-searchfilter {
  position: relative;
  top: -52px;
  margin-left: 40px;
}

.searchfilter-master-container {
  position: relative;
}

.search-loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $white-hover;
}

.search-loader .nalagalnik {
  position: relative;
  top: 50%;
  margin-top: -50px;
}

// search info button
.searchinfo {
    background-color: $white;
    border-radius: 50%;
    color: $link;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    height: 20px;
    position: absolute;
    right: -25px;
    top: 54px;
    width: 20px;

    @include card(1);
}
// end of search info button

.landing{
  .session-search-container {
    margin-bottom: 100px;
    overflow: initial;

    .searchForm{
      position: relative;

      .search{
        .input-group-btn {

        }
        .btn {
          font-size: 22px;
        }
      }
      .searchinfo {
        right: -25px;
        top: 13px;
      }
      .tt-menu {
        left: 2px!important;
        width: 106.7%;
      }
      .tt-dataset {
        text-align: left;

        .searchheader {
          display: block;
          position: relative;
          width: 100%;
          height: 16px;
          line-height: 16px;
          font-size: 12px;
          background-color: $background;
          top: 0;
          left: 0;
          padding-left: 5px;
          z-index: 10;
        }
      }

      .input-group {
        display: table;
      }

      .searchperson-container {
        border-bottom: 1px solid $background;
        height: 60px;
        padding: 10px;
        line-height: 40px;
        background-color: $white;
      }

      .session-ac-search {
        background: $link-hover-background;
        padding: 10px 5px;
        color: $second;
        cursor: pointer;
      }
    }
  }
}
