// _colors.scss
.session-container {
    height: 100%;
    left: 0;
    margin-left: -9px;
    margin-right: -9px;
    margin-top: 20px;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    top: 0;
    .header {
        margin-bottom: 20px;
    }
    h1 {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 24px;
        font-weight: 500;
    }
    h2 {
        margin-top: 20px;
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 300;
    }
    font,
    font.date,
    font.datepublished {
        font-weight: 300;
    }
    font.date {
        font-size: 14px;
        font-family: 'Robot Slab', serif;
    }
    font.datepublished {
        font-size: 14px;
        display: inline-block;
        margin-bottom: 50px;
        font-family: 'Robot Slab', serif;
    }
}
.session_types {
    margin: 0 auto 40px auto;
    width: 560px;
    text-align: center;
    padding: 0;
    ul {
        padding: 0;
        li {
            display: table;
            overflow: hidden;
            float: left;
            text-align: center;
            list-style: none;
            margin-right: 10px;
            min-height: 52px;
            a {
                display: table-cell;
                vertical-align: middle;
                line-height: 18px;
                height: 50px;
                width: 160px;
                color: $black;
                border: 1px solid $darkgrey;
                padding: 5px 20px;
                text-transform: uppercase;
            }
            a.active,
            a:hover {
                color: $white;
                background: $funblue;
                text-decoration: none;
            }
        }
    }

    h3.searchresults {
        font-size: 18px;
        color: #525252;
        font-weight: 500;
    }

    h2 {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .search {
        .form-control {
            border-radius: 0;
            border-right: medium none;
            font-size: 20px;
            height: 50px;
            border-color: $grey-medium;
            border-right: none;
        }
        .btn{
            border-color: $grey-medium;
            border-left: none;
            color: $red;
        }
    }
    button.btn {
        border-radius: 0;
        height: 50px;
    }
}
.session_type {
    background: #009cdd none repeat scroll 0 0;
    color: $white;
    height: 150px;
    margin-right: 1%;
    padding: 0;
    text-align: center;
    width: 24.2%;
    margin-bottom: 20px;
    display: table;
    float: left;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    span {
        font-weight: 500;
        display: table-cell;
        vertical-align: middle;
        font-size: 18px;
        margin-bottom: 0;
        margin-top: 0;
        padding: 30px;
        font {
            color: $black;
        }
    }
    a span {
        color: $white;
    }
}
.session_type.col-sm-3.col4break{
    margin-right: 0;
}
.session_type:hover,
.session_type.active {
    position: relative;
    background: $funblue;
    cursor: pointer;
}
.session_type:focus{
    color: $white;
}

.session_type.active:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 156, 221, 0);
    border-top-color: $funblue;
    border-width: 15px;
    margin-left: -15px;
}
.session-container {
    .paneltab {
        padding-top: 15px;
        padding-bottom: 15px;
        &.border-right { border-right: 1px solid $grey; }
        .member {
            border-bottom: 1px solid #f0f0f0;
            padding: 10px 0;
            position: relative;
            h3 {
                @extend %list-text;
                margin: 12px 0 0 0;
            }
            h4 {
                font-size: 14px;
                font-weight: 300;
            }
        }
        .session_other_members {
            img {
                width: 15.67%;
                float: left;
                margin-right: 1%;
            }
        }
    }
}
.sessionsGetSessionByDate {
    .tab-pane {
        padding: 10px 0;
        ul {
            padding-left: 0;
            li {
                list-style: none;
                margin-bottom: 15px;
                p {
                    display: inline-block;
                    font-size: 16px;
                    font-weight: 300;
                    border-bottom: 1px solid #f0f0f0;
                    margin-bottom: 10px;
                    padding: 0 20px 10px 20px;
                }
            }
        }
        .date {
            font-size: 16px;
            font-weight: 400;
        }
    }
    .nav-tabs {
        border: medium none;
        text-align: center;
        li {
            display: inline-block;
            float: none;
            margin: 0;
            text-align: center;
            a {
                border: medium none;
                border-radius: 0;
                color: #009cdd;
                font-size: 40px;
                line-height: 20px;
                padding: 0;
                margin: 0;
            }
        }
        li.active {
            a {
                color: #ff5e41;
            }
        }
    }
}
.session-logo {
    color: $white;
    text-align: center;
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
    display: inline-block;
    b {
        display: inline-block;
        line-height: 90px;
        font-size: 24px;
    }
}
.session-logo.backgroundred {
    background: $red;
}

.session_transcript_menu {
    ul {
        padding: 0;
        li {
            display: table;
            overflow: hidden;
            float: left;
            text-align: center;
            list-style: none;
            margin-right: 10px;
            a {
                display: table-cell;
                vertical-align: middle;
                line-height: 30px;
                //                width: 160px;
                color: $black;
                border: 1px solid $darkgrey;
                padding: 0 20px;
                text-transform: uppercase;
            }
            a.active,
            a:hover {
                color: $white;
                background: $funblue;
                text-decoration: none;
            }
        }
    }
}
.session_transcript {
    .panel {
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        margin-bottom: 20px;
    }
    .panel-group .panel {
        border-radius: 4px;
        margin-bottom: 0;
    }
    .panel-default {
        border-color: #ddd;
    }
    .panel-default > .panel-heading {
        background-color: $white;
        border-color: #ddd;
        color: #333;
    }
    .panel-group .panel-heading {
        border-bottom: 0 none;
    }
    .panel-heading {
        border-bottom: 1px solid transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding: 10px 15px;
    }
    .panel-title {
        color: inherit;
        font-size: 20px;
        line-height: 30px;
        font-weight: 300;
        margin-bottom: 0;
        margin-top: 0;
        img {
            width: 50px;
            float: left;
            margin-right: 1%;
        }
        a .status {
            background: url($cdn_home_img + 'arrup.png') top center no-repeat;
            width: 40px;
            height: 40px;
            display: inline-block;
            float: right;
        }
        a.collapsed .status {
            background: url($cdn_home_img + 'arrdown.png') top center no-repeat;
            width: 40px;
            height: 40px;
        }
    }
    .panel-collapse.collapsed .status {
        text-align: center;
        background: rgba(240, 240, 240, 0.4);
        cursor: pointer;
        margin-top: -60px;
        padding: 15px 0;
    }
    .panel-collapse .status {
        margin-top: 0px;
        cursor: pointer;
        text-align: center;
        background: rgba(240, 240, 240, 0.4);
        cursor: pointer;
        margin-top: -60px;
        padding: 15px 0;
        z-index: 10;
        position: relative;
    }
    .panel-collapse .status a {
        background: url($cdn_home_img + 'arrup.png') top center no-repeat;
        width: 40px;
        height: 40px;
        display: inline-block;
        text-decoration: none;
    }
    .panel-collapse .status a:hover {
        text-decoration: none;
    }
    .panel-collapse.collapsed .status a {
        background: url($cdn_home_img + 'arrdown.png') top center no-repeat;
        width: 40px;
        height: 40px;
        display: inline-block;
    }
    .panel-collapse.collapsed .status .fadeover {
        height: 20px;
        margin-top: -20px;
        position: absolute;
        width: 98.7%;
        display: block;
        background: rgba(240, 240, 240, 0.4);
    }
    .panel-collapse .status .fadeover {
        display: none;
    }
    .panel-collapse.collapsed .alltrans {
        height: 100px;
        overflow: hidden;
    }
    .t {}
    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top: none;
    }
    .panel-body {
        padding-left: 150px;
        padding-right: 150px;
        font-weight: 300;
        font-size: 18px;
    }
}
.session_voting {
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    .single_voting {
        background: $grey;
        margin-bottom: 20px;
    }
    .session_title {
        margin: 15px 0;
    }
    .border-left {
        border-left: 2px solid $darkgrey;
    }
    .accepted {
        text-align: center;
        line-height: 100px;
        font-size: 24px;
    }
    .accepted.aye {
        color: $funblue;
    }
    .accepted.nay {
        color: $red;
    }
    .session_votes {
        text-align: center;
        font-size: 35px;
        line-height: 40px;
        margin: 15px 0;
        .type {
            font-size: 18px;
            line-height: 30px;
            text-transform: uppercase;
        }
        .indicator {
            width: 30px;
            height: 5px;
            display: block;
            line-height: 3px;
            font-size: 3px;
            margin: 0 auto;
        }
        .indicator.aye {
            background: $fontblue;
        }
        .indicator.ney {
            background: $funblue;
        }
        .indicator.abstention {
            background: $ignoreblue;
        }
        .indicator.not {
            background: $noblue;
        }
    }
    a {
        color: inherit;
    }
    a:hover {
        color: $funblue;
    }
}
.session_report {
    background: $grey;
    padding: 10px 20px;
    .type {
        float: left;
        padding-right: 30px;
        .indicator {
            display: block;
            float: left;
            line-height: 50px;
            width: 12px;
        }
        .number {
            display: block;
            float: left;
            font-size: 30px;
            line-height: 25px;
            padding-left: 5px;
        }
        font {
            font-size: 21px;
            line-height: 18px;
            text-transform: uppercase;
        }
        .status0,
        .status1 {
            line-height: 50px;
            font-size: 18px;
            color: $black;
            b {
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
}
.pspris {
    background: $grey;
    float: left;
    width: 11.1%;
    margin-right: 10px;
    text-align: center;
    span {
        font-size: 34px;
        font-weight: 400;
    }
    font {
        text-transform: uppercase;
        color: black;
        font-size: 22px;
        line-height: 36px;
        display: block;
    }
    div {
        height: 5px;
        font-size: 5px;
        line-height: 5px;
        margin-top: 10px;
        .border {
            background: red;
            width: 56%;
        }
    }
}
@media (max-width: 950px) {
    .session_type {
        span {
            padding: 10px;
        }
    }
    .pspris {
        width: 22.7%;
    }

}
@media (max-width: 950px) {
    .session_types {
        width: 420px;
        li {
            width: 125px;
        }
    }
    .session_transcript {
        .panel-body {
            padding-left: 10px;
            padding-right: 10px;
            font-weight: 300;
            font-size: 18px;
        }
    }
}
@media (max-width: 500px) {
    .session_types {
        width: 100%;
        li {
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }
}
@media (max-width: 480px) {

    .session_voting .session_votes {
        font-size: 30px;
        line-height: 40px;
        margin: 15px 0;
    }

    .session_voting .session_votes .type {
        font-size: 14px;
        line-height: 30px;
        text-transform: uppercase;
    }
}

.odpri-vse {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #009cdd;
    font-size: 18px;
    line-height: 26.4px;
    cursor: pointer;
}

.session-search-container {
    margin-top: 50px;
    margin-bottom: 70px;

    h2 {
        font-weight: 500;
        color: #525252;
    }
}
h2.izberi-vrsto-seje {
    font-size: 18px;
    color: #525252;
    font-weight: 500;
}

span.session-date {
    display: inline;
    font-size: 16px;
}