@import "colors";
@import "breakpoints";

.tabs {
  .tabs-headers {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    .tabs-header {
      align-items: center;
      background: $grey;
      color: $black;
      cursor: pointer;
      display: flex;
      flex: 1;
      font-size: 14px;
      justify-content: center;
      margin-right: 4px;
      padding: 10px;
      text-align: center;
      &:last-child { margin-right: 0; }
      &.active {
        background: $funblue;
        color: $white;
        cursor: default;
      }
      @include respond-to(mobile) { font-size: 11px; }
    }
  }
}

.nav-tabs {
  border-bottom: none;
  padding-bottom: 40px;
  display: flex;
  & > li {
    flex: 1;
    text-align: center;
    margin-left: 3px;

    &:first-child { margin-left: 0 }
    & > a {
      background: $grey;
      border: none;
      border-radius: 0;
      color: $black;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      margin: 0 1px 0 0;
      padding: 10px 7px;
      &:hover { border: none; }
    }
    &.active {
      & > a, & > a:focus, & > a:hover {
        color: $white;
        background: $funblue;
        border: none;
      }
    }
    &:hover {
      & > a, & > a:focus, & > a:hover {
        color: $white;
        background: $funblue;
        border: none;
      }
    }
  }
  @include respond-to(mobile) { font-size: 11px; }
}
