<% include ../partials/header.ejs %>

<div class="col-md-12 ">
    <div class="card-container" id="about">
        <div class="card-content">
            <div class="col-md-10 col-md-offset-1">
                <div class="lead-text-container">
                    <span class="lead-text">Parlameter je orodje, ki z analizo glasovanj in transkriptov nastopov lajša spremljanje dela v državnem zboru.</span>
                </div>

                <div class="padded-text text-center">
                    Uporabnikom prijazna vizualna zasnova in tehnološko napredna modularna zasnova povečujeta transparentnost delovanja najpomembnejše demokratične institucije in omogočata učinkovit vpogled v odločevalski proces.
                </div>
            </div>

            <div class="col-md-12">
                <div class="video-container">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/49rAjdfnmYU" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="col-md-4 public-col">
                    <div class="gradient-title">Splošna javnost</div>
                    <p>Delovanje demokracije je odvisno od budnega in odgovornega nadzora nad delovanjem oblasti, za kar pa je predpogoj dobro informirana javnost. Hvala, ker ti ni vseeno.</p>
                </div>

                <div class="col-md-4 public-col">
                    <div class="gradient-title">Medijska javnost</div>
                    <p>Vse obstoječe kartice je mogoče brezplačno vdelati na katero koli spletno mesto. Podatke obdelamo mi, da se lahko mediji posvetijo interpretaciji.</p>
                </div>

                <div class="col-md-4 public-col">
                    <div class="gradient-title">Razvijalska javnost</div>
                    <p>API vmesnike do vseh podatkov in analiz bomo brezplačno odprli v prihodnjih mesecih, ko pripravimo ustrezno dokumentacijo. Če se ti mudi, nam piši.</p>
                </div>
            </div>

            <hr>

            <div class="col-md-10 col-md-offset-1">
                <div class="padded-text text-center">
                    Parlameter nastaja v okviru inštituta Danes je nov dan, ki se osredotoča na digitalno politično participacijo, transparentnost in nadzor. Hvala Google DNI, Amebisu, in vsem posameznicam in posameznikom, ki so nam nesebično pomagali pri razvoju.
                </div>
            </div>
        </div>

    </div>
</div>

<% include ../partials/footer.ejs %>