<% include ../partials/header.ejs %>


<div class="container">
    <div class="col-md-12">
        <div class="card-container" id="about">
            <div class="card-content text-justify">
                <h2 class="text-center">Pravno obvestilo</h2>
                <h3>1. O PARLAMETRU</h3>
                <p>Parlameter je spletno orodje, ki z raznolikimi analizami glasovanj in transkriptov lajša spremljanje
                    dela v Državnem zboru. Prek učinkovitega vpogleda v odločevalski proces orodje veča transparentnost
                    delovanja najpomembnejše demokratične institucije.</p>

                <p>Arhitekturo spletne aplikacije sestavljajo trije glavni deli: Parla-data, kjer se nabirajo surovi podatki,
                    Parla-lize, kjer se izračunavajo statistične vrednosti analiz ter Parla-meter, kjer vsebine zaživijo
                    v spletni obliki.</p>

                <p>Parlameter vsebine obstajajo na dva načina: dostopne so bodisi na spletnem mestu parlameter.si bodisi
                    kot samostojne kartice, vdelane v druga spletna mesta. Kartica je osnovna enota, ki ima svoj URL
                    naslov, svojo kodo za vdelavo in svoje “informacijsko besedilo”, v katerem je razložena metodologija,
                    s katero je kartica nastala.</p>

                <p>Spletno mesto parlameter.si je razdeljeno na tri sklope: Poslanci, Poslanske skupine ter Seje. Vsakega
                    od teh sestavljajo seznami (torej, seznam poslancev, seznam poslanskih skupin in sezam sej), ki delujejo
                    kot vstopna točka za posamezne instance tega sklopa - torej, profile posameznih poslank/-cev, poslanskih
                    skupin, sej. Slednji sestojijo iz treh podstrani, pri poslancih in poslanskih skupinah so to Pregled,
                    Glasovanja, Govori, pri sejah pa Prisotnost, Glasovanja, Transkript. Kadar zaradi nedosegljivosti
                    podatkov ni možno zgenerirati nobene kartice na posamezni podstrani, se slednja skrije (podstrani
                    Glasovanja in Prisotnost zaradi neobstoja podatkov denimo nista dostopni na instancah sej delovnih
                    teles).
                </p>

                <p>Na nivoju poslancev se računajo naslednje analize: raznolikost besedišča, razrez glasovanj, največkrat/najmanjkrat
                    glasujejo enako, ekscesno besedje, preprosto besedje, privzdignjeno besedje, besede, ki ga/jo delajo
                    posebno/-ega, prisotnost na sejah DZ, prisotnost na glasovanjih sej DZ, št. izgovorjenih besed, št.
                    govorov na sejo, politični kompas.
                </p>

                <p>Na nivoju poslanskih skupin se računajo naslednje analize: prisotnost na sejah DZ, prisotnost na glasovanjih
                    sej dz, raznolikost besedišča, ekscesno besedje, privzdignjeno besedje, preprosto besedje, najlažje/najtežje
                    bi se jim pridružili, odstopanje od poslanske skupine, razrez glasovanj, besede, ki jih delajo posebne,
                    politični kompas.</p>

                <p>Parlameter ima tudi iskalnik po transkriptih, ki uporabnikom omogoča, da z vpisom ključne besede sami
                    zgenerirajo štiri kartice: seznam govorov, na katerih je bilo iskano geslo izrečeno, raba iskanega
                    gesla skozi čas in seznam petih poslank in poslancev ter tudi poslanskih skupin ki so o tem govorili
                    največkrat.
                </p>

                <p>Metodologije analiz so javno dostopne v “informacijskem predelu” vsake posamezne kartice.</p>
                <p>Parlameter razvijamo in vzdržujemo na inštitutu Danes je nov dan.</p>

                <h3>2. VIRI PODATKOV</h3>
                <p>Zaradi neobstoja javnosti dostopnih strojno berljivih parlamentarnih podatkov, se baza aplikacije Parlameter
                    polni z metodo sintaktičnega razčlenjevalnika HTML dokumentov spletnih mest dz-rs.si in dvk-rs.si,
                    pri čemer lahko pride do napak, za katere Inštitut Danes je nov dan, njegovi člani in njegovi sodelavci
                    in avtorji aplikacije ne sprejemajo nikakršne odgovornosti ali jamstev. Pravna obvestila DZ RS si
                    lahko preberete <a href="http://www.dz-rs.si/wps/portal/Home/pravnoObvestilo">tukaj</a> ali <a href="http://www.dvk-rs.si/index.php/si/pravno-obvestilo">tukaj</a>.</p>

                <h3>3. INTELEKTUALNA LASTNINA</h3>
                <p>Parlameter ne uporablja nobene kode, katere licenca bi omejevala njeno rabo.</p>

                <p>Parlameter kartice lahko vsakdo uporablja brezplačno, brez vnaprejšnje privolitve avtorjev aplikacije,
                    ki pa si vseeno pridržuje pravico, da ob sočasnem obvestilu po e-pošti omeji nekatere vrste rabe
                    od trenutka obvestila dalje.</p>

                <h3>4. OMEJITEV ODGOVORNOSTI</h3>
                <p>Vse informacije spletne aplikacije Parlameter niso nujno celovite, popolne, točne in posodobljene, so
                    splošne in ne upoštevajo morebitnih posebnih okoliščin posameznikov ali posameznih skupin, ki jih
                    zadevajo.
                </p>

                <p>Avtorji aplikacije si bomo prizadevali za zagotavljanje ažurnih in točnih podatkov in informacij, vendar
                    za morebitne netočnosti ali necelovitosti ne prevzemamo nikakršne zakonske ali druge odgovornosti.</p>
                <p>Avtorji aplikacije prav tako ne odgovarjamo za morebitne napake / razhajanja v podatkih, ki jih pridobivamo
                    s strani tretjih oseb (glej točko 2).</p>
                Pridržujemo si pravico do prerazporejanja kartic na spletni aplikaciji Parlameter. Vsi seznami so ali razporejeni po abecednem
                vrstnem redu ali pa glede na vrednosti v izbranih analizah. Vrstni redi kartic na posameznih podstraneh
                so naključni in ne vsebujejo nikakršne vsebinske ali kakršne koli druge vrednostne sodbe.</p>

                <p>Avtorji aplikacije ne odgovarjamo za nadomestilo
                    <ol style="list-style:lower-roman">
                        <li>morebitne neposredne, posredne, naključne, posebne, kaznovalne, posledične škode, ali druge
                            kakršne koli druge oblike škode, ki posredno, neposredno ali na kakršenkoli drug način izhaja
                            iz napak, pomot ali netočnosti vsebine spletne aplikacije, rabe neoptimalnih statističnih
                            metod, interpretacije vsebine spletne aplikacije s strani tretjih oseb ali iz kakršnih koli
                            drugih dejstev povezanih z aplikacijo ali njeno uporabo,</li>
                        <li>kakršne koli škode, ki nastane zaradi nepooblaščenega dostopa do, ali uporabe, naših strežnikov
                            in/ali katerih koli in vseh v njih shranjenih podatkov.</li>
                    </ol>

                </p>
                <p>Pridržujemo si pravico do dodajanja, odstranjevanja, spreminjanja ali nadgradnje podatkov kadarkoli,
                    na kakršenkoli način, delno ali v celoti, ne glede na razlog ter brez predhodnega obvestila.</p>
                <p>Navkljub trudu, da bi na spletni platformi v vsakem trenutku zagotovili točnost vseh podatkov in informacij,
                    se lahko pojavijo napake. Prizadevamo si, da bi jih kar najprej odkrili in odpravili, prav tako pa
                    bomo hvaležni, če nas boste o njih obvestili tudi vi. Zavezujemo se k prizadevanju, da bomo v največ
                    7 delovnih dneh od odkritja popravili vse morebitne napake, ki nam jih bodo sporočili in dokazali
                    uporabniki.
                </p>
                <p>Kartice so za brezplačno vdelavo na voljo vsakomur, vendar objaviteljem avtorji orodja ne jamčimo pravilnega
                    delovanja. Prizadevali si bomo za minimalizacijo tehničnih napak, vendar za morebitno nedosegljivost
                    strežnikov, nepravilno prikazovanje kartice oziroma spletnega mesta, na katerem je vdelana, ne odgovarjamo.
                    Enako velja za (trenutno še ne dostopna) API-ja Parladata in Parlalize.</p>
            </div>
        </div>
    </div>
</div>


<% include ../partials/footer.ejs %>