<% include ../partials/header.ejs %>

<div class="col-md-12 ">
    <div class="card-container" id="about">
        <div class="card-content">

            <div class="col-md-12 text-center title-container">
                <span class="gradient-title">Za boljšo in lepšo zgodbo</span>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <div class="padded-text text-center">
                    Na tej strani so zbrane informacije o Parlametru, objave za medije ter vizualni materiali. Vse je ponujeno v prosto rabo. Neposredna vprašanja in/ali povabila k izjavam oz. intervjujem naslovite na <a href="mailto:press@parlameter.si">press@parlameter.si</a>, odzvali se bomo hitro in z veseljem.
                </div>
            </div>

            <div class="col-md-12 text-center title-container">
                <span class="gradient-title">Slikovno gradivo</span>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <a target="_blank" href="https://cdn.parlameter.si/v1/parlassets/img/press/Parlameter_logotip_za-svetlo-podlago.pdf"><img src="https://cdn.parlameter.si/v1/parlassets/img/press/Parlameter_logotip_za-svetlo-podlago.jpg"></a>
                    <div class="caption">
                        <div class="caption-text">Logotip (za svetlo podlago)</div>
                        <div class="caption-icon"><a target="_blank" href="img/press/Parlameter_logotip_za-svetlo-podlago.pdf"><i class="glyphicon glyphicon-cloud"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a target="_blank" href="https://cdn.parlameter.si/v1/parlassets/img/press/Parlameter_logotip_za-temno-podlago.pdf"><img src="https://cdn.parlameter.si/v1/parlassets/img/press/Parlameter_logotip_za-temno-podlago.jpg"></a>
                    <div class="caption">
                        <div class="caption-text">Logotip (za temno podlago)</div>
                        <div class="caption-icon"><a target="_blank" href="img/press/Parlameter_logotip_za-temno-podlago.pdf"><i class="glyphicon glyphicon-cloud"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a target="_blank" href="https://cdn.parlameter.si/v1/parlassets/img/press/Parlameter_prva-stran.jpg"><img src="https://cdn.parlameter.si/v1/parlassets/img/press/Parlameter_prva-stran_thumb.jpg"></a>
                    <div class="caption">
                        <div class="caption-text">Parlameter.si na računalniku</div>
                        <div class="caption-icon"><a target="_blank" href="img/press/Parlameter_prva-stran.jpg"><i class="glyphicon glyphicon-cloud"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a target="_blank" href="https://cdn.parlameter.si/v1/parlassets/img/press/Parlameter_seznam-poslanskih-skupin.jpg"><img src="https://cdn.parlameter.si/v1/parlassets/img/press/Parlameter_seznam-poslanskih-skupin_thumb.jpg"></a>
                    <div class="caption">
                        <div class="caption-text">Seznam poslanskih skupin na računalniku</div>
                        <div class="caption-icon"><a target="_blank" href="img/press/Parlameter_seznam-poslanskih-skupin.jpg"><i class="glyphicon glyphicon-cloud"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a target="_blank" href="https://cdn.parlameter.si/v1/parlassets/img/press/Parlameter_seznam-poslancev_mobile.jpg"><img src="https://cdn.parlameter.si/v1/parlassets/img/press/Parlameter_seznam-poslancev_mobile_thumb.jpg"></a>
                    <div class="caption">
                        <div class="caption-text">Seznam poslancev na mobilnem telefonu</div>
                        <div class="caption-icon"><a target="_blank" href="img/press/Parlameter_seznam-poslancev_mobile.jpg"><i class="glyphicon glyphicon-cloud"></i></a></div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 text-center title-container">
                <span class="gradient-title">Objave za medije</span>
            </div>

            <div class="col-md-12">
                <div class="post-entry clearfix">
                    <div class="post-info">
                        <div class="post-date">5. 12. 2016</div>
                        <div class="post-title">Zaživelo je spletno orodje Parlameter</div>
                    </div>
                    <div class="post-download"><a target="_blank" href="https://docs.google.com/document/d/1Jh3QzxQUIEI4sdBoMhIox0BjH2qPvzaXbqTHEJN7BNE/edit"><i class="glyphicon glyphicon-cloud"></i></a></div>
                </div>
                <div class="post-entry clearfix">
                    <div class="post-info">
                        <div class="post-date">24. 2. 2016</div>
                        <div class="post-title">Google podelil sredstva inštitutu Danes je nov dan</div>
                    </div>
                    <div class="post-download"><a target="_blank" href="https://docs.google.com/document/d/1SL6M5DVHIgC63oVoe4A2Sj4p7z8auIqfPwjW0t363y8/edit"><i class="glyphicon glyphicon-cloud"></i></a></div>
                </div>
            </div>
        </div>

    </div>
</div>

<% include ../partials/footer.ejs %>