<% include ../partials/header.ejs %>

<div class="col-md-12 ">
    <div class="card-container" id="about">
        <div class="card-content">
            <div class="col-md-10 col-md-offset-1">
                <div class="padded-text text-center">
                    Spoštovane novinarke in novinarji!
                </div>

                <div class="padded-text text-center">
                    Na tej strani so zbrane informacije o Parlametru, objave za medije ter vizualni materiali. Vse je ponujeno v prosto rabo. Neposredna vprašanja in/ali povabila k izjavam oz. intervjujem naslovite na <a href="mailto:press@parlameter.si">press@parlameter.si</a>, odzvali se bomo hitro in z veseljem.
                </div>
            </div>

            <div class="col-md-12 text-center title-container">
                <span class="gradient-title">Slikovno gradivo</span>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/600x600">
                    <div class="caption">
                        <div class="caption-text">Logotip (za svetlo ozadje)</div>
                        <div class="caption-icon"><a href="#"><i class="glyphicon glyphicon-cloud"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/600x600">
                    <div class="caption">
                        <div class="caption-text">Logotip (za temno ozadje)</div>
                        <div class="caption-icon"><a href="#"><i class="glyphicon glyphicon-cloud"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/600x600">
                    <div class="caption">
                        <div class="caption-text">A long caption</div>
                        <div class="caption-icon"><a href="#"><i class="glyphicon glyphicon-cloud"></i></a></div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 text-center title-container">
                <span class="gradient-title">Objave za medije</span>
            </div>

            <div class="col-md-12">
                <div class="post-entry clearfix">
                    <div class="post-info">
                        <div class="post-date">1. 1. 1970</div>
                        <div class="post-title">The universe was created and a long post title is here to test wrapping and stuff  a long post title is here to test wrapping and stuff</div>
                    </div>
                    <div class="post-download"><a href="#"><i class="glyphicon glyphicon-cloud"></i></a></div>
                </div>
                <div class="post-entry clearfix">
                    <div class="post-info">
                        <div class="post-date">1. 1. 1970</div>
                        <div class="post-title">Short</div>
                    </div>
                    <div class="post-download"><a href="#"><i class="glyphicon glyphicon-cloud"></i></a></div>
                </div>
            </div>
        </div>

    </div>
</div>

<% include ../partials/footer.ejs %>