<% include ../../partials/header.ejs %>



<div class="row">
    <div class="col-md-12">
        <h1>seje tip</h1>
    </div>
</div>
<div class="session-container">
    <div class="row">

        <div class="col-lg-12">
            <div class="session_types">
                <h2>Išči po vseh sejah trenutnega sklica</h2>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                </div>
            </div>

            <div  style="margin: 0 auto; min-width:300px;">
                <div>
                    Filtri
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></button>
                        </span>
                </div>
            </div>



        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="session_types ">

            <h2>
                Izberi vrsto seje
            </h2>
            <ul class="clearfix">
                <li>
                    <a href="/seje/tip/seje-dz">
                        Seje DZ
                    </a>
                </li>
                <li>
                    <a href="/seje/tip/seje-delovnih-teles" class="active">
                        Seje delovnih<br> teles
                    </a>
                </li>
                <li>
                    <a href="/seje/tip/seje-kolegija-predsednika-dz">
                        Seje kolegija <br>predsednika DZ
                    </a>
                </li>
            </ul>



        </div>
    </div>
</div>


<div class="row">
    <a href="/seja/glasovanja/4388" class="session_type col-sm-3 closed">
                <span>
                   Kolegij predsednika državnega zbora
               </span>
    </a>


</div>

<% include ../../partials/footer.ejs %>