<% include ../partials/header.ejs %>

<style>

    .step {
        display: none;
    }

    .step1 {
        display: block;
    }

    #obvestila .naprej {
        margin: auto;
        position: relative;
        width: auto;
        text-align: center;
        color: #ffffff;
        padding: 10px 30px;
        background-color: #009cdd;
        cursor: pointer;
        margin-top: 0px;
        display: block;
    }

    #obvestila .searchinfo {
        top: 15px;
        right: -30px;
    }

    #obvestila .top50 {
        margin-top: 50px;
    }

    #obvestila .search-dropdown-input{
        padding: 6px 19px 6px 8px;
        font-size: 12px;
    }
    #obvestila .search-dropdown::after{
        right: 4px;
        top: 11px;
    }

    #obvestila .parta1{
        width: 175px;
        margin-right: 15px;
        display: inline-block;
        float: left;
    }
    #obvestila .parta1 .search-dropdown-input{
        width: 172px;
    }
    #obvestila .parta2{
        width: 231px;
        margin-right: 15px;
        display: inline-block;
        float: left;
    }
    #obvestila .parta2 .search-dropdown-input{
        width: 228px;
    }
    #obvestila .parta3{
        width: auto;
        display: inline-block;
        float: left;
        font-size: 12px;
    }
    #obvestila .parta4{
        width: 30px;
        display: inline-block;
        float: left;
        font-size: 12px;
        line-height: 30px;
        cursor: pointer;
    }

    #obvestila .obvestiladatatpl{
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 30px;
    }

</style>

<div id="obvestila" class="col-md-12 ">


    <div class="header">

        <div class=""></div>

    </div>

    <form id="obvestilaData">


        <div class="content">


            <div class="step step1">

                <div class="narrow-inner-container">

                    <h2>NASTAVITVE ZA <span id="obvestilaEmail"></span></h2>

                    <div id="obvestiladata" class="clearfix">

                    </div>


                    <!--<div class="action btn btn-default top50">-->
                        <!--Zavrzi-->
                    <!--</div>-->

                    <!--<div class="action btn btn-default top50 obvestilaSaveaction">-->
                        <!--Shrani-->
                    <!--</div>-->

                    <div class="replaceme hidden">
                        <!--Nastavitve so spremenjene.-->

                    </div>

                </div>


            </div>


        </div>
    </form>

</div>


<% include ../partials/footer.ejs %>


<script>


    (function(){
        var cache = {};

        this.tmpl = function tmpl(str, data){
            // Figure out if we're getting a template, or if we need to
            // load the template - and be sure to cache the result.
            var fn = !/\W/.test(str) ?
                cache[str] = cache[str] ||
                    tmpl(document.getElementById(str).innerHTML) :

                // Generate a reusable function that will serve as a template
                // generator (and which will be cached).
                new Function("obj",
                    "var p=[],print=function(){p.push.apply(p,arguments);};" +

                    // Introduce the data as local variables using with(){}
                    "with(obj){p.push('" +

                    // Convert the template into pure JavaScript
                    str
                        .replace(/[\r\t\n]/g, " ")
                        .split("!%").join("\t")
                        .replace(/((^|%!)[^\t]*)'/g, "$1\r")
                        .replace(/\t=(.*?)%!/g, "',$1,'")
                        .split("\t").join("');")
                        .split("%!").join("p.push('")
                        .split("\r").join("\\'")
                    + "');}return p.join('');");

            // Provide some basic currying to the user
            return data ? fn( data ) : fn;
        };
    })();

    function getParameterByName(name, url) {
        if (!url) {
            url = window.location.href;
        }
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    function loadDataObvestila() {
        "use strict";
        var $uid = getParameterByName("uid");
        console.log($uid);
        if ($uid == null) {
            return false;
        }
        var data = {
            "uid": $uid
        };
        var tpl;
        $.ajax({
            method: "POST",
            url: "https://obvestila.parlameter.si/getSettings/",
            data: data
        }).done(function (resp) {
            $("#obvestilaEmail").html(resp.mail);

            $(resp.keywords).each(function(e, v){

                console.log(v.id);
                console.log(v.keyword);
                console.log(v.match_mode);
                console.log(v.reminder);
            });

            $("#obvestiladata").html(tmpl("item_tmpl", resp));

            console.log(resp);
        });
    }

    $("#obvestila").on("click", ".obvestiladelete", function () {
        var base = $(this);
        if(!confirm("Ste prepričani?")) {
            return false;
        }
        base.parents('.obvestiladatatpl').hide();
        base.find("label").data("deleted", "true");

        var $id = $(this).parents('.obvestiladatatpl').data('id');
        updateDataObvestila($id);
    });

    $("#obvestila").on("click", ".obvestilaactive", function () {
        var base = $(this);
        var isChecked = base.find("input").is(':checked');
        console.log(isChecked);
        if(isChecked){
            base.find("input").data("active", "true");
        }else{
            base.find("input").data("active", "false");
        }

        var $id = $(this).parents('.obvestiladatatpl').data('id');
        updateDataObvestila($id);
    });

    $("#obvestila").on("change", ".reminder", function () {
        var $id = $(this).parents('.obvestiladatatpl').data('id');
        updateDataObvestila($id);
    });
    $("#obvestila").on("change", ".match_mode", function () {
        var $id = $(this).parents('.obvestiladatatpl').data('id');
        console.log($id);
        //return false;
        updateDataObvestila($id);
    });

    $("#obvestilaSaveaction").click(function () {

        console.log($(".obvestiladatatpl").length);
        return false;

        var $id;
        for(var i = 0; i < $(".obvestiladatatpl").length-1; i++)
        {
            $id = $(".obvestiladatatpl")[i].data('id')
            updateDataObvestila($id);
        }

    });



    function updateDataObvestila(id) {
        var $uid = getParameterByName("uid");
        console.log($uid);
        if ($uid == null) {
            return false;
        }
        var obvestilaData = $("#obvestilaData").find(".obvestiladatatpl_"+id);
        var keyword = $("#keyword"+id+"").val();
        var email = $("#email"+id+"").val();
        var reminder = $("#reminder" + id).find(":selected").attr('value');
        var mode = $("#match_mode" + id).find(":selected").attr('value');
        var deleted = $("#delete"+id+"").data("deleted");
        var active = $("#active"+id+"").data("active");

        console.log(active);

        // var text = $(".replaceme").text();
        // text = text.replace('#keyword#', keyword);
        // text = text.replace('#email#', email);
        // $(".replaceme").text(text);


        var data = {
            "id": obvestilaData.data('oid'),
            "keyword": keyword,
            "reminder": reminder,
            "mode": mode,
            "delete": deleted,
            "active": active,
            "uid": $uid
        };

        $.ajax({
            method: "POST",
            url: "https://obvestila.parlameter.si/updateSettings/",
            data: data,
        }).done(function (resp) {

            $(".replaceme").show().removeClass('hidden');
            var newnoti = $("<p />");
            $(".replaceme").append(newnoti);
            newnoti.fadeOut(5000).text(resp.msq);

        });

    }


    $(function () {

        loadDataObvestila();

    })



</script>


<script type="text/html" id="item_tmpl">

    !% for ( var i = 0; i < keywords.length; i++ ) { %!
    <div class="obvestiladatatpl obvestiladatatpl_!%=i%! clearfix" data-id="!%=i%!" data-oid="!%=keywords[i].id%!">
        <div class="search" data-id="!%=i%!" data-oid="!%=keywords[i].id%!">
            <div class="parta1">
                <div class="search-dropdown">
                    <select name="reminder!%=i%!" class="search-dropdown-input reminder" id="reminder!%=i%!">
                        <option value="event" !%=(keywords[i].reminder == "event" ?  'selected="selected"' : " ")%!>ob dogodku</option>
                        <option value="day" !%=(keywords[i].reminder == "day" ?  'selected="selected"' : " ")%!>največ enkrat na dan</option>
                        <option value="week" !%=(keywords[i].reminder == "week" ?  'selected="selected"' : " ")%!>največ enkrat na teden</option>
                    </select>
                </div>
            </div>
            <div class="parta2">
                <div class="search-dropdown">
                    <select name="match_mode!%=i%!" class="search-dropdown-input match_mode" id="match_mode!%=i%!">
                        <option value="natancno" !%=(keywords[i].match_mode == "natancno" ?  'selected="selected"' : " ")%!>natančno ujemanje</option>
                        <option value="obe" !%=(keywords[i].match_mode == "obe" ?  'selected="selected"' : " ")%!>obe besedi, ne glede na vrstni red</option>
                        <option value="nujna" !%=(keywords[i].match_mode == "nujna" ?  'selected="selected"' : " ")%!>nujna beseda</option>
                        <option value="negativna" !%=(keywords[i].match_mode == "negativna" ?  'selected="selected"' : " ")%!>negativna beseda</option>
                        <option value="siroko" !%=(keywords[i].match_mode == "siroko" ?  'selected="selected"' : " ")%!>široko ujemanje</option>
                    </select>
                </div>
            </div>
            <div class="parta3">
                <div id="obvestilaKeyword_!%=i%!" class="obvestilaKeyword">
                    !%=keywords[i].keyword%!
                </div>
                <input type="hidden" value="!%=keywords[i].keyword%!" id="keyword!%=i%!" />
            </div>
            <div class="parta4">
                <div class="obvestilaactive">
                    <div class="exclude-presiding checkbox-twolines">
                        <input id="active!%=i%!" data-active="!%=(keywords[i].active == "true" ?  'true' : 'false')%!" type="checkbox" class="checkbox" !%=(keywords[i].active == "true" ?  'selected="selected"' : " ")%! />
                        <label for="active!%=i%!"  > ključna beseda aktivna </label></div>
                </div>
            </div>
            <div class="parta4">
                <div class="obvestiladelete">
                    <!--<div class="exclude-presiding checkbox-twolines"><input id="delete!%=i%!" type="checkbox" name="delete!%=i%!" value="1" class="checkbox"> <label for="delete_!%=i%!">X</label></div>-->
                    <div class="exclude-presiding checkbox-twolines"><label id="delete!%=i%!" data-deleted="false" >X</label></div>
                </div>
            </div>
        </div>
    </div>
    !% } %!

</script>