<% include ../../partials/header.ejs %>



<div class="row header text-center">

    <div class="col-md-12">

        <div class="row">
            <div class="text-center">
                <div class="media-object img-circle session-logo">
                    <b>S</b>
                </div>
            </div>
            <div class="">
                <h1>
                    12. redna seja DZ
                </h1>
                <font class="date">
                    12.6.2015
                </font>
                <br/>
                <font>
                    podatki objavljneni: 13.6.2015
                </font>
            </div>
        </div>

    </div>
    <div class="col-md-12">
        <div class="session_transcript_menu">

            <ul class="clearfix">
                <li>
                    <a href="/seja/glasovanja/<%- params.id %>" class="active">
                        Glasovanja
                    </a>
                </li>
                <li>
                    <a href="/seja/transkript/<%- params.id %>">
                        Transkript
                    </a>
                </li>
                <li>
                    <a href="/seja/prisotnost/<%- params.id %>">
                        Prisotnost
                    </a>
                </li>
            </ul>


        </div>

    </div>


</div>

<div class="col-md-12 ">
    <%- views.glasovanjaSeja %>
</div>


<% include ../../partials/footer.ejs %>
