<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="dndmail">
    <div class="dndkeyword">
        <b style="color: #222222; font-family: Arial; font-size: 13px;">#DNDKEYWORD</b>
        <br />
        <div class="dndkeywordalert" style="padding-left: 40px; padding-bottom: 20px;">
            <div class="dndkeyworddate" style="color: #999999; font-family: Arial; font-size: 11px;">
#DNDDATE
            </div>
            <div class="dndkeywordauthorsession" style="color: #999999; font-family: Arial; font-size: 14px;">
#DNDSPEAKERNAME, #DNDSESSIONNAME, #DNDORGANIZATIONNAME
            </div>
            <div class="dndkeywordtranscript" style="color: #222222; font-family: Arial; font-size: 12px;">
                <a href="#" style="color: #222222; font-family: Arial; font-size: 12px; text-decoration: underline;">
                #DNDSPECHCONTENT
                </a>
            </div>
        </div>
    </div>
    <div class="dndborder" style="padding: 10px 0 15px 0; margin: 10px 0; border-top: 1px solid #cccccc; width: 50%;">&nbsp;</div>

    <div class="footer" style="color: #222222; font-family: Arial; font-size: 10px;">
        <a href="#" style="color: #222222; font-family: Arial; font-size: 10px;">Nastavitve pošiljanja</a>
    </div>
</div>

</body>
</html>