<div id="og-container">
    <style>
        @import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&subset=latin,latin-ext);
        @import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,700&subset=latin,latin-ext);
        #og-container {
            width: 1200px;
            height: 630px;
            background: #5b99d5;
            position: relative;
            font-family: Roboto, sans-serif;
        }

        .left-half,
        .right-half {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 50%;
            padding: 75px;
            box-sizing: border-box;
            text-align: center;
        }

        .left-half {
            left: 0;
        }

        .right-half {
            right: 0;
            background: #fff;
        }

        .personimg {
            width: 200px;
            height: 200px;
            margin: 10px auto 75px;
            background-color: #fff;
            border-radius: 50%;
            padding: 50px;
        }

        .personimg svg {
            fill: #5b99d5;
        }

        h1,
        h2 {
            color: #fff;
            padding: 0;
            margin: 0;
            line-height: 1;
        }

        h1 {
            font-size: 44px;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 32px;
        }

        .partyinfo {
            font-family: "Roboto Slab", sans-serif;
            font-weight: 300;
        }

        .cardname {
            font-size: 44px;
            color: #5b99d5;
            margin-top: 200px;
        }

        .logo {
            width: 100%;
            position: absolute;
            bottom: 55px;
            left: 0;
        }

        .logo img {
            width: 160px;
        }
    </style>
    <div class="left-half">
        <div class="personimg">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" version="1.1" x="0px" y="0px"><title>Search</title><desc>Created with Sketch.</desc><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g stroke="#5b99d5" stroke-width="5"><path d="M68.168841,65.2095963 C68.5320756,65.3188984 68.8742859,65.5170521 69.161291,65.8040572 L89.3046941,85.9474603 C90.2317686,86.8745348 90.2317686,88.3776196 89.3046941,89.3046941 C88.3776196,90.2317686 86.8745348,90.2317686 85.9474603,89.3046941 L65.8040572,69.161291 C65.5170521,68.8742859 65.3188984,68.5320756 65.2095963,68.168841 C59.3519251,73.3352861 51.6594793,76.4698389 43.2349195,76.4698389 C24.8797803,76.4698389 10,61.5900586 10,43.2349195 C10,24.8797803 24.8797803,10 43.2349195,10 C61.5900586,10 76.4698389,24.8797803 76.4698389,43.2349195 C76.4698389,51.6594793 73.3352861,59.3519251 68.168841,65.2095963 L68.168841,65.2095963 Z"></path></g></g></svg>
        </div>

        <h2 class="partyinfo"></h2>
    </div>
    <div class="right-half">
        <h2 class="cardname">
            Iskanje
        </h2>
        <div class="logo">
            <img src="https://cdn.parlameter.si/v1/parlassets/img/logo-parlameter.svg" alt="parlameter logo">
        </div>
    </div>
</div>
