<div id="og-container">
    <style>
        @import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&subset=latin,latin-ext);
        @import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,700&subset=latin,latin-ext);
        #og-container {
            width: 1200px;
            height: 630px;
            background: #5b99d5;
            position: relative;
            font-family: Roboto, sans-serif;
        }

        .left-half,
        .right-half {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 50%;
            padding: 75px;
            box-sizing: border-box;
            text-align: center;
        }

        .left-half {
            left: 0;
        }

        .right-half {
            right: 0;
            background: #fff;
        }

        .personimg {
            width: 300px;
            height: 300px;
            margin: 10px auto 75px;
            background-color: #fff;
            border-radius: 50%;
        }

        .personimg svg {
            fill: #5b99d5;
        }

        h1,
        h2 {
            color: #fff;
            padding: 0;
            margin: 0;
            line-height: 1;
        }

        h1 {
            font-size: 44px;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 32px;
        }

        .partyinfo {
            font-family: "Roboto Slab", sans-serif;
            font-weight: 300;
        }

        .cardname {
            font-size: 44px;
            color: #5b99d5;
            margin-top: 200px;
        }

        .logo {
            width: 100%;
            position: absolute;
            bottom: 55px;
            left: 0;
        }

        .logo img {
            width: 160px;
        }
    </style>
    <div class="left-half">
        <div class="personimg">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" preserveAspectRatio="none"
                x="0px" y="0px" viewBox="0 0 100 100">
                <defs>
                    <path id="d" stroke="#5b99d5" stroke-width="6" stroke-linejoin="round" stroke-linecap="square" fill="none" d=" M 30 30 L 80 30"></path>
                    <path id="c" stroke="#5b99d5" stroke-width="6" stroke-linejoin="round" stroke-linecap="square" fill="none" d=" M 30 50 L 80 50"></path>
                    <path id="b" stroke="#5b99d5" stroke-width="6" stroke-linejoin="round" stroke-linecap="square" fill="none" d=" M 30 70 L 80 70"></path>
                    <path id="a" stroke="#5b99d5" stroke-width="6" stroke-linejoin="round" stroke-linecap="square" fill="none" d=" M 19 30 L 21 30 M 19 50 L 21 50 M 19 70 L 21 70"></path>
                </defs>
                <g transform="matrix( 1, 0, 0, 1, 0,0) ">
                    <use xlink:href="#d"></use>
                </g>
                <g transform="matrix( 1, 0, 0, 1, 0,0) ">
                    <use xlink:href="#c"></use>
                </g>
                <g transform="matrix( 1, 0, 0, 1, 0,0) ">
                    <use xlink:href="#b"></use>
                </g>
                <g transform="matrix( 1, 0, 0, 1, 0,0) ">
                    <use xlink:href="#a"></use>
                </g>
            </svg>
        </div>
        <h1 class="personinfo"></h1>
        <h2 class="partyinfo"></h2>
    </div>
    <div class="right-half">
        <h2 class="cardname">
            Seznam sej
        </h2>
        <div class="logo">
            <img src="https://cdn.parlameter.si/v1/parlassets/img/logo-parlameter.svg" alt="parlameter logo">
        </div>
    </div>
</div>