<%- await include('./head.ejs') %>
<%- await include('./menu.ejs') %>

<%- await include('./infopush-broken-page.ejs') %>

<!--<div class="row">-->
<!--  <div class="col-md-10 col-md-offset-1" id="about">-->
<!--    <div style="border: 1px solid #ccc; margin-top: 3rem; padding: 3rem 4rem; font-size: 1.65rem; text-align: center; font-weight: 500;">-->
<!--      To je testni page, niÄ ne dela.-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
