<style>
    .landing .session-search-container .searchForm .search .btn {
        font-size: 22px;
        padding: 0 8px;
        line-height: 48px;
        margin: 0;

    }
</style>
<div class="landing">
    <div class="session-container session-search-container">
        <div class="row">

            <div class="col-lg-12">
                <div class="narrow-inner-container">
                    <h2>Išči </h2>
                    <div id="about">
                        <p class="public-col">
                            zakone, glasovanja, poslance, poslanske skupine ali njihove govore
                        </p>
                    </div>

                    <form method="get" action="/seje/isci" class="searchForm">

                        <div class="input-group search">
                            <input type="text" class="form-control search-input-header simplebox" placeholder=""
                                   name="q" value="<%= query; %>">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"
                                                                                aria-hidden="true"></span></button>
                        </span>
                        </div>

                        <div class="searchinfo measure" data-mc="search" data-ma="infobox" data-mn="" data-mv=""
                             data-toggle="modal" data-target="#modal-search-how">i
                        </div>

                    </form>

                    <% if((typeof query !== "undefined") && (query.length > 0)){ %>
                    <br><br>
                    <h3 class="searchresults">Rezultati za iskalni niz "<%= query; %>"</h3>
                    <% } %>

                </div>

            </div>
        </div>
    </div>
    <% include ./searchpopup.ejs %>
</div>
