<% include ../../partials/header.ejs %>

<% include ../../partials/session_search.ejs %>


<div id="session_search_results">
    <div class="getmedata" id="raba-skozi-cas"></div>
    <div class="getmedata" id="raba-po-strankah"></div>
    <div class="getmedata" id="najveckrat-so-pojem-uporabili"></div>
    <div class="getmedata" id="nastopi-v-katerih-je-bil-iskalni-niz-izrecen"></div>
</div>
<%
 /*
raba-skozi-cas
raba-po-strankah
najveckrat-so-pojem-uporabili
nastopi-v-katerih-je-bil-iskalni-niz-izrecen
*/
%>
<script>



</script>

<% include ../../partials/footer.ejs %>