apiVersion: apps/v1
kind: Deployment
metadata:
  name: parlasite-viii
  labels:
    app: parlasite-viii
spec:
  replicas: 1
  selector:
    matchLabels:
      app: parlasite-viii
  template:
    metadata:
      labels:
        app: parlasite-viii
    spec:
      containers:
        - name: parlasite-viii
          image: parlasite-slovenija
          ports:
            - containerPort: 3066
          resources:
            requests:
              memory: 75Mi
              cpu: 50m
            limits:
              memory: 75Mi
              cpu: 50m
          env:
            - name: PARLASITE_LEADER_ID
              value: "261"
            - name: PARLASITE_ROOT_ORG_ID
              value: "1"
            - name: PARLASITE_MANDATE_ID
              value: "1"
            - name: PARLASITE_DEFAULT_CARD_DATE
              value: "2022-05-11"
