apiVersion: apps/v1
kind: Deployment
metadata:
  name: parlacards
  labels:
    app: parlacards
spec:
  replicas: 1
  selector:
    matchLabels:
      app: parlacards
  template:
    metadata:
      labels:
        app: parlacards
    spec:
      containers:
        - name: parlacards
          image: parlacards-hrastnik
          ports:
            - containerPort: 3000
          resources:
            requests:
              memory: 250Mi
              cpu: 200m
            limits:
              memory: 250Mi
              cpu: 200m
          env:
            - name: VITE_PARLASSETS_URL
              value: https://cdn.hrastnik.parlameter.si
            - name: VITE_PARLADATA_URL
              value: https://data.hrastnik.parlameter.si/v3
            - name: VITE_PARLACARDS_URL
              value: https://glej.hrastnik.parlameter.si
            - name: VITE_PARLASITE_URL
              value: https://hrastnik.parlameter.si
            - name: VITE_PARLASITE_URL_BEFORE_2022_12_07
              value: https://2018.hrastnik.parlameter.si
            - name: VITE_METAIMAGES_URL
              value: https://meta-image-generator.lb.djnd.si/parlameter
