apiVersion: apps/v1
kind: Deployment
metadata:
  name: parlacards
  labels:
    app: parlacards
spec:
  replicas: 1
  selector:
    matchLabels:
      app: parlacards
  template:
    metadata:
      labels:
        app: parlacards
    spec:
      containers:
        - name: parlacards
          image: parlacards-bosna
          ports:
            - containerPort: 3000
          resources:
            requests:
              memory: 125Mi
              cpu: 100m
            limits:
              memory: 125Mi
              cpu: 100m
          env:
            - name: VITE_PARLASSETS_URL
              value: https://parlassets-bosna.lb.djnd.si
            - name: VITE_PARLADATA_URL
              value: https://parladata-bosna.lb.djnd.si/v3
            - name: VITE_PARLACARDS_URL
              value: https://parlacards-bosna.lb.djnd.si
            - name: VITE_PARLASITE_URL
              value: https://ba.parlameter.si
            - name: VITE_PARLASITE_URL_BEFORE_2022_11_29
              value: https://8.ba.parlameter.si
            - name: VITE_METAIMAGES_URL
              value: https://meta-image-generator.lb.djnd.si/parlameter
