apiVersion: apps/v1
kind: Deployment
metadata:
  name: parlacards
  labels:
    app: parlacards
spec:
  replicas: 1
  selector:
    matchLabels:
      app: parlacards
  template:
    metadata:
      labels:
        app: parlacards
    spec:
      containers:
        - name: parlacards
          image: parlacards-medvode
          ports:
            - containerPort: 3000
          resources:
            requests:
              memory: 125Mi
              cpu: 100m
            limits:
              memory: 125Mi
              cpu: 100m
          env:
            - name: VITE_PARLASSETS_URL
              value: https://cdn.medvode.parlameter.si
            - name: VITE_PARLADATA_URL
              value: https://data.medvode.parlameter.si/v3
            - name: VITE_PARLACARDS_URL
              value: https://glej.medvode.parlameter.si
            - name: VITE_PARLASITE_URL
              value: https://medvode.parlameter.si
            - name: VITE_METAIMAGES_URL
              value: https://meta-image-generator.lb.djnd.si/parlameter
