apiVersion: apps/v1
kind: Deployment
metadata:
  name: parlasite
  labels:
    app: parlasite
spec:
  replicas: 1
  selector:
    matchLabels:
      app: parlasite
  template:
    metadata:
      labels:
        app: parlasite
    spec:
      containers:
        - name: parlasite
          image: parlasite-ua
          ports:
            - containerPort: 3066
          resources:
            requests:
              memory: 400Mi
              cpu: 100m
            limits:
              memory: 400Mi
              cpu: 100m
          env:
            - name: PARLASITE_LEADER_ID
              value: "changeme"
            - name: PARLASITE_ROOT_ORG_ID
              value: "1"
            - name: PARLASITE_MANDATE_ID
              value: "1"
            - name: PARLASITE_DEFAULT_CARD_DATE
              value: ""
            - name: PARLASITE_NEWSLETTER_SEGMENT_ID
              value: ""
