apiVersion: apps/v1
kind: Deployment
metadata:
  name: parlasite
  labels:
    app: parlasite
spec:
  replicas: 1
  selector:
    matchLabels:
      app: parlasite
  template:
    metadata:
      labels:
        app: parlasite
    spec:
      containers:
        - name: parlasite
          image: parlasite-slovenija
          ports:
            - containerPort: 3066
          resources:
            requests:
              memory: 75Mi
              cpu: 50m
            limits:
              memory: 75Mi
              cpu: 50m
          env:
            - name: PARLASITE_LEADER_ID
              value: "4434"
            - name: PARLASITE_ROOT_ORG_ID
              value: "137"
            - name: PARLASITE_MANDATE_ID
              value: "2"
            - name: PARLASITE_DEFAULT_CARD_DATE
              value: ""
            - name: PARLASITE_NEWSLETTER_SEGMENT_ID
              value: ""
