@each $option, $color in $option-colors {
  .#{$option}-fill {
    fill: $color;
  }
}

@mixin link-hover {
  transition: background-color 0.2s;
  color: $link;

  &:hover {
    background-color: $link-hover-background;
    text-decoration: none;
    color: $link;
  }
}

.funblue-light-hover {
  @include link-hover;
}

.inactive {
  filter: grayscale(100%);
}
