@each $option, $color in $option-colors {
  .#{$option}-fill {
    fill: $color;
  }
}

@mixin link-hover {
  color: $link;

  &:hover {
    text-decoration: none;
    color: $link-hover;
  }
}

.funblue-light-hover {
  @include link-hover;
}

.inactive {
  filter: grayscale(100%);
}
