/////////////////////////////
/////// GLOBAL COLORS ///////
/////////////////////////////

// gradient
$first: #c4a932;
$second: #7786ea;
$third: #162691;

$gradient-first: $first;
$gradient-second: $second;
$gradient-third: $third;

// tabs
$tab-active: $first;
$tab-hover: #dac057;
$tab-passive: #a68d25;

// links
$link: $third;
$link-hover-background: #edeffc;

// card footer buttons
$card-footer-button-passive-background: #a68d25;
$card-footer-button-hover-background: $first;

// scroller
$scroller: #f2ebc9;
$element: #a68d25;

// divider
$divider: #c8c8c8;

// barcharts
$barchart-this: $first;
$barchart-other: $second;
$barchart-default: $second;

// icons
$icon-accepted: $third;
$icon-rejected: $first;
$icon-session: $first;
$icon-transcript: #258498;
$icon-transcript-hover-background: #ceadf2;


// buttons
$button-for: $second;
$button-against: #1f35cc;
$button-abstained: #cfd5f8;
$button-absent: #0b1347;

// dropdown
$dropdown-arrow: $first;
$dropdown-selected-element: #f2ebc9;

// other
$light-background: #fcf9f0;
$light-background-link: $third;
$tools-arrow: $second;
$cta-passive-background: $second;
$cta-hover-background: $third;
$tools-arrow: $first;
$load-icon: $first;

// common
$white: #ffffff;
$font-default: #333333;
$font-placeholder: #c8c8c8;
$background: #f0f0f0;
$tools-border: #c8c8c8;
$tools-background-hover: #dddbdb;

// prisotnost skozi cas chart
$time-presence-present-passive: lighten($first, 30%);
$time-presence-present-active: $first;
$time-presence-absent-passive: $second;
$time-presence-absent-active: $third;
$time-presence-no-term-passive: $font-placeholder;
$time-presence-no-term-active: $font-default;

// raba skozi cas chart
$time-use-bar-active: #fbbfbb;
$time-use-bar-passive: $tab-hover;

// time chart
$time-chart-active: $third;
$time-chart-passive: $first;

$vote-colors: (
  'for': $button-for,
  'against': $button-against,
  'absent': $button-absent,
  'abstain': $button-abstained,
  'did-not-vote': #8a8a8a
);

$proper-vote-colors: (
  'for': $button-for,
  'against': $button-against,
  'absent': $button-absent,
  'abstain': $button-abstained,
  'did-not-vote': #8a8a8a
);

$option-colors: (
  'for': $button-for,
  'against': $button-against,
  'absent': $button-absent,
  'abstain': $button-abstained,
  'did-not-vote': #8a8a8a
);

// hover colors TODO
$white-hover: rgba($white, 0.7);
$second-hover: rgba($second, 0.7);
$link-hover-background-hover: $link-hover-background;
$link-hover: rgba($link, 0.7);
$button-for-hover: rgba($button-for, 0.7);
$button-against-hover: rgba($button-against, 0.7);
$button-absent-hover: rgba($button-absent, 0.7);
$button-abstained-hover: rgba($button-abstained, 0.7);
$first-light-hover: #feefec;

$option-colors-hover: (
  'for': $button-for-hover,
  'against': $button-against-hover,
  'absent': $button-absent-hover,
  'abstain': $button-abstained-hover,
  'did-not-vote': #c8c8c8
);

$proper-vote-colors-hover: (
  'for': $button-for-hover,
  'against': $button-against-hover,
  'absent': $button-absent-hover,
  'abstain': $button-abstained-hover,
  'did-not-vote': #c8c8c8
);

$binary-vote-colors: (
  'binary-for': $icon-accepted,
  'binary-against': $icon-rejected
);

$binary-vote-colors-hover: (
  'binary-for': rgba($icon-accepted, 0.7),
  'binary-against': rgba($icon-rejected, 0.7),
);
