@import 'breakpoints';

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,500,700&subset=latin,latin-ext');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    /* font rendering improvement */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-smooth: always;
}

h1 {
    font-weight: 500;
}

.thin {
    font-weight: 100;
}


/* global fonts */

.header {
    .nav {
        .navbar-nav {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 500;
        }
    }
}
.footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    .mailto {
        font-weight: 400;
    }
    .input-group {
        font-size: 12px;
        font-weight: 400;
    }
}

@media (max-width: 767px) {
    .footer {
        font-size: 11px;
        .mailto {
            font-size: 11px;
        }
        .input-group {
            font-size: 9px;
        }
    }
}

%list-text {
  font-size: 18px;
  font-weight: 300;
  @include respond-to(mobile) { font-size: 14px; }
}

%progress-text {
  font-size: 20px;
  font-weight: 500;
  @include respond-to(mobile) { font-size: 16px; }
}

/* end of global fonts */
