.parlaicon {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.parlaicon-clanstva {
    background-image: url($cdn_home_icon + 'clanstva.svg');
}
.parlaicon-skupina {
    background-image: url($cdn_home_icon + 'skupina.svg');
}
.parlaicon-funkcija {
    background-image: url($cdn_home_icon + 'funkcija.svg');
}
.parlaicon-delaza {
    background-image: url($cdn_home_icon + 'delaza.svg');
}
.parlaicon-mandat {
    background-image: url($cdn_home_icon + 'mandat.svg');
}
.parlaicon-status {
    background-image: url($cdn_home_icon + 'status.svg');
}
.parlaicon-izobrazba {
    background-image: url($cdn_home_icon + 'izobrazba.svg');
}
.parlaicon-starost {
    background-image: url($cdn_home_icon + 'starost.svg');
}
.parlaicon-globe {
    background-image: url($cdn_home_icon + 'globe.svg');
}
.parlaicon-budget {
    background-image: url($cdn_home_icon + 'budget.svg');
}
.parlaicon-vodja {
    background-image: url($cdn_home_icon + 'vodja.svg');
}
.parlaicon-kontakt {
    background-image: url($cdn_home_icon + 'kontakt.svg');
}
.parlaicon-documents {
    background-image: url($cdn_home_icon + 'documents.svg');
}

.parlaicon-za {
    //background-image: url($cdn_home_icon + 'za.svg');
    background-image: url($cdn_home_icon + 'za_v2.svg');
}
.parlaicon-ni {
    background-image: url($cdn_home_icon + 'ni_v2.svg');
}
.parlaicon-proti {
    background-image: url($cdn_home_icon + 'proti_v2.svg');
}
.parlaicon-brez-glasu {
    background-image: url($cdn_home_icon + 'brez-glasu.svg');
}
.parlaicon-kvorum {
    background-image: url($cdn_home_icon + 'vzdrzan_v2.svg');
}
.parlaicon-govor {
    background-image: url($cdn_home_icon + 'govor.svg');
}
.parlaicon-vprasanje {
    background-image: url($cdn_home_icon + 'vprasanja.svg');
}
.parlaicon-odgovor {
    background-image: url($cdn_home_icon + 'odgovor.svg');
}


.parlaicon-facebook {
    width: 22px;
    height: 22px;
    line-height: 22px;
    position: relative;
    bottom: -5px;
    background-image: url($cdn_home_icon + 'facebook.svg');
}
.parlaicon-twitter {
    width: 22px;
    height: 22px;
    line-height: 22px;
    position: relative;
    bottom: -5px;
    background-image: url($cdn_home_icon + 'twitter.svg');
}
.parlaicon-linkedin {
    width: 22px;
    height: 22px;
    line-height: 22px;
    position: relative;
    bottom: -5px;
    background-image: url($cdn_home_icon + 'linkedin.svg');
}
.parlaicon-omrezja {
    width: 22px;
    height: 22px;
    line-height: 22px;
    position: relative;
    bottom: -5px;
    background-image: url($cdn_home_icon + 'omrezja.svg');
}
.parlaicon-unknown {
    background-image: url(encode-svg(str-replace(fs-readFile('icons/question-mark.svg'), '#197197', '#{map-get($proper-vote-colors-hover, against)}')));
}

$vote-results: (
    'enacted': $icon-accepted,
    'adopted': $icon-accepted,
    'rejected': $icon-rejected,
    'retracted': $icon-rejected,
    'submitted': $icon-accepted,
    'received': $icon-accepted,
    'in_procedure': $font-default,
);

@each $result, $color in $vote-results {
    .parlaicon.vote-result--#{$result} {
        background-image: url(encode-svg(str-replace(fs-readFile('icons/vote-result--#{$result}.svg'), '#000', '#{$color}')));
    }
}

.legislation-link-icon {
    background-image: url(encode-svg(str-replace(fs-readFile('icons/zakonodaja.svg'), '#000', '#{$link}')));
    background-repeat: no-repeat;
    background-position: center left;
}

.transcript-link-icon {
    background-image: url(encode-svg(str-replace(fs-readFile('icons/navigation/transcripts.svg'), '#fff', '#{$link}')));
    background-repeat: no-repeat;
    background-position: center left;
}

.donation-icon {
    background-image: url(encode-svg(str-replace(fs-readFile('img/icons/donacija.svg'), '#000', '#{$link}')));
    background-repeat: no-repeat;
    background-position: center;
    width: 75px;
    height: 75px;
    display: inline-block;
}

.empty-icon {
    background-image: url(encode-svg(str-replace(fs-readFile('icons/empty.svg'), '#000', '#{$font-default}')));
    background-repeat: no-repeat;
    background-position: center;
}

.agenda-item-icon {
    background-image: url(encode-svg(str-replace(fs-readFile('icons/calendar.svg'), '#000', '#{$white}')));
    background-repeat: no-repeat;
    background-position: center;
}
