.people-search {
  border-top: 0px solid;
  border-right: 0px solid;
  border-left: 0px solid;
  border-bottom: 2px solid $first;

  width: 220px;
  height: 35px;

  position: relative;
}
.people-search-input {
  border-width: 0;
  height: 30px;

  width: 220px;
  margin-bottom: 5px;
}
.people-search-input:focus {
  outline: none;
}

.search-icon {
  width: 30px;
  height: 30px;
  // background-image: url('#{get-parlassets-url()}/icons/search.svg');
  // background-size: contain;

  position: absolute;
  right: 0;
  top: 23px;

  .svg_1 {
    fill: $first;
    stroke: $first;
  }
}

// TODO styling of typeahead

.tt-menu {
  max-height: 300px;
  width: 220px;
  overflow-y: auto;

  @include card(1);
}

.tt-dataset {
  padding: 0;
  background-color: $white;
  width: 100%;

  // max-height: 150px;
  // overflow-y: auto;
}
.tt-dataset .searchheader {
  display: block;
  position: relative;
  width: 100%;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  background-color: $background;

  top: 0;
  left: 0;

  padding-left: 5px;
  z-index: 10;
}

.searchperson-container {
  border-bottom: 1px solid $background;
  height: 60px;
  padding: 10px;
  line-height: 40px;
  background-color: $white;
}

.avgminimg-party {
  line-height: 40px;
  font-size: 12px;
  text-align: center;
}

.tt-cursor {
  background-color: $background;
}

.tt-suggestion:hover {
  cursor: pointer;
  background-color: $background;
}
