.single_voting {
  .lightning-badge,
  .fire-badge,
  .hand-badge {
    position: absolute;
    left: 0;

    &::before {
      background-color: $font-placeholder;
      border-radius: 50%;
      content: '';
      height: 31px;
      position: absolute;
      top: -7px;
      width: 31px;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  .lightning-badge::before {
    left: 30px;
    background-image: url('#{get-parlassets-url()}/icons/strela.svg');
    background-size: 11px 19px;
  }

  .fire-badge::before {
    left: -6px;
    background-image: url('#{get-parlassets-url()}/icons/ogenj.svg');
    background-size: 40px 40px;
  }

  .hand-badge::before {
    left: -6px;
    background-image: url('#{get-parlassets-url()}/icons/hand.svg');
    background-size: 21px 21px;
  }
}

#votingCardHorizontal {
  color: $font-placeholder;
  margin-right: 4px;
  overflow: hidden;

  #scrollbar-voting-card-horizontal {
    position: relative;
  }

  .slider {
    // Predefined width because of the slider
    //width: 818px;
    width: 787px;
    float: left;
    overflow: hidden;
    padding: 0 4px;

    .slider-content {
      width: 5000px;
      position: relative;
    }

    div.member {
      margin: 0 16px;
    }
  }

  .navigate-left,
  .navigate-right {
    width: 50px;
    font-size: 26px;
    margin: 75px 0 0 0;
    cursor: pointer;
  }

  .navigate-left {
    float: left;
  }

  .navigate-right {
    float: right;
  }

  div.member {
    padding: 10px 0 0 0;
    position: relative;
    width: 130px;
    text-align: center;
    float: left;

    .image {
      width: 75px;
      height: 75px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      background-position: center center;
      background-size: 150px;
      margin: 0 auto;
    }

    p {
      font-size: 18px;
      font-weight: 300;
      margin: 15px 0 0 0;
    }

    span {
      font-size: 36px;
      font-weight: 400;
    }
  }
}

@media (max-width: 991px) {
  #votingCardHorizontal {
    #scrollbar-voting-card-horizontal {
      position: relative;
    }

    .slider {
      //width: 318px;
      width: 291px;
      padding: 0 1px;

      div.member {
        margin: 0 14px;
      }
    }
  }
}

@media (max-width: 500px) {
  #scrollbar-voting-card-horizontal {
  }

  #votingCardHorizontal {
    .slider {
      width: 100%;
      padding: 0;
      float: none;
      overflow: auto;
      padding-bottom: 20px;
    }

    .navigate-left,
    .navigate-right {
      display: none;
    }
  }
}

.clearfix {
  clear: both;
}

.member {
  border-bottom: 1px solid $background;
  padding: 10px 15px 10px 0;
  position: relative;

  .image {
    width: 75px;
    height: 75px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-position: center center;
    background-size: 150px;
    float: left;
  }

  p {
    margin: 12px 0 0 30px;
    //width: 210px;
    float: left;
    font-size: 18px;
    font-weight: 300;
  }

  span {
    float: right;
    font-size: 36px;
    font-weight: 400;
    margin: 13px 0 0 0;
  }
}

#votingCard {
  color: $font-placeholder;

  #scrollbar-voting-card {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .no-border {
    border-bottom: 0 !important;
  }

  .member {
    @extend .member;
  }
}

@media (max-width: 500px) {
  #votingCard {
    #scrollbar-voting-card {
      position: relative;
      width: 100%;
      height: 100%;
    }

    div.member {
      p {
        width: 100px;
      }

      span {
        font-size: 30px;
        margin: 14px 0 0 0;
      }
    }
  }
}

.recent-activity {
  color: $font-placeholder;

  #scrollbar-recent-activity {
    position: relative;
    width: 100%;
    height: 100%;
  }

  section {
    clear: both;
    position: relative;

    span.date {
      width: 50px;
      font-size: 16px;
      font-weight: 400;
      float: left;
      margin: 20px 0 0 0;
    }

    ul {
      margin: 0 20px 0 0;
      list-style-type: none;
      float: left;
      border-top: 1px solid $background;
      padding: 0 15px 0 0;
      width: calc(100%);

      li:first-child {
        margin: 20px 0 30px 0;
      }

      li:last-child {
        margin: 30px 0 20px 0;
      }

      li {
        margin: 30px 0 30px 0;
        position: relative;

        span {
          margin: 0;
          width: 50px;
          text-align: center;
          display: inline-block;
          position: absolute;
          top: 2px;
          font-size: 25px;
        }

        p {
          display: inline-block;

          font-size: 16px;
          font-weight: 300;
          margin: 0 0 0 65px;

          a {
            font-weight: 400;
          }
        }
      }
    }
  }
}

.col50 {
  /*width: 50px;*/
  width: 11.6%;
  float: left;
}

.col150 {
  /*width: 150px;*/
  width: 34.9%;
  float: left;
}

.col100 {
  /*width: 100px;*/
  width: 23.2%;
  float: left;
}

.col180 {
  /*width: 170px;*/
  width: 41.8%;
  float: left;
}

.col280 {
  /*width: 280px;*/
  width: 65.1%;
  float: left;
}

.col300 {
  /*width: 300px;*/
  width: 69.7%;
  float: left;
}

.nopadding {
  padding: 0;
}

.bgwhite {
  background: $white;
}

.other_poslanec .img-circle {
  width: 30px;
}

.poslanec .tab-content .poslanec_title {
  font-size: 16px;
  line-height: 18px;
}

.poslanec .tab-content .me_poslanec {
  padding-bottom: 40px;
}

.poslanec .tab-content .other_poslanec {
  padding-bottom: 40px;
}

.poslanec .bordertop {
  border-top: 1px solid $background;
}

.poslanec .key {
  display: inline-block;
  font-size: 16px;
  padding: 10px 0;
  color: $font-placeholder;
  width: 88%;
}

.noborder {
  border: none;
}

.poslanec .getListFriendlyBodies {
  font-size: 16px;
}

.poslanec .getListFriendlyBodies .tab-pane {
  padding: 10px 0;
  text-align: center;
}

.poslanec .getListFriendlyBodies .nav-tabs {
  border: none;
  text-align: center;
}

.poslanec .getListFriendlyBodies .nav-tabs li {
  display: inline-block;
  float: none;
  margin: 0;
  text-align: center;
}

.poslanec .getListFriendlyBodies .nav-tabs li a {
  border: medium none;
  border-radius: 0;
  padding: 5px;
  color: $second;
  font-size: 40px;
  line-height: 20px;
}

.poslanec .getListFriendlyBodies .nav-tabs li.active a {
  color: $first;
}

.me_poslanec_mini {
  padding-bottom: 20px;
}

.me_poslanec_mini .progress_number {
  font-size: 16px;
  font-weight: 400;
}

.progress.smallbar .red,
.indicator.red {
  background: $first;
}

.progress.smallbar .sadblue-light,
.indicator.sadblue-light {
  background: $link;
}

.progress.smallbar .ignoreblue,
.indicator.ignoreblue {
  background: $button-absent;
}

.progress.smallbar .funblue,
.indicator.funblue {
  background: $second;
}

.progress.smallbar .noblue,
.indicator.noblue {
  background: $button-abstained;
}

.progress.smallbar .fontblue,
.indicator.fontblue {
  background: $link;
}

.progress.smallbar .funblue-light,
.indicator.funblue-light {
  background: $link-hover-background;
}

.nmbr {
  float: left;
  width: 30px;
  font-size: 40px;
  color: grey;
  font-family: megafont;
}

.indexsessionpart {
}

.indexsessionpart .link {
  text-transform: uppercase;
}

.well {
  padding: 35px 0;
  text-align: center;
  background: none;
  border: none;
  a {
    text-align: center;
    color: $white;
    font-size: 24px;
    line-height: 58px;
    margin: 5px;
    padding: 10px 10px;
    background: $second;
    .more {
      font-size: 18px;
      text-transform: uppercase;
      font-style: italic;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

.indexsessionpart {
  .link {
    border-top: 1px solid $background;
    color: $link;
    margin-top: 10px;
    padding: 10px 0 20px;
    text-transform: uppercase;
  }
}

.seja_transkript {
  .me_poslanec {
    .poslanec_title {
      font-weight: 100;
      line-height: 34px;
    }
    .nmbr {
      float: left;
      width: 25px;
      font-size: 34px;
      line-height: 34px;
      color: $background;
      font-family: megafont;
    }
  }
}

.iconshowtype {
}

.iconshowtype {
  display: inline-block;
  padding: 6px;
  color: $font-placeholder;
  font-size: 24px;
}

.iconshowtype:hover,
.iconshowtype.active {
  color: $second;
  text-decoration: none;
}

#poslanci_search {
  .group-container-menu.group_data {
    ul {
      width: 100%;
      li {
        margin: 0;
        width: 10.8%;
        a {
          background: $first;
          color: $white;
          padding: 10px;
          text-align: center;
          font-size: 14px;
          line-height: 20px;
        }
        a.active,
        a:hover {
          color: $white;
          background: $second;
          text-decoration: none;
        }
      }
    }
  }

  .poslanci_search.nav {
    text-transform: uppercase;
    padding: 20px 0 0 0;
    height: 48px;
    overflow: hidden;

    a {
      line-height: 28px;
      color: $font-placeholder;
      text-align: center;
      display: inline-block;
      cursor: pointer;

      .icon {
        display: inline-block;
        width: 14px;
        line-height: 10px;
        margin-left: 20px;
        vertical-align: middle;
        color: $first;

        a.icon.up {
          color: $first;
        }
        a.icon.down {
          color: $first;
        }
      }
    }

    a:hover {
      color: $second;
      text-decoration: none;
      .icon {
        .up {
          color: $first;
        }
        .down {
          color: $first;
        }
        .up.active {
          color: $second;
        }
        .down.active {
          color: $second;
        }
      }
    }
  }

  .form-control {
    border-radius: 0;
    border-right: medium none;
    box-shadow: none;
    font-size: 20px;
    height: 40px;
    background: none;
  }

  .form-control:focus {
    border: 1px solid $font-placeholder;
  }
  .input-group-btn:hover {
    border: none;
    outline: none;
  }
  .input-group-btn button.btn {
    border-radius: 0;
    border-left: medium none;
    height: 40px;
    background: none;
    box-shadow: none;
    color: $second;
  }
  .member {
    border-bottom: 1px solid $background;
    padding: 10px 0;
    .image {
      background-position: center center;
      background-size: 150px auto;
      border-radius: 50px;
      height: 80px;
      width: 80px;
      img {
        border-radius: 50px;
        width: 100%;
      }
    }
    p {
      font-size: 18px;
      font-weight: 300;
    }
  }
}

.scroller {
  height: 100%;
  position: relative;
  width: 100%;
}

.searchnastopi {
  .row {
    .border {
      border-bottom: 1px solid $background;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }

    .member {
      padding: 10px 0;

      .image {
        width: 75px;
        height: 75px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        background-position: center center;
        background-size: 150px;
        float: left;
      }
      p {
        margin: 12px 0 0 40px;
        float: left;
        font-size: 18px;
        font-weight: 300;
      }
      span {
        float: right;
        font-size: 16px;
        font-weight: 300;
        margin: 12px 0 0 0;
      }
    }

    .desc {
      font-size: 16px;
      font-weight: 300;
    }
  }
}

.izracunana_prisotnost {
  .tab-content {
    .me_poslanec {
      padding-bottom: 10px;

      .hugebar {
        height: 20px;
      }
      .progress_number {
        font-size: 25px;
        line-height: 20px;
      }
    }
    .other_poslanec {
      padding-bottom: 10px;
    }
  }
}

.clanstva {
  .tab-content {
    .tab-pane {
      text-align: center;
    }
  }
}
