<%- await include('../_partials/header.ejs') %>

<%- await fetchCard('/misc/groups/', rootOrgId, { generator: true }) %>

<div style="height:25px"></div>

<%- await fetchCard('/misc/groups/', rootOrgId2, { generator: true, cardInfoKey: "card.info2" }) %>

<%- await include('../_partials/footer.ejs') %>
