<%- await include('../_partials/header.ejs') %>


<div class="card-container" id="about">
    <div class="card-content">
        <h2 class="text-center"><span class="gradient-title" style="font-size: 30px"><%- i18n('legal.title') %></span></h2>
        <div class="col-md-8 col-md-offset-2 legal-text-container">
            <%- i18n('legal.body') %>
        </div>
    </div>
</div>


<%- await include('../_partials/footer.ejs') %>
