<%- await include('../_partials/header.ejs') %>

<div class="col-lg-12 status404">
  <div class="narrow-inner-container">
    <br>
    <br>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <img src="<%- config.urls.cdn %>/img/hvala.png" class="img-responsive">
      </div>
    </div>
    <div class="row">
      <h2><%- i18n('donation.error') %></h2>
    </div>
  </div>
</div>

<%- await include('../_partials/footer.ejs') %>
