<div id="og-container">
    <style>
        @import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&subset=latin,latin-ext);
        @import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,700&subset=latin,latin-ext);
        #og-container {
            width: 1200px;
            height: 630px;
            background: #5b99d5;
            position: relative;
            font-family: Roboto, sans-serif;
        }

        .left-half,
        .right-half {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 50%;
            padding: 75px;
            box-sizing: border-box;
            text-align: center;
        }

        .left-half {
            left: 0;
        }

        .right-half {
            right: 0;
            background: #fff;
        }

        .personimg {
            width: 200px;
            height: 200px;
            margin: 10px auto 75px;
            background-color: #fff;
            border-radius: 50%;
            padding: 50px;
        }

        .personimg svg {
            fill: #5b99d5;
        }

        h1,
        h2 {
            color: #fff;
            padding: 0;
            margin: 0;
            line-height: 1;
        }

        h1 {
            font-size: 44px;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 32px;
        }

        .partyinfo {
            font-family: "Roboto Slab", sans-serif;
            font-weight: 300;
        }

        .cardname {
            font-size: 44px;
            color: #5b99d5;
            margin-top: 200px;
        }

        .logo {
            width: 100%;
            position: absolute;
            bottom: 55px;
            left: 0;
        }

        .logo img {
            width: 160px;
        }
    </style>
    <div class="left-half">
        <div class="personimg">
            <% if (pageData.vote.result) { %>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve"><g><g><path fill="#5b99d5" d="M16,31.3C7.6,31.3,0.8,24.4,0.8,16S7.6,0.8,16,0.8S31.3,7.6,31.3,16S24.4,31.3,16,31.3z M16,2.3    C8.4,2.3,2.3,8.4,2.3,16S8.4,29.8,16,29.8S29.8,23.6,29.8,16S23.6,2.3,16,2.3z"></path></g><g><polygon fill="#5b99d5" points="13.9,21.6 8.5,16.2 9.6,15.1 13.9,19.5 22.4,10.9 23.5,12   "></polygon></g></g></svg>
            <% } else { %>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve"><g><g><path fill="#5b99d5" d="M16,31.3C7.6,31.3,0.8,24.4,0.8,16C0.8,7.6,7.6,0.8,16,0.8c8.4,0,15.3,6.8,15.3,15.2    C31.3,24.4,24.4,31.3,16,31.3z M16,2.3C8.4,2.3,2.3,8.4,2.3,16S8.4,29.8,16,29.8c7.6,0,13.8-6.2,13.8-13.8S23.6,2.3,16,2.3z"></path></g><g><rect x="15.3" y="9.6" transform="matrix(0.7071 0.7071 -0.7071 0.7071 16.0013 -6.6273)" fill="#5b99d5" width="1.5" height="12.8"></rect></g><g><rect x="9.6" y="15.2" transform="matrix(0.7071 0.7071 -0.7071 0.7071 16.0002 -6.6278)" fill="#5b99d5" width="12.8" height="1.5"></rect></g></g></svg>
            <% } %>
        </div>
        <h1 class="personinfo"><%= pageData.vote.name %></h1>
        <h2 class="partyinfo"></h2>
    </div>
    <div class="right-half">
        <h2 class="cardname">
            <%= pageData.name %>
        </h2>
        <div class="logo">
            <img src="https://cdn.parlameter.si/v1/parlassets/img/logo-parlameter.svg" alt="parlameter logo">
        </div>
    </div>
</div>
