<% include ../_partials/header.ejs %>

<% include ./_header.ejs %>

<%# TODO: type is hardcoded %>
<% if (session.type != 'kolegij') { %>
  <% if (session.votes) { %>
    <div class="col-md-12">
      <%- 'views.glasovanjaSeja' %>
    </div>
  <% } else if (session.org.name === 'Državni zbor') { %>
    <% include ../empty-state/state1dz.ejs %>
  <% } else { %>
    <% include ../empty-state/state1.ejs %>
  <% } %>
<% } else { %>
  <% if (session.votes) { %>
    <div class="col-md-12">
      <%- 'views.besedeKiSoZaznamovaleSejo' %>
    </div>
    <div class="col-md-12">
      <%- 'views.transkript' %>
    </div>
  <% } else if (session.org.name === 'Državni zbor') { %>
    <% include ../empty-state/state2dz.ejs %>
  <% } else { %>
    <% include ../empty-state/state2.ejs %>
  <% } %>
<% } %>

<% include ../_partials/footer.ejs %>
