<% include ../_partials/header.ejs %>

<% include ./_header.ejs %>

<% if (session.votes) { %>
<div class="col-md-12">
  <%- 'views.glasovanjeSeja' %>
</div>
<% } else { %>
  <% include ../empty-state/state2.ejs %>
<% } %>

<% include ../_partials/footer.ejs %>
