<%- await include('../_partials/header.ejs') %>

<%- await include('./_header.ejs') %>

<div class="row">
  <div class="col-md-12">
    <%- await fetchCard('/vote/single/', motionId, { "showExportButton": true }) %>
  </div>
</div>

<%- await include('../_partials/footer.ejs') %>
