<%- await include('../_partials/header.ejs') %>

<%- await include('./_header.ejs') %>

<div class="row">
  <div class="col-md-12">
    <%- await fetchCard('/session/minutes/', session.id, { page: page }) %>
  </div>
</div>

<%- await include('../_partials/footer.ejs') %>
