<% include ../_partials/header.ejs %>


<style>
    .status404 h1 span {
        font-size: 72px;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
    .status404 h1 .fo {
        background-image: linear-gradient(to right, #009cdd, #009cdd);
    }
    .status404 h1 .oo {
        background-image: linear-gradient(to right, #009cdd, #ff5e41);
    }
    .status404 h1 .of {
        background-image: linear-gradient(to right, #ff5e41, #ff5e41);
    }



</style>

<div class="col-lg-12 status404">
    <div class="narrow-inner-container">

        <br />
        <h1>
            <span class="fo">4</span>
            <span class="oo">0</span>
            <span class="of">4</span>
        </h1>
        <br />

        <br />
        <h2>Tukaj ni ničesar. Kaj pa iščeš?</h2>

        <form method="get" action="/seje/isci" class="searchForm">

            <div class="input-group search">
                <input type="text" class="form-control simplebox" placeholder="" name="q" value="">
                <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
            </div>
        </form>
    </div>

</div>
<% include ../_partials/footer.ejs %>
