apiVersion: apps/v1
kind: Deployment
metadata:
  name: parlasite-ua
  labels:
    app: parlasite-ua
spec:
  replicas: 1
  selector:
    matchLabels:
      app: parlasite-ua
  template:
    metadata:
      labels:
        app: parlasite-ua
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - name: parlasite-ua
          image: parlasite-ua
          ports:
            - containerPort: 3066
          resources:
            requests:
              memory: 50Mi
              cpu: 50m
            limits:
              memory: 50Mi
              cpu: 50m
