apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter
resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
images:
  - name: parlasite
    newName: rg.fr-par.scw.cloud/djnd/parlasite
    newTag: '4ead1cef46b4a24ee512cce1964edd8e094fd30d'
