apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-ua
resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
images:
  - name: parlasite-ua
    newName: rg.fr-par.scw.cloud/djnd/parlasite-ua
    newTag: 'eb0edffbd9b697bb519d28314bc3db43a25ac7a8'
