apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-slovenija
resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
images:
  - name: parlasite-slovenija
    newName: rg.fr-par.scw.cloud/djnd/parlasite-slovenija
    newTag: '478265096f4e79e0d564f7936d04eca942665e75'
