apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-hrastnik
resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
images:
  - name: parlasite-hrastnik
    newName: rg.fr-par.scw.cloud/djnd/parlasite-hrastnik
    newTag: '6e6e17b044eed1bcebbb2efe47f239425fdf8224'
