apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-lendava
resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
images:
  - name: parlasite-lendava
    newName: rg.fr-par.scw.cloud/djnd/parlasite-lendava
    newTag: '2e97c6dbe39ce4d4dbf662ee966812c91955591e'
