apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-ajdovscina
resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
images:
  - name: parlasite-ajdovscina
    newName: rg.fr-par.scw.cloud/djnd/parlasite-ajdovscina
    newTag: '9c551a853279bc1c1e19a84f594f30a56a781eae'
