
</div>

<footer class="footer">
    <div class="container">
        <div class="row border_top">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-4">
                        <a href="/o-projektu" class="colorBlack">O projektu</a>
                        <br><br>
                    </div>
                    <div class="col-lg-6">
                        <label class="control-label">Prijavi se na mesečnik!</label>
                        <div class="input-group newslettersubscribemsg">

                            <input type="email" class="form-control newslettersubscribe simplebox required" placeholder="Email">
                            <span class="input-group-btn">
                                <button class="btn btn-default newslettersubscribeButton simplebox measure" data-mc="social" data-ma="link" data-mn="emesecnik" data-mv="" type="button">Oddaj</button>
                            </span>

                        </div>
                        <br><br>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-8 col-md-6  col-xs-6">

                        <button class="btn doniraj measure" data-mc="donate" data-ma="start" data-mn="" data-mv="" data-toggle="modal" data-target="#modal-doniraj">
                            Doniraj!
                            <i class="parlaicon parlaicon-doniraj">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve"><path class="red" d="M35.3,0.5c-4.4,0-8.5,2.7-10.6,6.8c-0.2,0.3-0.6,0.4-0.8,0C21.6,3.2,17.6,0.5,13,0.5  C6.1,0.5,0.5,6.7,0.5,14.4c0,7.9,8.6,22.4,23,32.9c0.2,0.1,0.3,0.2,0.5,0.2c0.2,0,0.3,0,0.5-0.1c14-9.2,23-25.9,23-33.3  C47.5,6.6,42,0.5,35.3,0.5z"></path></svg>
                            </i>
                        </button>

                        <br><br>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-6">
                        <p>
                            <a href="/za-medije" class="colorBlack">Za medije</a>
                        </p>
                        <p>
                            <a href="/pravno-obvestilo" class="colorBlack">Pravno obvestilo</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border_tope">
            <div class="col-lg-6  col-md-12 col-xs-12">

                <div class="row">
                    <div class="col-lg-4 col-xs-6">
                        <a href="mailto:info@parlameter.si" class="mailto measure" data-mc="social" data-ma="link" data-mn="mail" data-mv="">info@parlameter.si</a>
                    </div>
                    <div class="col-xs-6 parlaicon-social-align">

                        <a target="_blank" href="https://www.facebook.com/parlameter" class="parlaicon parlaicon-facebook-parlameter nodec measure" data-mc="social" data-ma="link" data-mn="facebook" data-mv="" >
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35" height="35" viewBox="0 0 100 100">
                                <path class="blue" d="M50 2c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM61.37 35.17h-7.215c-0.855 0-1.805 1.125-1.805 2.62v5.21h9.025l-1.365 7.43h-7.66v22.305h-8.515v-22.305h-7.725v-7.43h7.725v-4.37c0-6.27 4.35-11.365 10.32-11.365h7.215v7.905z"></path>
                            </svg>
                        </a>


                        <a target="_blank" href="https://twitter.com/Parlameter_si" class="parlaicon parlaicon-twitter-parlameter nodec measure" data-mc="social" data-ma="link" data-mn="twitter" data-mv="">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35" height="35" viewBox="0 0 100 100">
                                <path class="blue" d="M50 2c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM69.525 41.32c0.020 0.41 0.025 0.82 0.025 1.22 0 12.5-9.505 26.905-26.895 26.905-5.34 0-10.31-1.56-14.49-4.25 0.735 0.090 1.49 0.125 2.255 0.125 4.43 0 8.505-1.505 11.74-4.045-4.135-0.080-7.625-2.81-8.83-6.56 0.575 0.105 1.165 0.165 1.775 0.165 0.86 0 1.7-0.115 2.49-0.33-4.325-0.87-7.585-4.69-7.585-9.27v-0.115c1.275 0.705 2.735 1.135 4.285 1.185-2.54-1.7-4.205-4.59-4.205-7.875 0-1.73 0.465-3.36 1.28-4.755 4.665 5.72 11.625 9.48 19.485 9.885-0.165-0.695-0.245-1.415-0.245-2.16 0-5.215 4.23-9.455 9.455-9.455 2.715 0 5.175 1.15 6.9 2.99 2.155-0.43 4.175-1.21 6-2.295-0.705 2.205-2.2 4.060-4.155 5.235 1.915-0.235 3.735-0.74 5.43-1.495-1.265 1.895-2.87 3.565-4.715 4.895z"></path>
                            </svg>
                        </a>

                        <br/>
                    </div>
                </div>


                &nbsp;
            </div>
            <div class="col-lg-6"></div>
        </div>
    </div>
    <div class="stripeelbottom"></div>
</footer>

<% include donacija.ejs %>
<% include searchData.ejs %>
<script src="/js/js.js"></script>


</body>
</html>