<% include ../_partials/header.ejs %>

<% include ./_tabs.ejs %>

<div class="row">
  <div class="col-md-12">
      <%- await fetchCard('/c/kompas/') %>
  </div>
</div>

<% include ../_partials/footer.ejs %>
