<% include ../_partials/header.ejs %>

<div id="orodja-primerjalnik-container" class="row">
    <div class="party-list-generator col-md-12">
        <ul class="analyses">
            <li v-for="tool in tools"
                :class="{ selected: tool.id === currentTool }">
                <a :href="tool.link">{{ tool.label }}</a>
            </li>
        </ul>

        <div class="mobile-analyses">
            <label for="tool">Izberi orodje</label>
            <div class="select">
                <select
                    name="tools"
                    id="tools"
                    v-model="currentTool"
                    @change="selectTool(currentTool)">
                    <option
                        v-for="tool in tools"
                        :value="tool.id">
                        {{ tool.label }}
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <%- 'views.primerjalnikGlasovanj' %>
    </div>
</div>

<script>
  new Vue({
    el: '#orodja-primerjalnik-container',
    data: {
      tools: [
        { id: 'obvestila', label: 'Parlameter obvestila', link: 'https://obvestila.parlameter.si/' },
        { id: 'primerjalnik', label: 'Primerjalnik glasovanj', link: '/orodja/primerjalnik-glasovanj' },
        { id: 'raziskovalec', label: 'Raziskovalec neenotnosti', link: '/orodja/raziskovalec-neenotnosti' },
        { id: 'kompas', label: 'Parlamentarni kompas', link: '/orodja/parlamentarni-kompas' },
        // { id: 'parlatube', label: 'Parlatube', link: '/orodja/parlatube' },
        { id: 'skupine-besed', label: 'Skupine besed', link: '/orodja/skupine-besed' },
      ],
      currentTool: 'primerjalnik'
    },
    methods: {
      selectTool: function (toolId) {
        this.currentTool = toolId;
        const tool = this.tools.find(t => t.id === toolId);
        if (tool) {
            window.location.href = tool.link;
        }
      },
    }
  });
</script>

<style>
    .party-list-generator li { font-size: 13px !important;}
    .party-list-generator li a { color: #fff; text-decoration: none;}
</style>

<% include ../_partials/footer.ejs %>
