<%- await include('../_partials/header.ejs') %>

<%- await include('./_tabs.ejs') %>

<div class="row">
  <div class="col-md-12">
    <%- await fetchCard('/ps/glasovanja-neenotnost/') %>
  </div>
</div>

<%- await include('../_partials/footer.ejs') %>
