

<div class="steps step1">

    Tvoja donacija bo pomagala zagotoviti nadaljnji razvoj in omogočiti dolgoročno delovanje Parlametra.

    OSEBNA
    DONACIJA

    POSLOVNA
    DONACIJA
</div>


<div class="steps step1p2">

    Najlažje, da se o podrobnostih pogovorimo po e-pošti.


    Vaš e-naslov

    Sporočilo



</div>


<div class="steps step1p1">
DONACIJA PO IZBIRI


EUR

mesečna donacija


S KARTICO

S PAYPALOM

S POLOŽNICO

</div>

<div class="steps step2p1">
Vnesite vaše podatke in poslali vam bomo položnico.

E-naslov

Ime

Priimek

Naslov

</div>

<div class="steps step2p2">

    E-naslov

    Številka kartice

    MM/LL

    CVC

    Zapomni si me

    DONIRAJ

</div>
<div class="steps step2p3">

    Hvala, Jasmina!


    Položnico smo ti poslali po
    elektronski pošti.

    ZAPRI

</div>
<div class="steps step2p1">

    Hvala, Jasmina!


    Tvoja donacija je pomembna.

    ZAPRI
</div>