</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cnt clearfix">
                    <div class="pull-left">
                        prijavei se na emesečnik: doniraj
                    </div>
                    <div class="pull-right">
                        <a href="">O projektu</a>
                        <a href="">DANES JE NOV DAN</a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</footer>

<div class="cardhelper" id="cardInfoBox" style="display: none;" data-card-helper-type="info">
    <h1>info</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolores eos et inventore ipsa, iste iusto necessitatibus nemo nobis nulla obcaecati odit optio perspiciatis, quod similique sit tempora, vero voluptatibus.
</div>

<div class="cardhelper" id="cardShareBox" style="display: none;" data-card-helper-type="share">
    <h1>share</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolores eos et inventore ipsa, iste iusto necessitatibus nemo nobis nulla obcaecati odit optio perspiciatis, quod similique sit tempora, vero voluptatibus.
</div>

<div class="cardhelper" id="cardEmbedBox" style="display: none;" data-card-helper-type="embed">

    <h1>embed</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolores eos et inventore ipsa, iste iusto necessitatibus nemo nobis nulla obcaecati odit optio perspiciatis, quod similique sit tempora, vero voluptatibus.
</div>

</body>

</html>