</div>

<footer class="footer">
    <div class="container">
        <div class="row border_top">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-4">
                        <a href="" class="colorBlack">O projektu</a>
                    </div>
                    <div class="col-lg-6">
                        <label class="control-label">prijavi se na mesečnik!</label>
                        <div class="input-group">
                            <input type="text" class="form-control newslettersubscribe" placeholder="Email">
                            <span class="input-group-btn">
                                <button class="btn btn-default newslettersubscribeButton" type="button">Oddaj</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-8">
                        <button class="btn doniraj">
                            Doniraj!
                            <i class="parlaicon parlaicon-doniraj"></i>
                        </button>
                    </div>
                    <div class="col-lg-4">
                        <p>
                            <a href="" class="colorBlack">Za medije</a>
                        </p>
                        <p>
                            <a href="" class="colorBlack">Pravno obvestilo</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border_tope">
            <div class="col-lg-6">
                <a href="mailto:info@parlameter.si">info@parlameter.si</a>
                <a href="">
                    <i class="parlaicon parlaicon-twitter-parlameter"></i>
                </a>
                <a href="">
                    <i class="parlaicon parlaicon-facebook-parlameter"></i>
                </a>
                <br/>
                &nbsp;
            </div>
            <div class="col-lg-6"></div>
        </div>
    </div>
    <div class="stripeelbottom"></div>
</footer>

<script src="/js/js.js"></script>


<% include searchData.ejs %>

</body>

</html>