</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cnt clearfix">
                    <div class="pull-left">
                        prijavei se na emesečnik: doniraj
                    </div>
                    <div class="pull-right">
                        <a href="">O projektu</a>
                        <a href="">DANES JE NOV DAN</a>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="stripeelbottom"></div>
</footer>

<div class="cardhelper" id="cardInfoBox" style="display: none;" data-card-helper-type="info">
    <h1>info</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolores eos et inventore ipsa, iste iusto necessitatibus nemo nobis nulla obcaecati odit optio perspiciatis, quod similique sit tempora, vero voluptatibus.
</div>

<div class="cardhelper" id="cardShareBox" style="display: none;" data-card-helper-type="share">
    <h1>share</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolores eos et inventore ipsa, iste iusto necessitatibus nemo nobis nulla obcaecati odit optio perspiciatis, quod similique sit tempora, vero voluptatibus.
</div>

<div class="cardhelper" id="cardEmbedBox" style="display: none;" data-card-helper-type="embed">

    <h1>embed</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolores eos et inventore ipsa, iste iusto necessitatibus nemo nobis nulla obcaecati odit optio perspiciatis, quod similique sit tempora, vero voluptatibus.
</div>




<style>
    .pm-poslanec-nav {
        width: 100%;
        text-align: center;
    }

    .pm-poslanec-nav .pm-poslanec-nav-btn {

        line-height: 50px;
        width: 120px;
        margin-left: 10px;
        display: inline-block;
        text-transform: uppercase;
        border: 1px solid #999;
        color: #555;

    }

    .pm-poslanec-nav .pm-poslanec-nav-btn-selected {
        background-color: #009cdd;
        color: #fff;
        border: 0px;
    }

    .row-container .col-half:nth-child(2){

        margin-left: 44px;

    }

    .col-container {
        float: left;
    }

    .col-half {

        width: 47.5%;

    }

    .col-block {
        width: 100%;
    }

    .page-title{

        text-align: center;
        font-weight: 300;
        font-size:24px;
        margin-bottom:20px;

    }

</style>

<script src="/js/js.js"></script>

</body>

</html>