<!-- - - - - - - - - - - SEARCH MODAL -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal-search-how">
        <div class="modal-dialog modal-wide modal-center" role="document">
            <div class="modal-center-wrapper">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-logo">
                            <img class="img-responsive" src="https://cdn.parlameter.si/v1/parlassets/img/logo-parlameter.svg" alt="parlameter logo">
                        </div>
                        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Kako iskati?</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <p>
                                Za privzet način iskanja je nastavljeno široko ujemanje (med zadetki se znajdejo vsi govori, ki vsebujejo katero koli od
                                besed v iskalnem nizu). Med rezultati zadetkov se zaradi pregibanja pojavljajo vse slovnične
                                oblike znotraj iste besedne vrste. To ne velja zgolj za iskanje z natančnim ujemanjem ("narekovaji").
                            </p>
                            <p>
                                Če želiš svoj iskalni niz dodatno modificirati, lahko uporabiš naslednje operatorje:
                            </p>
                            <div class="row flex-wrap">
                                <div class="col-sm-6">
                                    <div class="light-bg">
                                        <h4>IN</h4>
                                        <p>med rezultati iskanja bodo zgolj zadetki, ki vključujejo vse besede v iskalnem nizu
                                            (a ne glede na njihov vrstni red)</p>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <br>
                                                <div><i>Primer iskanja:</i></div>
                                                <div>Ivan IN Cankar</div>
                                            </div>
                                            <div class="col-xs-6">
                                                <br>
                                                <div><i>Rezultati iskanja:</i></div>
                                                <div>
                                                    Ivan Cankar<br> Cankar, Ivan
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="light-bg">
                                        <h4>"NAREKOVAJI"</h4>
                                        <p>med rezultati iskanja bodo samo zadetki, ki vlkjučujejo točen nabor znakov</p>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <br>
                                                <div><i>Primer iskanja:</i></div>
                                                <div>"Humanitarna kriza"</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row flex-wrap">
                                <div class="col-sm-6">
                                    <div class="light-bg">
                                        <h4>! (KLICAJ)</h4>
                                        <p>rezultati iskanja nujno vklučujejo s klicajem označeno besedo v iskalnem nizu, druge
                                            besede iskalnega niza pa služijo zgolj za rangiranje rezultatov</p>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <br>
                                                <div><i>Primer iskanja:</i></div>
                                                <div>Poslanska !skupina</div>
                                            </div>
                                            <div class="col-xs-6">
                                                <br>
                                                <div><i>Rezultati iskanja:</i></div>
                                                <div>
                                                    Poslanska skupina,<br> skupina poslancev,<br> mednarodna skupina
                                                </div>
                                                <br>
                                                <div><i>Ni rezultat iskanja:</i></div>
                                                <div>
                                                    Poslanska služba
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="light-bg">
                                        <h4>- (MINUS)</h4>
                                        <p>rezultati iskanja izjključujejo zadetke s posamezno besedo v iskalnem nizu, če to
                                            besedo predhaja minus (-)</p>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <br>
                                                <div><i>Primer iskanja:</i></div>
                                                <div>-Poslanska skupina</div>
                                            </div>
                                            <div class="col-xs-6">
                                                <br>
                                                <div><i>Rezultati iskanja:</i></div>
                                                <div>
                                                    skupina poslancev,<br> mednarodna skupina
                                                </div>
                                                <br>
                                                <div><i>Ni rezultat iskanja:</i></div>
                                                <div>
                                                    Poslanska skupina
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- - - - - - - - - - - /SEARCH MODAL -->