
<div class="session-container session-search-container">
    <div class="row">

        <div class="col-lg-12">
            <div class="narrow-inner-container">
                <h2>Išči po vseh sejah</h2>

                <form method="get" action="/seje/isci">

                    <div class="input-group search">
                        <input type="text" class="form-control simplebox" placeholder="" name="q" value="<%=query.q;%>">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                    </div>
                </form>
                <div class="searchinfo measure" data-mc="search" data-ma="infobox" data-mn="" data-mv="" data-toggle="modal" data-target="#modal-search-how">i</div>

            </div>

            <% if((typeof query.q !== "undefined") && (query.q.length > 0)){%>
            <div class="row">
                <div class="col-md-12">
                    <div class="searchfilter-container searchfilter-master-container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="searchfilter-container" id="pps">
                                            <div class="searchfilter-label">Išči po poslancih in/ali poslanskih skupinah</div>
                                            <div class="searchfilter-input">
                                                <search-dropdown :items="ppspodatki" :groups="ppsskupine" :placeholder="ppsinputPlaceholder"></search-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="searchfilter-container" id="cas">
                                            <div class="searchfilter-label">Išči v časovnem obdobju</div>
                                            <div class="searchfilter-input">
                                                <search-dropdown :items="caspodatki" :placeholder="casinputPlaceholder"></search-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="searchfilter-container" id="seje">
                                    <div class="searchfilter-label">Išči po sejah</div>
                                    <div class="searchfilter-checkbox">
                                        <input id="dz" type="checkbox" class="checkbox">
                                        <label for="dz">Seje Državnega zbora</label>
                                    </div>
                                    <div class="searchfilter-checkbox">
                                        <input id="kdz" type="checkbox" class="checkbox">
                                        <label for="kdz">Seje Kolegija predsednika Državnega zbora</label>
                                    </div>
                                    <div class="searchfilter-checkbox">
                                        <input id="predsedujoci" type="checkbox" class="checkbox with-input">
                                        <label for="predsedujoci">
                                            <div class="searchfilter-input">
                                                <search-dropdown :items="dtpodatki" :placeholder="dtinputPlaceholder"></search-dropdown>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="narrow-inner-container">
                <br><br>
                <h3 class="searchresults">Rezultati za iskalni niz "<%=query.q;%>"</h3>
            </div> -->
            <% } %>

        </div>
    </div>
</div>

<% include ./searchpopup.ejs %>

<style>
    .searchfilter-container {
        background-color: #d8e2e6;
        padding: 15px;
    }
    #seje .searchfilter-label {
        margin-bottom: 9px;
    }
    .search-dropdown input {
        background-color: #f0f0f0;
    }
    .searchfilter-label {
        font-size: 14px;
        padding-bottom: 4px;
        font-weight: 300;
    }
    .searchfilter-checkbox .checkbox + label {
        width: 100%;
        font-size: 16px;
        line-height: 40px;
        margin-bottom: 10px;
        padding-left: 40px;
    }
    .searchfilter-checkbox .checkbox + label:before {
        margin-top: 5px;
        width: 30px;
        height: 30px;
        background-color: #f0f0f0;
    }
    .searchfilter-checkbox .checkbox.with-input + label:before {
        margin-top: 10px;
        width: 30px;
        height: 30px;
    }
    .searchfilter-checkbox .checkbox:checked + label:before {
        background-position: 7px 9px;
    }
</style>

<script>

// https://isci.parlameter.si/filter/kriza?people=80

function capitalise(string) {
    return string[0].toUpperCase() + string.substring(1)
  }

  function formatDate(date) {
      var month = date.getMonth();
      var year = date.getFullYear()

      switch(month) {
        case 0:
            return 'Januar ' + String(year);
            break;
        case 1:
            return 'Februar ' + String(year);
            break;
        case 2:
            return 'Marec ' + String(year);
            break;
        case 3:
            return 'April ' + String(year);
            break;
        case 4:
            return 'Maj ' + String(year);
            break;
        case 5:
            return 'Junij ' + String(year);
            break;
        case 6:
            return 'Julij ' + String(year);
            break;
        case 7:
            return 'Avgust ' + String(year);
            break;
        case 8:
            return 'September ' + String(year);
            break;
        case 9:
            return 'Oktober ' + String(year);
            break;
        case 10:
            return 'November ' + String(year);
            break;
        case 11:
            return 'December ' + String(year);
            break;
      }
  }

  var testis = new Vue({
    el: '.searchfilter-master-container',
    components: ['SearchDropdown'],
    computed: {
      ppsinputPlaceholder: function() {
        return this.ppsselectedTags.length > 0 ? 'Izbranih filtrov: ' + this.ppsselectedTags.length : 'Izberi filtre'
      },
      ppsselectedTags: function() {
        return this.ppspodatki
          .filter(function(tag) { return tag.selected })
          .map(function(tag) { return tag.id });
      },
      casinputPlaceholder: function() {
        return this.casselectedTags.length > 0 ? 'Izbranih filtrov: ' + this.casselectedTags.length : 'Izberi filtre'
      },
      casselectedTags: function() {
        return this.caspodatki
          .filter(function(tag) { return tag.selected })
          .map(function(tag) { return tag.id });
      },
      dtinputPlaceholder: function() {
        return this.dtselectedTags.length > 0 ? 'Izbranih delovnih teles: ' + this.dtselectedTags.length : 'Izberi delovna telesa'
      },
      dtselectedTags: function() {
        return this.dtpodatki
          .filter(function(tag) { return tag.selected })
          .map(function(tag) { return tag.id });
      },
      filters: function() {
        return {
            people: this.ppsselectedTags.filter(function(tag) {
                return tag.selected && tag.id.indexOf('ps') === -1;
            }),
            parties: this.ppsselectedTags.filter(function(tag) {
                return tag.selected && tag.id.indexOf('ps') !== -1;
            }),
            time_filter: []
        }
      }
    },
    created: function() {
        var self = this;
        $.get('https://isci.parlameter.si/filter/kriza', function(response) {
            // poslanci in poslanske skupine
            var poslanci = response.facet_counts.facet_fields.speaker_i
                .filter(function(person) {
                    return person.score > 0;
                })
                .map(function(person) {
                    var tagperson = {
                        id: 'p' + String(person.person.id),
                        label: person.person.name,
                        count: person.score,
                        selected: false
                    }
                    return tagperson
                })
                .sort(function(a, b) {
                    console.log(a.count);
                    return a.count - b.count;
                });
            
            var ps = response.facet_counts.facet_fields.party_e
                .filter(function(party) {
                    return party.score > 0;
                })
                .map(function(party) {
                    var tagperson = {
                        id: 'ps' + String(party.party.id),
                        label: party.party.name,
                        count: party.score,
                        selected: false
                    }
                    return tagperson
                })
                .sort(function(a, b) {
                    console.log(a.count);
                    return a.count - b.count;
                });
            
            self.ppspodatki = poslanci.concat(ps);
            self.ppsskupine = [
                {
                    label: 'Poslanke in poslanci',
                    items: poslanci.map(function (person) {
                        return person.id;
                    })
                }, {
                    label: 'Poslanske skupine',
                    items: ps.map(function (party) {
                        return party.id;
                    })
                }
            ]

            // cas
            var castemp = [];
            response.facet_counts.facet_ranges.datetime_dt.counts.forEach(function (e, i) {
                if (i % 2 === 0 && response.facet_counts.facet_ranges.datetime_dt.counts[i + 1] !== 0) {
                    castemp.push({
                        id: e,
                        date: new Date(e),
                        label: formatDate(new Date(e)),
                        selected: false,
                        count: response.facet_counts.facet_ranges.datetime_dt.counts[i + 1]
                    })
                }
            });
            self.caspodatki = castemp;

            // delovna telesa
            $.get('https://analize.parlameter.si/v1/s/getSessionsByClassification/', function(response) {
                self.dtpodatki = response.dt.map(function (wb) {
                    return {
                        id: wb.id,
                        label: wb.name,
                        selected: false
                    }
                });
            });
        });
    },
    data: function() {
      return {
        ppspodatki: [{id: 'loading', label: 'Nalagamo filtre ...', selected: false}],
        ppsskupine: [{label: '', items: 'loading'}],
        caspodatki: [{id: 'loading', label: 'Nalagamo filtre ...', selected: false}],
        dtpodatki: [{id: 'loading', label: 'Nalagamo delovna telesa ...', selected: false}]
      }
    }
  });

//   new Vue({
//     el: '#cas',
//     components: ['SearchDropdown'],
//     computed: {
//       inputPlaceholder: function() {
//         return this.selectedTags.length > 0 ? 'Izbranih filtrov: ' + this.selectedTags.length : 'Izberi filtre'
//       },
//       selectedTags: function() {
//         return this.podatki
//           .filter(function(tag) { return tag.selected })
//           .map(function(tag) { return tag.id });
//       },
//     },
//     created: function() {
//         var self = this;
//         $.get('https://isci.parlameter.si/filter/kriza', function(response) {
//             var temp = [];
//             response.facet_counts.facet_ranges.datetime_dt.counts.forEach(function (e, i) {
//                 if (i % 2 === 0 && response.facet_counts.facet_ranges.datetime_dt.counts[i + 1] !== 0) {
//                     temp.push({
//                         id: e,
//                         date: new Date(e),
//                         label: formatDate(new Date(e)),
//                         selected: false,
//                         count: response.facet_counts.facet_ranges.datetime_dt.counts[i + 1]
//                     })
//                 }
//             });
//             self.podatki = temp;
//         });
//     },
//     data: function() {
//       return {
//         podatki: [{id: 'loading', label: 'Nalagamo filtre ...', selected: false}]
//       }
//     }
//   });

//   new Vue({
//     el: '#seje',
//     components: ['SearchDropdown'],
//     computed: {
//       inputPlaceholder: function() {
//         return this.selectedTags.length > 0 ? 'Izbranih delovnih teles: ' + this.selectedTags.length : 'Seje delovnih teles'
//       },
//       selectedTags: function() {
//         return this.podatki
//           .filter(function(tag) { return tag.selected })
//           .map(function(tag) { return tag.id });
//       },
//       itemsSelected() {
//         return this.allTags.filter(item => item.selected).length;
//       },
//     },
//     created: function() {
//         var self = this;
//         $.get('https://analize.parlameter.si/v1/s/getSessionsByClassification/', function(response) {
//             self.podatki = response.dt.map(function (wb) {
//                 return {
//                     id: wb.id,
//                     label: wb.name,
//                     selected: false
//                 }
//             });
//         });
//     },
//     data: function() {
//       return {
//         // allTags: voteData.all_tags.map(function(tag) {
//         //   return { id: tag, label: tag, selected: false }
//         // }),
//         podatki: [{id: 'loading', label: 'Nalagamo delovna telesa ...', selected: false}]
//       }
//     }
//   });


</script>