<div class="session-container">
    <div class="row">

        <div class="col-lg-12">
            <div class="session_types">
                <h2>Išči po vseh sejah</h2>

                <form method="get" action="/seje/isci">

                    <div class="input-group search">
                        <input type="text" class="form-control" placeholder="" name="q" value="<%=query.q;%>">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                    </div>
                </form>

                <% if((typeof query.q !== "undefined") && (query.q.length > 0)){%>
                <br><br>
                <h3 class="searchresults">Rezultati za iskalni niz "<%=query.q;%>"</h3>
                <% } %>

            </div>

        </div>
    </div>
</div>