<% include ../_partials/header.ejs %>

<% include ./_header.ejs %>

<div class="col-md-12">
  <%- 'views.glasovanjaPoslanec' %>
</div>
<div class="col-md-6">
  <%- 'views.najveckratEnako' %>
</div>
<div class="col-md-6">
  <%- 'views.najmanjkratEnako' %>
</div>
<div class="col-md-6">
  <%- 'views.neujemanjeSPs' %>
</div>

<% include ../_partials/footer.ejs %>
