<% include partials/header.ejs %>

<div class="col-md-10 col-md-offset-1" id="about">
    <div class="lead-text-container">
        <a href="/o-projektu" class="lead-text">Parlameter je orodje, ki z analizo glasovanj in transkriptov nastopov lajša spremljanje dela v državnem zboru.&nbsp;</a>
    </div>
</div>

<div class="col-md-12 ">
    <%- views.zadnjaSeja %>
</div>
<div class="col-md-12 ">
    <%- views.kompas %>
</div>
<div class="col-md-12 ">
    <%- views.besedniZaklad %>
</div>

<% include partials/footer.ejs %>