name: Build and publish Docker image
on:
  push:
    branches:
      - 'ljubljana'
jobs:
  push_to_registry:
    name: Build and push Docker image to registry
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Scaleway
        uses: docker/login-action@v2
        with:
          registry: rg.fr-par.scw.cloud/djnd
          username: nologin
          password: ${{ secrets.SCW_SECRET_TOKEN }}

      - name: Build and push parlassets
        uses: docker/build-push-action@v3
        with:
          context: .
          file: dockerfiles/parlafront.Dockerfile
          target: parlassets
          build-args: |
            VITE_PARLASSETS_URL=https://cdn.ljubljana.parlameter.si
          push: true
          tags: |
            rg.fr-par.scw.cloud/djnd/parlassets-ljubljana:${{ github.sha }}
            rg.fr-par.scw.cloud/djnd/parlassets-ljubljana:latest

      - name: Build and push parlacards
        uses: docker/build-push-action@v3
        with:
          context: .
          file: dockerfiles/parlafront.Dockerfile
          target: parlacards
          build-args: |
            VITE_PARLASSETS_URL=https://cdn.ljubljana.parlameter.si
          push: true
          tags: |
            rg.fr-par.scw.cloud/djnd/parlacards-ljubljana:${{ github.sha }}
            rg.fr-par.scw.cloud/djnd/parlacards-ljubljana:latest

      - name: Build and push parlasite
        uses: docker/build-push-action@v3
        with:
          context: .
          file: dockerfiles/parlasite.Dockerfile
          push: true
          tags: |
            rg.fr-par.scw.cloud/djnd/parlasite-ljubljana:${{ github.sha }}
            rg.fr-par.scw.cloud/djnd/parlasite-ljubljana:latest

      - name: Update image versions in kustomize/kustomization.yaml
        run: |
          sed -i "s/newTag: .*\+/newTag\: '${{ github.sha }}'/" kustomize/kustomization.yaml

      - name: Commit and push new image versions
        uses: EndBug/add-and-commit@v9
        with:
          add: '.'
          message: 'Update image versions in kustomize/kustomization.yaml'
